{% extends "content.html" %}

{% load static compress wagtailcore_tags wagtailadmin_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}component-sidebar{% endblock %}

{% block sidebar %}
    <div id="sidebar">
        <a class="blog-index-button" href="#blog-index">blog index<span class="fa fa-angle-down"></span></a>
        <h2>Blog</h2>
        <ul id="blog-index">
            {% for sibling in self.siblings %}
                <li>
                    <a href="{% pageurl sibling %}">
                        <span class="date">{{ sibling.date|date }}</span>
                        <span class="title">{{ sibling.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container">
            
            <div class="date"><span>{{ self.date|date }}<span></div>
            <div class="heading"><h1>{{ self.title }}</h1></div>
            <div class="intro"><p>{{ self.introduction }}</p></div>

            <div class="author">
                <span class="image">
                    {% image self.author.image fill-55x55 alt=self.author.name %}
                </span>
                <span class="details">
                    <a class="name" href="{{ self.author.url }}">{{ self.author_name }}</a>
                    <span class="role">{{ self.author.job_title }}</span>
                </span>
            </div>

            {% image self.main_image original %}
            {% include "core/includes/streamfield.html" with content=self.body %}
        </div>
    </div>

    {% include "core/includes/share.html" %}

{% endblock %}
