{% extends "content.html" %}

{% load static compress wagtailadmin_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}component-sidebar{% endblock %}

{% block sidebar %}
    <div id="sidebar">
        <h2>Blog</h2>
        <ul>
            <li>
                <a href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Wagtail 0.5: image is everything (but there’s more)</h3>
                </a>
            </li>
            <li>
                <a class="active" href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Getting started in Wagtail, a newcomer's perspective</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Wagtail 1.0... beta1</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Team meeting notes 3 Mar 2015</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Take a look at the Wagtail Launch Event</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Wagtail 0.5: image is everything (but there’s more)</h3>
                </a>
            </li>
            <li>
                <a class="active" href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Getting started in Wagtail, a newcomer's perspective</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Wagtail 1.0... beta1</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Team meeting notes 3 Mar 2015</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="label">12 March 2015</p>
                    <h3>Take a look at the Wagtail Launch Event</h3>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    {% if self.main_image %}
        {% responsiveimage self.main_image fill-1600x900 srcset="fill-320x180 320w, fill-480x270 480w, fill-600x337 600w, fill-1024x576 1024w, fill-1600x900 1600w" sizes="100vw" %}
    {% endif %}

    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
    <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
    <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
    <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
    <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
    <p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
    <p>Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth strategies and interoperable internal or "organic" sources.</p>
    <p>Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks.</p>

    {% include "core/includes/share.html" %}

{% endblock %}