{% extends "content.html" %}

{% load static compress wagtailcore_tags wagtailadmin_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}component-sidebar{% endblock %}

{% block sidebar %}
    <div id="sidebar">
        <h2>Blog</h2>
        <ul>
            <li>
                {% for sibling in self.siblings %}
                    <a href="{% pageurl sibling %}">
                        <p class="label">{{ sibling.date|date }}</p>
                        <h3>{{ sibling.title }}</h3>
                    </a>
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
		<div class="blog">
		    <div class="col-25">

		    </div>

		    <div class="col-62point5">

		        <p class="label">{{ self.date|date }}</p>
		        <h1>{{ self.title }}</h1>
		        <h2 class="intro dropcap">{{ self.introduction }}</h2>

		        <div class="author">
		            {% image self.author.image fill-55x55 alt=self.author.name %}
		            <div class="text">
		                <p><a href="{{ self.author.url }}">{{ self.author.name }}</a></p>
		                <small>{{ self.author.job_title }}</small>
		            </div>
		        </div>
                {% image self.main_image original %}
                {% include "core/includes/streamfield.html" with content=self.body %}
		    </div>
		</div>
	</div>

    {% include "core/includes/share.html" %}

{% endblock %}
