{% extends "content.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container">
        <div class="description">
            <h1>{{ self.title }}</h1>

            {% if self.introduction %}
                <p>{{ self.introduction }}</p>
            {% endif %}

            {% if self.body_heading %}
                <h2>{{ self.body_heading }}</h2>
            {% endif %}

            {% if self.body %}
                <div class="get-started">
                    {{ self.body|richtext }}
                </div>
            {% endif %}
        </div>
       
        <ul class="block-list">
            {% for option in self.options.all %}
                <li>
                    <a href="{{ option.link }}">
                        <i class="fa {{ option.icon }} fa-3x"></i>
                        <h3>{{ option.title }}</h3>
                        <p>{{ option.summary }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
        
    </div>
{% endblock %}
