{% extends "content.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="page-content index">
        <div class="container">
            <div>
                <h1>{{ self.title }}</h1>
                <p>{{ self.introduction }}</p>
                <ul class="subnav">
                    {% for option in self.secondary_menu_options.all %}
                        <li><a href="{% pageurl option.link %}">{{ option.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <ul class="features-list">
                    {% for feature in self.features %}
                        <li class="new">
                            <a href="{% pageurl feature %}">
                                {% image feature.specific.listing_image fill-115x90 %}
                                <h3>{{ feature.specific.title }}</h3>
                                <p>{{ feature.specific.introduction }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
 {% endblock %}
