{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}{% endblock %}

{% block content %}

<h1>Wagtail Django CMS Homepage</h1>

{% include_block page.body %}

<section class="pane__latest">

    <h2>Latest from the blog</h2>

    <div class="row">

        {% for blog_post in blog_posts|slice:":3" %}
            <article>
                <a href="{% pageurl blog_post %}">
                    <div class="image-container"
                        {% if blog_post.listing_image or blog_post.main_image %}
                            {% image blog_post.listing_image|default:blog_post.main_image fill-360x400 as bg_image %}
                            style="background-image: url({{ bg_image.url }});"
                        {% else %}
                            style="background-image: url({% static 'img/hero_bg_3.jpg' %});"
                         {% endif %}
                        >
                    </div>
                    <div class="text-container">
                        <p class="date">{{ blog_post.date|date }}</p>
                        <h3>{{ blog_post.title }}</h3>
                        <!-- <p>{{ blog_post.introduction|truncatechars:225 }}</p> -->
                    </div>
                </a>
            </article>
        {% endfor %}

    </div> <!-- /row -->

</section> <!-- /latest -->

{% include "core/includes/contact_torchbox.html" %}
{% endblock %}

{% block extra_js %}
{% endblock %}
