{% extends "content.html" %}

{% load static wagtailio_utils %}

{% block body_class %}{% endblock %}

{% block content %}
    <div id="hero" class="carousel">
        <div class="slide">
            <h3>It's versatdive</h3>
            <p>Elegant. Open source. Easy. Wagtail is the new CMS from Torchbox.</p>
            <a href="#">Check out the features</a>
            <div class="image">
                <img src="{% static "img/tmp/carousel_placeholder.png" %}" alt="" />
                <a href="#">Watch demo</a>
            </div>
        </div>
        <div class="slide">
            <h3>It's versatdive</h3>
            <p>Elegant. Open source. Easy. Wagtail is the new CMS from Torchbox.</p>
            <a href="#">Check out the features</a>
            <div class="image">
                <img src="{% static "img/tmp/carousel_placeholder.png" %}" alt="" />
                <a href="#">Watch demo</a>
            </div>
        </div>
        <div class="slide">
            <h3>It's versatdive</h3>
            <p>Elegant. Open source. Easy. Wagtail is the new CMS from Torchbox.</p>
            <a href="#">Check out the features</a>
            <div class="image">
                <img src="{% static "img/tmp/carousel_placeholder.png" %}" alt="" />
                <a href="#">Watch demo</a>
            </div>
        </div>
    </div>
{% endblock %}

