{% load wagtailcore_tags wagtailimages_tags %}

<figure class="standalone-quote grid">
    <svg class="standalone-quote__icon" aria-hidden="true">
        <use xlink:href="#quotes" />
    </svg>
    <blockquote class="standalone-quote__text heading-three">
        <p>&ldquo;{{ value.quote }}&rdquo;</p>
    </blockquote>
    <figcaption class="standalone-quote__meta">
        {% if value.author_image %}
            {% image value.author_image fill-40x40 class="standalone-quote__image" %}
        {% endif %}
        <div class="mini-meta">{{ value.author|richtext }}</div>
    </figcaption>
</figure>
