{% extends "base.html" %}

{% load static compress wagtailadmin_tags wagtailcore_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}template-services{% endblock %}

{% block content %}

    <section class="hero hero--services">

        <div class="hero__container">

            <div class="text-container">
                <h2>Wagtail developer support service</h2>
                <p>Expert support and consultancy from the creators of Wagtail</p>

                <span class="text-container__intro">
                    We provide a tiered support service, giving your in-house developers direct access to the creators of Wagtail...
                </span>
            </div> <!-- /text-container -->

            <svg class="screenshot">
                <use xlink:href="#tbx-flame"></use>
            </svg>

        </div>

    </section> <!-- /hero -->

    <div class="page-content">

        <div class="grid grid--services">
            <div class="service__block">
                <svg class="service__block-icon">
                    <use xlink:href="#tooling"></use>
                </svg>
                <p class="service__block-copy">
                    Set up your infrastructure and tooling
                </p>
            </div>
            <div class="service__block">
                <svg class="service__block-icon">
                    <use xlink:href="#architecture"></use>
                </svg>
                <p class="service__block-copy">
                    Ensure the best architecture for your project
                </p>
            </div>
            <div class="service__block">
                <svg class="service__block-icon">
                    <use xlink:href="#review"></use>
                </svg>
                <p class="service__block-copy">
                    Carry out code reviews and pair programming
                </p>
            </div>
            <div class="service__block">
                <svg class="service__block-icon">
                    <use xlink:href="#api"></use>
                </svg>
                <p class="service__block-copy">
                    Improve workflows and API configuration
                </p>
            </div>
            <div class="service__block">
                <svg class="service__block-icon">
                    <use xlink:href="#develop"></use>
                </svg>
                <p class="service__block-copy">
                    Develop or support complex features
                </p>
            </div>
            <div class="service__block">
                <svg class="service__block-icon">
                    <use xlink:href="#migration"></use>
                </svg>
                <p class="service__block-copy">
                    Plan and execute large-scale migrations
                </p>
            </div>
            <div class="service__block">
                <svg class="service__block-icon">
                    <use xlink:href="#more"></use>
                </svg>
                <p class="service__block-copy">
                    ...and much more
                </p>
            </div>
        </div>

        <div class="services__button">
            <a href="/" class="button button--hover">
                Find out more and how to sign up here

                <svg width="24" height="24" class="button__icon">
                    <use xlink:href="#block-arrow"></use>
                </svg>
            </a>
        </div>
    </div>

    {% include "core/includes/share.html" %}

{% endblock %}
