{% extends "base.html" %}

{% load static compress wagtailadmin_tags wagtailcore_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}{% endblock %}

{% block content %}

    <div class="page-content">

        <header class="page-heading ">

            <h1 class="page-heading__heading">{{ page.title }}</h1>

            <div class="page-heading__introduction">
                {{ page.introduction }}
            </div> <!-- /introduction -->

        </header> <!-- /page-heading -->

    	<div class="container">
	        {% include_block page.body %}
        </div>
    </div>

    {% include "core/includes/contact_torchbox.html" %}
    {% include "core/includes/share.html" %}

{% endblock %}
