{% extends "base.html" %}

{% load static compress wagtailadmin_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}{% endblock %}

{% block content %}

    <div class="page-content">

        <header class="page-heading pane__contours">

            <h1>{{ self.title }}</h1>

            <div class="introduction">
                {{ self.introduction }}
            </div> <!-- /introduction -->

        </header> <!-- /page-heading -->

    	<div class="container">
	        {% include "core/includes/streamfield.html" with content=self.body %}
	    </div>
    </div>

    <section class="pane__hire pane__contours">

        <div class="pane__hire__container">
            <h2 class="heading--light">Need an Agency?</h2>
            <p>We got you covered. <a href="#">Torchbox</a> created Wagtail to help awesome people make great websites. We’d love to hear from you if you’d like to work together.</p>
            <a href="http://www.torchbox.com/contact" class="view-all btn btn--outline btn--outline--light">Contact Torchbox, the creators of Wagtail <svg height="30px" width="30px"><use xlink:href="#arrow"></use></svg></a>
        </div> <!-- /pane__hire__container -->

    </section> <!-- /hire -->

    {% include "core/includes/share.html" %}

{% endblock %}
