{% extends "content.html" %}

{% load static compress wagtailcore_tags wagtailadmin_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}component-sidebar{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/vendor/code-highlighting.css' %}" />{% endblock %}
{% block sidebar %}
    <div id="sidebar">
        <a class="blog-index-button" href="#blog-index">blog index<span class="fa fa-angle-down"></span></a>
        <h2>Blog</h2>
        <ul id="blog-index">
            {% for sibling in page.siblings %}
                <li>
                    <a href="{% pageurl sibling %}">
                        <span class="date">{{ sibling.date|date }}</span>
                        <span class="title">{{ sibling.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container">

            <div class="date"><span>{{ page.date|date }}<span></div>
            <div class="heading"><h1>{{ page.title }}</h1></div>
            <div class="intro"><p>{{ page.introduction }}</p></div>

            <div class="author">
                <span class="image">
                    {% image page.author.image fill-55x55 alt=page.author.name %}
                </span>
                <span class="details">
                    <a class="name" href="{{ page.author.url }}">{{ page.author.name }}</a>
                    <span class="role">{{ page.author.job_title }}</span>
                </span>
            </div>

            {% image page.main_image original %}

            {% include_block page.body %}
        </div>
    </div>

    {% include "core/includes/share.html" %}

{% endblock %}
