{% load static wagtailcore_tags %}

<li class="features__list-item feature" data-feature>
    <div class="feature__content">
        <h4 class="feature__heading">{{ value.heading }}</h4>
        <div class="feature__inner-content" aria-controls="{{ value.heading|lower }}-feature" data-feature-content>
            <div class="feature__text rich-text">{{ value.description|richtext }}</div>
            {% if value.link %}
                <a class="feature__link" href="{{ value.link }}">
                    {{ value.link_title }}
                </a>
            {% endif %}
        </div>
    </div>
</li>
