/* ============================================ 

  blog page

*/
.template-blog-page {

    $padding-top: 62px;

    .page-content {
        @include row;
        .container {

            padding-top: $padding-top;

            @include gridle_state( mobile ){
                padding-top: $padding-top + 10;
            }

            // Streamfield/RTE block standard
            > * {
                @include gridle_set((
                    grid : 11,
                    push : 0,
                    pull : 1, // makes space for fixed sharing node
                    tablet-landscape : (
                        grid : 12,
                        push : 0,
                        pull : 0
                    ),
                    tablet-portrait : (
                        grid : 12,
                        push : 0,
                        pull : 0
                    ),
                    mobile : (
                        grid : 12,
                        push : 0,
                        pull : 0,
                        no_gutter : (left, right)
                    ),
                ));
            }
            .date {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 0;
            }
            .author {
                @include author;
            }
        }
    }

}

.backers {
    .category {
        margin: 15px 0;
        h3 {
            margin: 0;
            padding: 10px;
            text-align: center;
        }
        &.gold {
            h3 {
                background: #E3B579;
                color: white;
            }
            .list .backer {
                flex-basis: 750px;
            }
        }
        &.silver {
            h3 {
                background: #CAC9C5;
                color: white;
            }
            .list .backer {
                flex-basis: 380px;
            }
        }
        &.bronze {
            h3 {
                background: #E7908D;
                color: white;
            }
            .list .backer {
                flex-basis: 250px;
            }
        }
        &.linked {
            h3 {
                background: $color-secondary-highlight;
                color: white;
            }
            .list .backer {
                font-size: 95%;
                a {
                    font-weight: bold;
                }
            }
        }
        &.named {
            .list .backer {
                padding: 4px 8px;
                font-size: 80%;
            }
        }
        .list {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around;
            margin: 15px 0 30px;
            .backer {
                flex: 0 0 190px;
                padding: 15px;
                text-align: center;
                a {
                    display: block;
                }
                img {
                    display: block;
                    margin: 0 auto;
                    width: auto;
                    max-width: 100%;
                    max-height: 150px;
                }
                .placeholder {
                    font-size: 35px;
                    font-weight: bold;
                    line-height: 1;
                    text-align: center;
                }
            }
        }
    }
}
