/* ============================================ 

  blog page

*/
.template-blog-page {

    $padding-top: 62px;

    .page-content {
        @include row;
        .container {

            padding-top: $padding-top;
            padding-bottom: $padding-top;

            // Streamfield/RTE block standard
            > * {
                @include gridle_set((
                    grid : 11,
                    push : 0,
                    pull : 1, // makes space for fixed sharing node
                    tablet-landscape : (
                        grid : 12,
                        push : 0,
                        pull : 0
                    ),
                    tablet-portrait : (
                        grid : 12,
                        push : 0,
                        pull : 0
                    ),
                    mobile : (
                        grid : 12,
                        push : 0,
                        pull : 0,
                        no_gutter : (left, right)
                    ),
                ));
            }
            .date {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 0;
            }
            .author {
                @include author;
            }
        }
    }

}
