/* ============================================

  Developers page

*/


.template-developers-page {
    background: $color-primary-highlight;

    .page-heading {
        padding-top: ($grid * 4);
        margin-bottom: ($grid * 2);
    }

    .pane__code {
        margin-bottom: ($grid * 4);
    }

}
