/* ============================================

  Developers page

*/

.template-developers-page {
  background: $color--interaction;

  .page-heading {
    padding-top: ($gutter * 4);
    margin-bottom: ($gutter * 2);
  }

  .pane__code {
    margin-bottom: ($gutter * 4);
  }
}
