/* ============================================ 

  Feature index page

*/

.template-feature-index-page {
    background: $color-primary-highlight;

    .container{
        padding-top: 3em;
        color: $color-primary-light;

        @include gridle_set((
            grid : 12
        ));
    }
    .intro{
        @include gridle( 12 );
        @include gridle( 3, desktop);
    }
    .features-list{
        @include gridle_set((
            grid : 12,
            clear_each : ( 3 , left )
        ));
        @include gridle( 12 );
        @include gridle( 9, desktop);

        > li{
            @include gridle( 12 );
            @include gridle( 4, desktop);
            padding-left:1.5%;
            padding-right:1.5%;
            margin-bottom:40px;
            text-align:center;

            a{
                @include border-radius(3px);
                display:block;
                background-color:$color-primary-light;
                text-decoration:none;
                color:$color-primary-dark;
                padding:20px;
                min-height:250px
            }
        }
        h2{
            font-weight:500;
            font-size:1.5em;
        }
    }
}