/* ============================================ 

  Feature index page AND feature page

*/


.template-feature-index-page,
.template-feature-page {
    background: $color-primary-highlight;

    small, figcaption, .label, p, span, h6, h5, .intro, blockquote, h4, h3, h2, h1 {
        margin: 0;
    }

    h4 {
        margin-bottom: 0.25em;
        font-size: 1.2em;
        font-weight: 500;
    }

    p {
        padding: 0;
        margin: 0 0 1.5em 0;
    }

    .body-content .container{
        @include row;
        text-align:left;
        padding-top: 3em;
    }
    .description{
        @include gridle( 12 );
        @include gridle( 3, desktop);
        color: $color-primary-light;
    }

    .main-content{
        @include gridle_set((
            grid : 12,
            desktop : (
                clear_each : ( 3 , left )
            )
        ));
        @include gridle( 12 );
        @include gridle( 9, desktop);
    }
}

/* ============================================ 

  Feature index page

*/

.template-feature-index-page{
    .body-content .container{
        padding-top: 3em;
        color: $color-primary-light;
    }   

    .main-content > li{
        @include gridle( 12 );
        @include gridle( 6, tablet-landscape);
        @include gridle( 4, desktop);
    }
}

/* ============================================ 

  Feature page

*/


.template-feature-page{
    .main-content {
        background: white;
        position: relative;
        border-radius: 2px;
        margin-bottom: 3em;
    }
    .feature{
        @include gridle_set((
            grid : 12
        ));
        padding: 5rem 5% 5rem;

        .intro {
            @include fontsmoothing();
            font-size: 1.4em;
            font-weight:300;
            margin-bottom: 1em;
        }
        img {
            display: inline-block;
        }
       
        .close {
            display: block;
            position: absolute;
            top: 4rem;
            right: 10px;
            color: rgba(0,0,0,0.2);
            font-size: 1.4em;
            padding: 0.5rem 1rem;
            &:hover {
                background: white;
                color: rgba(0,0,0,0.7);
            }
        }
        .row {
            margin-bottom: 2em;
        }
        .screenshot {
            @include gridle( 12 );
            @include gridle( 8, desktop);
            padding: 0 2em 0 0;
            margin: 0 0 0 0;

            img{
                width:100%;
                height:auto;
            }
        }
        .notes {
            @include gridle( 12 );
            @include gridle( 4, desktop);
            padding: 2rem 0 0 0;
            p {
                font-size: 0.9em;
            }
        }
    }
}

.features-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 10;

    &.bottom {
        top: auto;
        bottom: 0;
    }
    a {
        display: inline-block;
        background: rgba(0,0,0,0.1);
        width: 50%;
        padding: 0.75rem 1rem;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-primary-dark;
        border: 2px solid white;

        i {
            margin: 0 1rem;
        }
        &:hover {
            background: rgba(0,0,0,0.05);
        }
    }
    .back {
        border-right: none;
        border-radius: 2px 0 0 0;
    }
    .next {
        float: right;
        border-radius: 0 2px 0 0;
    }


    @include gridle_state( tablet-landscape ){
        a {
            font-size: 1em;
        }
    }
}