// New homepage for 2016

$background-color: #f4f1ea;

// Template specific

.template-homepage {
    background-color: $background-color;

    h1 {
        display: none;
    }

    p {
        margin: 0 0 15px;
    }

    .tabs {
        margin: 0 0 40px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin: 0;
                padding: 0;
            }

        }

    }

    .tab-content {
        display: none;

        &.current {
            display: inherit;
        }

    }

}

.cols {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-gap: 40px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: $color-secondary-highlight;
    color: #fff;
    //border-radius: 2px;
    //font-weight: bold;


    svg {
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        top: 3px;
        margin-left: 10px;
        fill: #fff;
    }

    &:hover {
        background: darken($color-secondary-highlight, 10%);
        color: #fff;
    }

}

// General styles


.pane {

    // List of logos
    &--logo-list {
        position: relative;
        z-index: 2;
        text-align: center;
        color: #fff;
        top: -67px; // height of h2
        margin: 0 0 -67px;

        h2 {
            display: inline-block;
            text-align: left;
            width: 100%;
            margin: 0 auto;
            font-weight: normal;
            color: rgba($white, 1);
            background: rgba($color-primary-dark, 0.8);
            padding: 20px 50px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
        }

        .carousel {
            display: none;
            background: $color-primary-dark;
            padding: 20px 40px;
            min-height: 20vh;

            img {
                display: block;
                width: 100%;
                padding: 0 40px;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }

            .owl-wrapper-outer {
                padding-top: 2%;
            }

            .owl-controls {
                position: absolute;
                top: -52px;
                right: 40px;
                text-align: center;
            }

            .owl-pagination {

                .owl-page {

                        span {
                            background-color: rgba($white, 1);
                            opacity: 1;
                        }

                        &.active {

                            span {
                                background-color: $color-primary-highlight;
                            }

                        }

                }

            }

        }

    }

    &--vertical-tabs {
        position: relative;
        z-index: 2;
        overflow: hidden;
        padding: 80px 0 0;
        background: $color-primary-highlight;
        height: 100vh;

        header {
            text-align: center;
        }

        h2 {
            color: $white;
            font-size: 42px;
            margin: 0 0 60px;
        }

        .tabs {
            float: left;
            width: 30%;
            padding: 40px 0 0 60px;

            ul {
                margin: 0 0 40px;
            }

            .view-all {
                color: $white;
                margin-left: 30px;
            }

            li {
                margin: 0 0 10px;

                a {
                    display: block;
                    padding: 20px 40px 20px 30px;
                    margin: 0 0 5px;
                    color: #555;
                    background: rgba($white, 0.2);
                    border-radius: 5px 0 0 5px;

                    &:hover {

                        p {
                            color: rgba($white, 1);
                        }

                        h3 {
                            color: rgba($white, 1);
                        }

                    }

                    &.current {

                        background: $white;

                        p {
                            color: rgba($black, 0.6);
                        }

                        h3 {
                            color: rgba($black, 1);
                        }

                        &:hover {

                            p {
                                color: rgba($black, 0.6);
                            }

                            h3 {
                                color: rgba($black, 1);
                            }

                        }

                    }


                    h3 {
                        text-transform: uppercase;
                        margin: 0 0 5px;
                        color: rgba($white, 1);
                        line-height: 1.1;
                    }

                    p {
                        margin: 0;
                        line-height: 1.4;
                        font-size: 15px;
                        color: rgba($white, 0.5);
                        transition: color .2s ease 0s;
                    }
                }

            }
        }

        .tab-content {
            float: left;
            width: 70%;
            padding-left: 0;
            padding-right: 60px;
            max-height: 70vh;

            img {
                width: 100%;
                height: auto;
            }
        }

    }

    &--code {
        position: relative;
        background: radial-gradient(ellipse at center, rgba(8,147,147,1) 0%,rgba(67,177,176,1) 100%);

        &:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 10%;
            height: 1px;
            background-color: rgba($white, 0.4);
        }

        .text-container {
            position: relative;
            z-index: 1;
            text-align: center;
            width: 40%;
            margin: 0 auto;
            padding: $grid * 5 0 $grid * 5 60px;

            h2 {
                margin-bottom: 40px;
            }

            .md-imac {
                font-size: 0.5em;
                margin: 0 auto $grid * 4;

                .wagtail-sticker {
                    position: absolute;
                    bottom: 72px;
                    right: 18px;
                    z-index: 4;
                    width: 50px;
                    height: 50px;
                    background-color: $white;
                    border-radius: 50%;
                    transform: rotate(23deg);

                    img {
                        width: 37px;
                        height: auto;
                        position: relative;
                        top: 20px;
                    }
                }
            }
        }

        pre {
            font-family: $font-primary;
            width: 60%;
            position: relative;
            top: 50%;
            transform: translateY(-57%);
            font-size: 15px;
            text-align: left;
            border-top: 10px solid $color-primary-highlight;
        }

    }

    &--horizontal-tabs {
        background-color: $color-secondary-highlight;
        background: radial-gradient(ellipse at center, rgba(8,147,147,1) 0%,rgba(67,177,176,1) 100%);
        overflow: hidden;
        padding: $grid * 4 0 0;
        margin: 0;

        h2 {
            text-align: center;
            font-size: 42px;
            color: #fff;
            margin: 0 0 $grid * 2;
        }

        .tabs {
            margin: 0 40px 0 60px;
            z-index: 3;
            position: relative;

            li {
                float: left;
                width: 25%;

                span {
                    display: block;
                    text-align: center;
                    color: #333;
                    margin-bottom: 10px;
                    font-size: 32px;
                }

                a {
                    display: block;
                    background: rgba(#e8e9eb, 0.9);
                    text-align: center;
                    font-weight: bold;
                    margin: 0 20px 40px 0;
                    padding: 40px 20px;
                    border-radius: 2px;

                    &.current {
                        background: #333;
                        color: #fff;
                        box-shadow: 0 0 20px rgba(#fff, 0.4);

                        span {
                            color: $color-secondary-highlight;
                        }
                    }
                }

            }

        }

        .tab-content {
            position: relative;
            z-index: 2;

            .text-container {
                padding: 0 60px;
                margin: 0 0 40px;
                color: #fff;

                h3 {
                    font-size: 32px;
                    //text-align: center;

                    span {
                        color: #000;
                        margin: 0 10px 0 0;
                    }
                }

            }

            .image-container {
                margin: 0 60px;
                overflow: hidden;
                max-height: 400px;

                img {
                    width: 100%;
                    height: auto;
                }

            }

        }

    }

}

.angle-container {
    overflow: hidden;
    position: relative;
    background-color: $color-secondary-highlight;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 700px 1200px 0 0;
        border-color: rgba($color-secondary-highlight, 0.85) transparent transparent transparent;
        opacity: 1;
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        right: -100px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 700px 1200px;
        border-color: transparent transparent rgba($color-secondary-highlight, 0.85) transparent;
        opacity: 1;
        z-index: 0;
    }

}



// Case studies

.case-studies {
    overflow: hidden;
    padding: 60px 0 0px;
    background: $background-color;

    .tabs {
        float: left;
        width: 40%;
        padding-left: 60px;
        margin: 0 0 40px;

        p {
            margin: 0 0 40px;
            color: rgba(#000, 0.6);
        }

        h2 {
            font-size: 36px;
            line-height: 1.2;
        }

        ul {

            li {
                float: left;
                width: 50%;
                padding-right: 20px;
                margin-bottom: 20px;

                &.current {

                    a {
                        background: #e8e9eb;
                    }

                    img {
                        opacity: 1;
                    }

                }

                a {
                    display: block;
                    background: #fff;

                    img {
                        display: block;
                        width: 100%;
                        max-width: 100px;
                        margin: 0 auto;
                        height: auto;
                        opacity: 0.7;
                    }

                    &:hover {
                        background: #e8e9eb;

                        img {
                            opacity: 0.8;
                        }

                    }

                }

            }

        }
    }

    .tab-content {
        float: left;
        width: 60%;
        padding-left: 40px;
        position: relative;

        .image-container {
            padding-right: 60px;

            img {
                width: 100%;
                height: auto;
            }

        }

        .text-container {
            position: absolute;
            bottom: 40px;
            left: 40px;
            background: rgba(#333, 0.95);
            padding: 10px 20px;

            a {
                display: block;

                h3 {
                    margin: 0 0 5px;
                    font-size: 36px;
                    color: $color-secondary-highlight;

                    &:hover {
                        color: #fff;
                    }

                }

                p {
                    color: #fff;
                    margin: 0 0 5px;
                }

            }

        }

    }

}

// Latest blogs

.latest {
    overflow: hidden;
    padding: 80px 60px 40px;
    background: #fff;

    h2 {
        //display: none;
        //text-align: center;
        margin: 0 0 40px 0;
        font-size: 32px;
    }

    article {
        float: left;
        width: 50%;
        overflow: hidden;
        margin: 0 0 30px;

        a {

            .image-container {
                width: 30%;
                float: left;

                img {
                    width: 100%;
                    height: auto;
                }

            }

            .text-container {
                width: 70%;
                float: left;
                padding: 20px 0 20px 30px;

                h3 {
                    margin: 0;
                }

                p {
                    margin: 0;
                    color: #333;

                    &.date {
                        color: #777;
                    }

                }

            }

        }

    }

}

footer {
    display: none;
}

.page .body footer.global {
    display: block;
    overflow: hidden;
    //margin-bottom: 200px;
    padding: 60px;
    text-align: left;
    background: #111;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    h2 {
        text-transform: uppercase;
        font-size: 16px;
        margin: 0 0 10px;
        color: #fff;
    }

    nav {
        display: inline-block;
        width: 20%;
        text-align: left;
        margin: 0 30px 30px 0;

        ul {
            //border-top: 1px solid rgba(white, 0.2);
            padding-top: 5px;

            li {
                margin: 0 0 5px;
                padding: 0 0 5px;
                font-size: 14px;
                line-height: 1.8;
                //border-bottom: 1px solid rgba(white, 0.2);

                a {
                    display: block;
                    transition: all 0.2s ease-in;
                    background: transparent;
                }

            }

        }

    }

    .footer-footer {
        clear: both;
        text-align: left;
        padding-top: 30px;
        font-size: 13px;

        li {
            display: inline-block;

            &:last-child {
                text-align: right;
                float: right;

                img {
                    display: block;
                    width: 110px;
                }
            }

        }

    }

}
