// New homepage for 2016

$background-color: #f4f1ea;

// Template specific

.template-homepage {
    background-color: $background-color;

    h1 {
        display: none;
    }

    p {
        margin: 0 0 $grid;
    }

}

// .cols {
//     column-count: 3;
//     -webkit-column-count: 3;
//     -moz-column-count: 3;
//     column-gap: 40px;
//     -webkit-column-gap: 40px;
//     -moz-column-gap: 40px;
// }

// .angle-container {
//     overflow: hidden;
//     position: relative;
//     background-color: $color-secondary-highlight;
//
//     &:before {
//         content: '';
//         position: absolute;
//         top: 0px;
//         left: 0px;
//         width: 0;
//         height: 0;
//         border-style: solid;
//         border-width: 700px 1200px 0 0;
//         border-color: rgba($color-secondary-highlight, 0.85) transparent transparent transparent;
//         opacity: 1;
//         z-index: 1;
//     }
//
//     &:after {
//         content: '';
//         position: absolute;
//         bottom: 0px;
//         right: -100px;
//         width: 0;
//         height: 0;
//         border-style: solid;
//         border-width: 0 0 700px 1200px;
//         border-color: transparent transparent rgba($color-secondary-highlight, 0.85) transparent;
//         opacity: 1;
//         z-index: 0;
//     }
//
// }
