// New homepage for 2016

$background-color: #f4f1ea;

// Template specific

.template-homepage {
    background-color: $background-color;

    h1 {
        display: none;
    }

    p {
        margin: 0 0 15px;
    }

    .tabs {
        margin: 0 0 40px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin: 0;
                padding: 0;
            }

        }

    }

    .tab-content {
        display: none;

        &.current {
            display: inherit;
        }

    }

}

.cols {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-gap: 40px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: $color-secondary-highlight;
    color: #fff;
    //border-radius: 2px;
    //font-weight: bold;


    svg {
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        top: 3px;
        margin-left: 10px;
        fill: #fff;
    }

    &:hover {
        background: darken($color-secondary-highlight, 10%);
        color: #fff;
    }

}

// General styles

.hero {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    height: 600px;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0px;
        right: -100px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 700px 1200px;
        border-color: transparent transparent rgba($color-primary-highlight, 0.85) transparent;
        opacity: 1;
        z-index: 0;
    }

    .text-container {
        width: 40%;
        position: relative;
        z-index: 2;
        padding: 40px 60px;

        h2 {
            font-size: 16px;
            text-transform: uppercase;
            //font-weight: normal;
            color: #222;
            color: $color-secondary-highlight;
        }

        p {
            font-size: 42px;
            color: rgba(#000, 1);
            font-weight: bold;
            line-height: 1.1;
            margin: 0 0 40px;
        }

    }

    .screenshot {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 40px;
        width: 50%;
        height: 80%;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

    }

    .actions {

        a {
            float: left;
            margin: 0 20px 0 0;
            padding: 20px;
            width: 140px;
            height: 140px;
            line-height: 1.2;
            display: block;
            background: $color-secondary-highlight;
            color: #fff;
            font-weight: bold;
            position: relative;

            &:first-child {

                svg {
                    transform:rotate(-90deg);
                }

                &:hover {

                    svg {
                        right: 15px;
                        bottom: 20px;
                    }

                }

            }

            &:hover {
                background: darken($color-secondary-highlight, 20%);

                svg {
                    bottom: 15px;
                }

            }

            span {
                display: block;
                font-weight: normal;
            }

            svg {
                position: absolute;
                transition: all 0.2s ease-in;
                bottom: 20px;
                right: 20px;
                fill: #fff;
                width: 30px;
                height: 30px;
            }
        }

    }

}


// Testimonial
.testimonial {
    padding: 80px 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(#000, 0.2);
    text-align: center;
    background-color: #333;
    background-size: cover;
    color: #fff;

    span {
        color: $color-secondary-highlight;
    }

    blockquote {
        font-size: 28px;

        cite {
            margin-top: 10px;
            font-size: 16px;
            display: block;
            color: rgba(#fff,0.6);

            a {
                background: rgba($color-secondary-highlight, 0.6);
                color: #fff;
                padding: 5px 10px;

                &:hover {
                    background: darken($color-secondary-highlight, 20%);
                }

            }
        }

    }

}

// List of logos
.company-showcase {
    //overflow: hidden;
    margin: 0;
    position: relative;
    z-index: 2;
    padding: 60px 40px;
    text-align: center;
    //border-bottom: 1px solid rgba(#000, 0.2);
    background: #fff;
    color: #fff;

    .text-container {

        h2 {
            font-weight: normal;
            color: rgba(#000, 0.4);
        }

        p {
            color: rgba(#fff, 0.7);
        }

    }

    .image-container {

        div {
            overflow: hidden;
            display: inline-block;
            width: 16.6666%;
            text-align: center;
            margin-bottom: 40px;

            img {
                width: 60%;
                height: auto;
                display: block;
                margin: 0 auto;
                opacity: 0.8;
            }

        }

    }


}

// Footprints
.footprints {
    position: relative;
    z-index: 2;
    padding: 40px 0;

    .footprint-one,
    .footprint-two,
    .footprint-three,
    .footprint-four {
        position: absolute;
        fill: rgba(#000, 0.3);
        transform: rotate(-130deg);
        left: 10%;
        top: 20px;
        z-index: 1;

        svg {
            width: 120px;
            height: 120px;
        }

    }

    .footprint-two {
        fill: rgba(#000, 0.2);
        left: 30%;
        top: -20px;
        transform: rotate(-100deg);
    }

    .footprint-three {
        fill: rgba(#000, 0.15);
        left: 55%;
        top: -60px;
        transform: rotate(-130deg);
    }

    .footprint-four {
        fill: rgba(#000, 0.1);
        left: 80%;
        top: -160px;
        transform: rotate(-160deg);
    }

}


// Wagtail features

.features {
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 60px 0 0;

    .tabs {
        float: left;
        width: 40%;
        padding-left: 60px;

        li {

            &.current {

                a {
                    background: $color-primary-highlight;
                    color: #fff;
                }

            }

            a {
                display: block;
                padding: 10px 20px;
                margin: 0 0 5px;
            }

        }
    }

    .tab-content {
        float: left;
        width: 60%;
        padding-left: 40px;
        max-height: 100vh;
    }

}

// You'll all love it

.user-groups {
    overflow: hidden;
    padding: 60px 0 0;
    margin: 0;
    background: $color-secondary-highlight;

    h2 {
        text-align: center;
        font-size: 42px;
        color: #fff;
    }

    .footprints {
        transform: rotate(208deg);
        z-index: 1;
    }

    .tabs {
        margin: 0 40px 0 60px;
        z-index: 2;
        position: relative;

        li {
            float: left;
            width: 25%;

            span {
                display: block;
                text-align: center;
                color: #333;
                margin-bottom: 10px;
                font-size: 32px;
            }

            &.current {

                a {
                    background: #333;
                    color: #fff;
                    box-shadow: 0 0 20px rgba(#fff, 0.4);

                    span {
                        color: $color-secondary-highlight;
                    }

                }

            }

            a {
                display: block;
                background: rgba(#e8e9eb, 0.9);
                text-align: center;
                font-weight: bold;
                margin: 0 20px 40px 0;
                padding: 40px 20px;
                border-radius: 2px;
            }

        }

    }

    .tab-content {

        .text-container {
            padding: 0 60px;
            margin: 0 0 40px;
            color: #fff;

            h3 {
                font-size: 32px;
                //text-align: center;

                span {
                    color: #000;
                    margin: 0 10px 0 0;
                }
            }

        }

        .image-container {
            margin: 0 60px;
            overflow: hidden;
            max-height: 400px;

            img {
                width: 100%;
                height: auto;
            }

        }

    }

}

// Case studies

.case-studies {
    overflow: hidden;
    padding: 60px 0 0px;
    background: $background-color;

    .tabs {
        float: left;
        width: 40%;
        padding-left: 60px;
        margin: 0 0 40px;

        p {
            margin: 0 0 40px;
            color: rgba(#000, 0.6);
        }

        h2 {
            font-size: 36px;
            line-height: 1.2;
        }

        ul {

            li {
                float: left;
                width: 50%;
                padding-right: 20px;
                margin-bottom: 20px;

                &.current {

                    a {
                        background: #e8e9eb;
                    }

                    img {
                        opacity: 1;
                    }

                }

                a {
                    display: block;
                    background: #fff;

                    img {
                        display: block;
                        width: 100%;
                        max-width: 100px;
                        margin: 0 auto;
                        height: auto;
                        opacity: 0.7;
                    }

                    &:hover {
                        background: #e8e9eb;

                        img {
                            opacity: 0.8;
                        }

                    }

                }

            }

        }
    }

    .tab-content {
        float: left;
        width: 60%;
        padding-left: 40px;
        position: relative;

        .image-container {
            padding-right: 60px;

            img {
                width: 100%;
                height: auto;
            }

        }

        .text-container {
            position: absolute;
            bottom: 40px;
            left: 40px;
            background: rgba(#333, 0.95);
            padding: 10px 20px;

            a {
                display: block;

                h3 {
                    margin: 0 0 5px;
                    font-size: 36px;
                    color: $color-secondary-highlight;

                    &:hover {
                        color: #fff;
                    }

                }

                p {
                    color: #fff;
                    margin: 0 0 5px;
                }

            }

        }

    }

}

// Latest blogs

.latest {
    overflow: hidden;
    padding: 80px 60px 40px;
    background: #fff;

    h2 {
        //display: none;
        //text-align: center;
        margin: 0 0 40px 0;
        font-size: 32px;
    }

    article {
        float: left;
        width: 50%;
        overflow: hidden;
        margin: 0 0 30px;

        a {

            .image-container {
                width: 30%;
                float: left;

                img {
                    width: 100%;
                    height: auto;
                }

            }

            .text-container {
                width: 70%;
                float: left;
                padding: 20px 0 20px 30px;

                h3 {
                    margin: 0;
                }

                p {
                    margin: 0;
                    color: #333;

                    &.date {
                        color: #777;
                    }

                }

            }

        }

    }

}

footer {
    display: none;
}

.page .body footer.global {
    display: block;
    overflow: hidden;
    //margin-bottom: 200px;
    padding: 60px;
    text-align: left;
    background: #111;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    h2 {
        text-transform: uppercase;
        font-size: 16px;
        margin: 0 0 10px;
        color: #fff;
    }

    nav {
        display: inline-block;
        width: 20%;
        text-align: left;
        margin: 0 30px 30px 0;

        ul {
            //border-top: 1px solid rgba(white, 0.2);
            padding-top: 5px;

            li {
                margin: 0 0 5px;
                padding: 0 0 5px;
                font-size: 14px;
                line-height: 1.8;
                //border-bottom: 1px solid rgba(white, 0.2);

                a {
                    display: block;
                    transition: all 0.2s ease-in;
                    background: transparent;
                }

            }

        }

    }

    .footer-footer {
        clear: both;
        text-align: left;
        padding-top: 30px;
        font-size: 13px;

        li {
            display: inline-block;

            &:last-child {
                text-align: right;
                float: right;

                img {
                    display: block;
                    width: 110px;
                }
            }

        }

    }

}
