
/* ============================================ 

  Homepage

*/

.template-home-page {

    background: $color-primary-bg;
    color: $color-primary-dark;
    
    section {
        overflow: hidden;
        position: relative; 

        @include gridle_state( desktop ){
            background: $color-primary-highlight;
            h2 {
                color: $color-primary-light;
            }

            // Use border to create shape
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent transparent $color-primary-bg transparent;
                border-width: 0 0 1200px 2100px;
            }

            // Position immediate elements ontop of the border
            > * {
                position: relative;
                z-index: 2;
            }
        }

        // Introduce carousel content in an elegant way (preventing FOUC)
        // opacity: 0; <- defined inline in template to ensure it is applied immediately
        @include transition( 
            opacity 350ms linear
        );

    }

    // Styles for when carousel has loaded
    &.carousel-loaded section {
        opacity: 1;
    }
}

/* ============================================ 

  Hero carousel

  Note: not exactly sure where to put own carousel styling (as it is currently mixed here and within the vendor directory)

*/
#hero {

    @include row;

    background: $color-primary-highlight;
    @include gridle_state( desktop ){
        background: transparent;
    }

    .carousel {

        @include gridle_set((
            grid : 12,
            mobile : (
                no_gutter : (left, right)
            )
        ));

        color: $color-primary-light; // ensure by default text is readable ontop of BG
        padding-top: 45px;
        padding-bottom: 45px;

        @include gridle_state( tablet-portrait mobile ){ 
            padding-top: 30px;
            padding-bottom: 30px;
        }

        // Owl carousel styling (could go in owl carousel CSS files?)
        .owl-controls {
            width: 100%;
            margin: 0;

            // pagination item
            .owl-page {

                box-sizing: border-box;
                padding: 0 30px;
                overflow: hidden;

                color: $color-primary-dark;

                @include transition( color $anim-speed-primary linear );

                @include gridle_state( tablet-portrait mobile ){
                    padding: 0 15px;
                }

                // hide default owl carousel buttons
                span { display: none; }

                h1 {
                    
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0 0 10px;
                    line-height: 1.5;
                    color: rgba( $color-primary-dark, 0.8 );

                    @include transition( color $anim-speed-primary linear );

                    @include gridle_state( tablet-portrait mobile  ){
                        font-size: 14px;
                        margin: 0 0 3px;
                    }
                }
            
                .progressBar {
                    background: rgba( $color-primary-light, 0.2 );
                    width: 100%;
                    height: 4px;

                    // Position progress bar outside of item by default
                    @include transform( translate3d( 0, 100%, 0 ) );
                    // Animate bar position in
                    @include transition( all $anim-speed-primary linear );

                    .bar {
                        background: $color-primary-light;
                        height: 4px;
                    }
                }
                
                &:hover {
                    h1 {
                        color: $color-primary-light;
                    }
                }
                &.active {

                    h1 {
                        color: $color-primary-light;
                    }
                    .progressBar {
                        @include transform( translate3d( 0, 0, 0 ) );
                    }
                }

            }
        }

        // Slide styling (create mixin to avoid pyramid of doom)
        .slide {

            text-align: center;
            @include clearfix;

            padding-top: 45px;

            @include gridle_state( desktop ){
                @include flexbox;
                @include align-items( center );
            }

            @include gridle_state( tablet-portrait mobile ){
                padding-top: 15px;
            }

            // -webkit-perspective: 1000px;
            .text {
                h3 {
                    font-size: 56px;
                    margin: 0 0 14px;
                    @include gridle_state( tablet-portrait mobile ){
                        margin: 0 0 7px;
                    }
                }
                p {
                    font-size: 24px;
                    font-weight: 300;
                    margin: 0 0 24px 0;
                    @include font-smoothing;
                    @include gridle_state( tablet-portrait mobile ){
                        font-size: 20px;
                    }
                }
                .cta {
                    @include button(
                        $padding: 10px 16px 9px,
                        $color: $color-primary-dark,
                        $color-hover: $color-primary-light,
                        $border-opacity: 1
                    );
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: uppercase;
                    margin-bottom: 24px;
                    // icon alignment
                    vertical-align: top;
                    line-height: 1.7;
                    .icon {
                        font-size: 20px;
                    }
                    @include gridle_state( tablet-portrait mobile ){
                        font-size: 13px;
                        .icon {
                            font-size: 17px;
                            line-height: 19px;
                        }
                    }
                }
                @include gridle( 12 );
                @include gridle_state( desktop ){
                    @include gridle( 6 );
                    text-align: left;
                }
            }
            .image {
                position: relative;
                img {
                    width: 100%;
                }
                a {
                    // not an ideal method for centering...
                    position: absolute;
                    top: 50%; left: 50%;
                    @include transform( translate3D( -50%, -50%, 0 ) );

                    @include button(
                        $color: $color-primary-dark,
                        $color-hover: $color-primary-light
                    );
                    // Quick hack to override mixin... 
                    background: $color-primary-dark;
                    color: $color-primary-light;
                    &:hover {
                        color: $color-primary-highlight;
                    }
                    @include gridle_state( tablet-portrait mobile ){
                        font-size: 12px;
                    }

                }
                @include gridle( 12 );
                @include gridle( 6, desktop );
            }
        }
    }
}

/* ============================================ 

  Examples carousel

*/
#examples {

    @mixin title {
        font-size: 32px;
        font-weight: 400;
        @include gridle_state( tablet-portrait mobile ){
            text-align: center;
            font-size: 24px;
            line-height: 1.3;
        }
    }

    @include row;

    h2 {
        @include title;
        @include gridle( 12 );
    }

    .carousel {

        text-align: center;
        @include clearfix;
        @include gridle( 12 );

        position: relative;
        overflow: hidden;

        .owl-controls {

            position: absolute;
            top: 0px; right: 0px;
            z-index: 10;

            .owl-page {
                float: left;
                clear: left;
            }
        }
        .owl-wrapper-outer {
            @include gridle_set( (
                grid : 12,
                no_gutter : (left right) 
            ));

            .owl-item {

            }
        }

        .slide {

            overflow: hidden;
            padding-bottom: 45px;

            > .image {

                // @include gridle( 12 );
                // @include gridle( 8, desktop );
                // // no_gutter : (left right) 

                @include gridle_set((
                    grid : 12,
                    no_gutter : (left),
                    desktop : (
                        grid : 8
                    )
                ));

                img {
                    width: 100%;
                }
            }
            .text {

                @include gridle( 12 );
                @include gridle( 4, desktop );

                @include gridle_state( desktop ){
                    text-align: left;
                }

                h3 {
                    @include title;
                }
                p {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 1.5;
                }
                .author {

                    text-align: left;
                    @include author( $inline: false, $responsive: true );

                    a {
                        color: $color-primary-highlight;
                        text-decoration: none;
                    }
                }
                > a {
                    @include external-link;
                    font-weight: 400;
                    display: inline-block;
                    margin: 5px 0 0 69px;
                    @include gridle_state( tablet-portrait mobile ){
                        margin-left: -20px;
                    }
                }
            }
        }
    }
}