// Template specific

.template-newsletter-index-page {
  .page-content {
    margin-left: auto;
    margin-right: auto;

    @include gridle_state(desktop) {
      width: 60%;
    }

    h1 {
      margin-top: 0.5em;
      color: $headingColor;
    }

    div.introduction {
      color: $bodyColor;
    }

    ul.listing {
      padding-left: $grid;
      padding-right: $grid;
      list-style-type: none;

      a {
        color: $bodyColor;
      }

      h2 {
        font-size: 27px;
        margin-bottom: 5px;
      }

      li {
        margin-top: 20px;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    a.pagination {
      color: $color--white;
      display: block;
      margin-bottom: 30px;
    }
  }
}
