/* ============================================

  Services page

*/
.template-services-page {

  color: $color--primary;

  .page-content {
    margin: 0 $gutter;
    padding: 112px 0 0;

    h2,
    h3,
    h4 {
      text-align: left;
      max-width: 800px;
      margin: 0 auto ($gutter);
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 21px;
    }

    h4 {
      font-size: $gutter;
    }
  }

  .page-heading {
    text-align: left;

    &__content {
      margin: 0 auto;
      max-width: calc(1440px - 286px - 210px);
    }

    &__heading {
      margin: 0 0 24px;
      max-width: 800px;
      font-size: 72px;
      line-height: 1;
    }

    &__introduction {
      margin: 0 0 24px;
      max-width: 800px;
      font-size: 24px;
    }

    &__links {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .cards-section {
    display: flex;
    height: 332px;
    align-items: stretch;
  }

  .card {
    width: 280px;
    border: 1px solid $color--border-light;

    &__text {
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
    }

  }
}
