/* ============================================

  Services page

*/
.template-services-page {
  $content-width: 800px;

  $color--primary: $color--deep-indigo;
  color: $color--lighter-indigo;

  // Overrride for .page-content > .container a
  .container .card .card__link,
  .container a.link-button {
    border: 0;
  }

  a,
  a:hover {
    h2,
    h3 {
      color: $color--primary;
    }
  }

  .quote {
    margin: 0;

    opacity: 0.8;

    > p {
      margin: 0 0 16px;

      font-size: 18px;
      line-height: 1.5;

      @include media-query(small) {
        font-size: 24px;
      }
    }

    > footer {
      font-size: 12px;

      @include media-query(small) {
        font-size: 15px;
      }

      cite {
        font-style: normal;
      }
    }
  }

  .icon__external-link {
    vertical-align: text-top;
    height: 14px;
    padding-left: 6px;
    fill: currentColor;
  }

  .cards {
    &__section {
      // m#{i}n is a hack to use the CSS min function instead of SCSS (which does not allow nesting calc) -- https://github.com/sass/sass/issues/2849#issuecomment-762039570
      margin: 0 m#{i}n(calc(-1 * (50vw - 400px)), -$gutter);
      padding: $gutter 0 $gutter m#{a}x(calc(50vw - 400px), $gutter);
      display: flex;

      overflow-x: auto;
      scroll-snap-type: x proximity;
      scroll-behavior: smooth;
    }

    &__card-wrapper {
      flex: 0 0 auto;
      margin-left: -$gutter;
      padding-left: $gutter;
      padding-right: 16px;
      width: min-contents;

      scroll-snap-align: center;

      @include media-query(medium) {
        padding-right: 52px;
      }
    }
  }

  .section {
    margin: 0 (-$gutter);
    padding: 110px $gutter 60px;

    @include media-query(medium) {
      padding: 120px $gutter;
    }

    &--var1 {
      background-color: $color--white;
    }

    &--var2 {
      background-color: $color--deep-indigo;
      color: $color--white;

      a,
      a:hover {
        h2,
        h3 {
          color: $color--white;
        }
      }

      .divider {
        background-color: $color--white;
        opacity: 0.2;
      }
    }

    &--var3 {
      background-color: $color--wagtailio-grey;
    }

    &__inner-wrapper {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;

      @include media-query(medium) {
        flex-direction: row;
      }
    }

    &__image {
      position: relative;
      max-width: 390px;
      margin: 30px auto 0;

      @include media-query(medium) {
        margin: 0 auto;
      }

      img {
        width: 100%;
        border-radius: 100%;
      }

      &-wrapper {
        flex: 0 0 390px;
        margin: 0;

        @include media-query(medium) {
          margin-right: 90px;
        }
      }

      &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: $color--lagoon;
      }

      &-overlay--var1 {
        opacity: 0.2;
        left: -70px;
      }

      &-overlay--var2 {
        opacity: 0.1;
        left: -120px;
      }

      &-caption {
        margin: 30px 0;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: $color--deep-indigo;
      }
    }

    &__icon {
      height: 0;

      svg {
        height: 70px;
        width: 150px;
        position: relative;
        top: -52px;
        left: -50px;
        fill: $color--lagoon;

        @include media-query(medium) {
          height: 80px;
          top: -62px;
          left: -95px;
        }
      }
    }

    &__heading-line {
      margin: 0 0 15px;
      width: 5px;
      height: 35px;
      background-color: $color--lagoon;
      border-radius: 2px;
      border: 0;

      @include media-query(medium) {
        margin: 0 0 30px;
        width: 50px;
        height: 5px;
      }
    }

    &__heading {
      font-size: 28px;
      line-height: 1.1;

      @include media-query(small) {
        font-size: 44px;
      }
    }

    &__content {
      width: 100%;
      max-width: $content-width;
      overflow: visible;

      font-size: 16px;
      line-height: 1.5;

      @include media-query(small) {
        font-size: 18px;
      }

      > h3 {
        margin: 0 0 15px;

        font-size: 18px;
        font-weight: bold;
        line-height: 1.3;

        @include media-query(small) {
          font-size: 22px;
          line-height: 1.5;
        }
      }

      > p {
        margin: 0 0 30px;
        @include media-query(small) {
          margin: 0 0 40px;
        }
      }

      > ul {
        margin: 28px 0;
        padding-left: 0;

        li {
          list-style: none;
          padding-left: 20px;

          font-size: 16px;

          @include media-query(small) {
            font-size: 18px;
            padding-left: 30px;
          }

          &::before {
            display: inline-block;
            content: "";
            width: 13.3px;
            height: 16px;
            margin-left: -20px;
            margin-right: 10px;

            -webkit-mask: url("/static/img/svg/list-dash.svg");
            mask: url("/static/img/svg/list-dash.svg");
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: $color--lagoon;

            @include media-query(small) {
              width: 15px;
              height: 18px;
              margin-left: -30px;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }

  .page-content {
    margin: 0 $gutter;
    padding: 112px 0 0;
  }

  .page-heading {
    margin: 0;
    padding: 0 0 20px;
    text-align: left;

    &__content {
      margin: 0 auto;
      max-width: $content-width;
    }

    &__heading {
      margin: 0 0 10px;
      font-size: 44px;
      line-height: 1;

      @include media-query(small) {
        margin: 0 0 24px;
        font-size: 72px;
      }
    }

    &__introduction {
      margin: 0 0 35px;
      font-size: 18px;

      @include media-query(small) {
        margin: 0 0 24px;
        font-size: 24px;
      }
    }

    &__links {
      margin: 0;
      padding-left: 0;

      list-style: none;
      font-size: 15px;
      font-weight: bold;

      color: $color--deep-indigo;

      @include media-query(small) {
        font-size: 18px;
      }

      li {
        margin-bottom: 23px;

        a {
          display: flex;
          align-items: start;
        }

        .icon__arrow {
          flex: 0 0 auto;
          vertical-align: text-top;
          height: 20px;

          margin-top: 3px;
          margin-right: 16px;

          fill: $color--lagoon;
        }
      }
    }
  }
}
