/* ============================================

  Standard page

*/
.template-standard-page {

    .body {
        padding-top: 0;
    }

    .page-heading {
        padding-top: ($grid * 6);
        padding-bottom: ($grid * 3);
        background-color: $color-primary-highlight;
        margin-bottom: ($grid * 2)
    }

    .page-content {
        font-size: 20px;
    }

    .paragraph,
    .calltoaction {
        max-width: 800px;
        margin: 0 auto ($grid * 2);
    }

}
