/* ============================================

  Standard page

*/
.template-standard-page {
  .page-content {
    h2,
    h3,
    h4 {
      text-align: left;
      max-width: 800px;
      margin: 0 auto ($gutter);
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 21px;
    }

    h4 {
      font-size: 20px;
    }
  }

  .paragraph,
  .calltoaction {
    max-width: 800px;
    margin: 0 auto ($gutter * 3);
  }
}
