{% load wagtailcore_tags wagtailembeds_tags %}

<div class="home-embed">
    {% if value.heading %}
        <h2>{{ value.heading }}</h2>
    {% endif %}
    {% if value.video %}
        <div class="responsive-object" style="padding-bottom: 56.25%;">
            <video controls >
                {% for source in value.video.sources %}
                    <source type="{{ source.type }}" src="{{ source.src }}">
                {% endfor %}
            </video>
        </div>
    {% else %}
        <div class="responsive-object" style="padding-bottom: 56.25%;">
            {% embed value.embed.url %}
        </div>
    {% endif %}
</div>
