default_language_version:
  node: 18.7.0
  python: python3.11
repos:
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
        args: ['--target-version', 'py311']
  - repo: https://github.com/pycqa/isort
    # isort config is in setup.cfg
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-assertive==2.1.0
          - flake8-blind-except==0.2.1
          - flake8-comprehensions==3.10.1
  - repo: https://github.com/pycontribs/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, scss, javascript, ts, tsx, json, yaml]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.20.0
    hooks:
      - id: eslint
        types: [file]
        files: \.(js|ts|tsx)$
        args: [--report-unused-disable-directives]
        additional_dependencies:
          - eslint@8.20.0
          - '@wagtail/eslint-config-wagtail@0.4.0'
  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: v14.9.1
    hooks:
      - id: stylelint
        files: \.scss$
        args: [--report-needless-disables]
        additional_dependencies:
          - stylelint@14.9.1
          - '@wagtail/stylelint-config-wagtail@0.5.0'
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.4
    hooks:
      - id: djhtml
