Django==3.2.8
wagtail==2.15rc2
dj-database-url==0.5.0
psycopg2==2.8.6
libsass==0.20.1
Pillow==8.4.0
embedly==0.5.0
Markdown==3.3.4
Pygments==2.10.0
django-compressor==2.2
django-libsass>=0.7
whitenoise==5.3.0
brotlipy==0.7.0
django-storages==1.12.2
boto3==1.19.4
django-redis==4.9.0
sentry-sdk==1.4.3
scout-apm==2.23.2
mammoth==1.4.17  # used for curstom wagtail content import parser

django-basic-auth-ip-whitelist==0.3.4
django-referrer-policy==1.0

# wagtail packages
wagtailaltgenerator==4.1.2
wagtail-airtable==0.2.1
wagtail-content-import==0.5.0
wagtail-image-import==0.1.1
wagtail-transfer==0.8.2
wagtail-ab-testing==0.6
Wand==0.6.7
wagtailmedia==0.8.0


# Pinned as django-redis has incompatibility with later versions
redis==2.10.6
