Django==2.0.4
dj-database-url==0.5.0
wagtail==2.0.1
psycopg2==2.7.4
elasticsearch==1.2.0
libsass==0.8.2
Pillow>=2.6.1
embedly==0.5.0
Markdown==2.6.2
Pygments==2.0.2
django-compressor==2.0
django-taggit>=0.18.0
django-libsass>=0.6
raven==6.7.0
