{% load wagtailcore_tags wagtailimages_tags %}
{% if value and value.comparison_table and value.comparison_table.columns %} {# Don't show if table is empty. #}
<table>
    <thead>
        <tr>
            {% for col in value.comparison_table.columns %}
            <th scope="col">{{ col.heading }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in value.comparison_table.rows %}
        <tr>
            {% for block in row %}
            <td>
                {% include_block block %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
