.actions {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  padding-left: 0;
  margin-bottom: ($gutter * 2);
  overflow: hidden;

  @include media-query(medium) {
    padding-left: 0;
    margin-bottom: 0;
  }

  a {
    text-align: left;
    cursor: pointer;
    margin: 0 $gutter 0 0;
    padding: $gutter;
    width: 140px;
    height: 140px;
    line-height: 1.2;
    display: block;
    background-color: rgba($color--black, 0.2);
    color: #fff;
    font-weight: bold;
    position: relative;
    @include transition(background-color 0.5s ease, color 0.5s ease);

    &:nth-child(2) {
      svg {
        transform: translateX(0) rotate(-90deg);
      }

      &:hover {
        svg {
          transform: translateX(5px) rotate(-90deg);
          bottom: $gutter;
        }
      }
    }

    &:hover {
      background-color: $color--quaternary;
      color: $color--black;

      svg {
        transform: translateY(5px);
      }
    }

    span {
      display: block;
      font-weight: normal;
    }

    svg {
      position: absolute;
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s ease-in-out 0;
      bottom: $gutter;
      right: $gutter;
      fill: $color--white;
      width: 30px;
      height: 30px;
    }
  }

  &--secondary {
    a {
      background-color: $color--quaternary;
      color: $color--black;
    }
  }

  .terminal & {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;

    @include media-query(medium) {
      right: $gutter;
    }

    @include media-query(large) {
      right: 20%;
    }

    svg {
      transform: translateX(0) rotate(-90deg);
    }

    &:hover {
      svg {
        transform: translateX(5px) rotate(-90deg);
        bottom: $gutter;
      }
    }
  }
}
