.alert {
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  
  &--active {
    opacity: 1;
  }

  h2, h3 {
    color: inherit;
  }

  a {
    color: inherit;
    border-bottom: 2px solid;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  &--default {
    background-color: $color--coral;
    color: $color--white;

    h2, h3 {
      color: $color--dark-blue;
    }

    a {
      color: $color--grey-darker;
      border-bottom-color: $color--grey-dark;

      &:hover,
      &:active {
        color: $color--grey-dark;
        border-bottom-color: $color--grey;
      }
    }
  }
}
