.app-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #383838;
  height: 20px;
  border-radius: 5px 5px 0 0;

  span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color--quaternary;
    margin: 5px 5px 0 0;
    display: inline-block;
    float: left;

    &:first-of-type {
      margin-left: 10px;
      background-color: $color--secondary;
    }
  }
}
