html,
body {
  font: 400 18px/1.5 $font-primary;
  background-color: $color--white;
  color: $color--base;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color--interaction;

  @include transition(
    color $anim-speed-primary linear,
    padding $anim-speed-primary linear,
    background-color $anim-speed-primary linear,
    opacity $anim-speed-primary linear
  );

  &:hover {
    color: $color--interaction;
  }
  &:focus {
    outline-color: $color--interaction;
  }
}

img {
  height: auto; // overwrite inline height added via django templating (possibly a bad assumption to make!)
  vertical-align: top; // render images as we would just expect them to render (without mystical padding bottom)
}

iframe {
  max-width: 100%;
}

ul {
  list-style-type: square;

  li {
    margin-bottom: ($gutter / 2);
  }
}

/* ============================================

Other global items

*/

.pre-container {
  position: relative;
}

.app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #383838;
  height: 20px;
  border-radius: 5px 5px 0 0;

  span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color--quaternary;
    margin: 5px 5px 0 0;
    display: inline-block;
    float: left;

    &:first-of-type {
      margin-left: 10px;
      background-color: $color--secondary;
    }
  }
}

.view-all {
  display: block;

  svg {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    fill: $color--black;
    transform: rotate(-90deg) translateY(0px);
    transition: transform 0.2s ease 0s;
  }

  &:hover {
    svg {
      transform: rotate(-90deg) translateY(5px);
    }
  }

  &--light {
    color: $color--white;

    svg {
      fill: $color--white;
    }
  }

  &--internal {
    svg {
      transform: rotate(0deg) translateY(0px);
    }

    &:hover {
      svg {
        transform: rotate(0deg) translateY(5px);
      }
    }
  }
}

.border {
  &--after {
    &:after {
      content: "";
      height: 1px;
      width: 20%;
      background: lighten($borderColorDark, 50%);
      display: block;
      margin: $gutter * 3 auto;
      position: relative;
      z-index: 2;
    }
  }

  &--before {
    &:before {
      content: "";
      height: 1px;
      width: 20%;
      background: lighten($borderColorDark, 50%);
      display: block;
      margin: $gutter * 3 auto;
      position: relative;
      z-index: 2;
    }
  }

  &--left {
    &:before,
    &:after {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.mobile-only {
  display: block;

  @include media-query(medium) {
    display: none;
  }
}

/**
 * $Generic video embed wrapper
 */

.video-embed,
.responsive-object {
  position: relative;
  padding-bottom: 56.25% !important;
  height: 0;
  max-width: 100%;
  overflow: hidden;

  iframe,
  embed,
  object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
