.template-blog {
  direction: ltr;
  background-color: $color--white;

  .page-content {
    margin: 0 auto;
    max-width: 800px;
    padding: $headerHeight $gutter;

    @include media-query(small) {
      padding: $headerHeight ($gutter * 2);
    }

    a {
      border-bottom: 2px solid $color--lagoon;

      &:hover {
        border-bottom-color: $color--coral;
      }
    }

    img {
      max-width: 100%;
    }

    .date {
      font-size: 18px;
      font-weight: 300;
      margin: 0;
    }

    h2 {
      font-size: 28px;
      margin-top: 5px;
    }

    h3 {
      font-size: 21px;
    }

    h4 {
      font-size: $gutter;
    }
  }

  .share {
    background-color: $color--grey-light;
    box-shadow: 0 0 $gutter rgba($color--white, 0.6);
  }
}

.author {
  overflow: hidden;
  margin: 0 0 $gutter;

  .image {
    float: left;
    margin: 0 $gutter 0 0;

    img {
      border-radius: 50%;
      width: 55px;
      height: auto;
    }
  }

  .details {
    h2 {
      font-size: 18px;
      font-weight: 300;
      margin: 5px 0 0;
    }

    .role {
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
    }
  }
}

.blog-author {
  border-bottom: none !important;
}


.blog-listing {
  margin: ($gutter * 2) 0 0;
  padding: 0;

  &__item {
    list-style-type: none;
    margin: 0 0 3em;
    padding: 0;
    border-bottom: 1px solid $color--grey-3;

    @include media-query(large) {
      margin: 0 0 4em;
    }
  }

  &__title {
    a {
      color: $color--dark-blue;
    }
  }
}

.site-header--slideup {
  .blog-nav__header {
    padding: 26px 40px ($gutter);

    @include media-query(small) {
      padding: 26px 40px ($gutter);
      text-align: left;
    }
  }
}

.backers {
  .category {
    margin: 15px 0;
    h3 {
      margin: 0;
      padding: 10px;
      text-align: center;
    }
    &.gold {
      h3 {
        background: #e3b579;
        color: white;
      }
      .list .backer {
        flex-basis: 750px;
      }
    }
    &.silver {
      h3 {
        background: #cac9c5;
        color: white;
      }
      .list .backer {
        flex-basis: 380px;
      }
    }
    &.bronze {
      h3 {
        background: #e7908d;
        color: white;
      }
      .list .backer {
        flex-basis: 250px;
      }
    }
    &.linked {
      h3 {
        background: $color--interaction;
        color: white;
      }
      .list .backer {
        font-size: 95%;
        a {
          font-weight: bold;
        }
      }
    }
    &.named {
      .list .backer {
        padding: 4px 8px;
        font-size: 80%;
      }
    }
    .list {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      margin: 15px 0 30px;
      .backer {
        flex: 0 0 190px;
        padding: 15px;
        text-align: center;
        a {
          display: block;
        }
        img {
          display: block;
          margin: 0 auto;
          width: auto;
          max-width: 100%;
          max-height: 150px;
        }
        .placeholder {
          font-size: 35px;
          font-weight: bold;
          line-height: 1;
          text-align: center;
        }
      }
    }
  }
}
