.button {
  display: inline-block;
  color: $color--primary;
  padding: 15px;
  font-weight: 700;
  border-bottom: 3px solid $color--secondary;
  line-height: 1;

  @include transition(
    color $anim-speed-primary ease,
    padding $anim-speed-primary ease,
    background-color $anim-speed-primary ease
  );

  &:hover {
    color: $color--black;
    padding: 15px 30px;
    border-radius: 4px;
    background-color: $color--secondary;
  }

  &--hover {
    color: $color--black;
    padding: 15px 30px;
    border-radius: 4px;
    background-color: $color--secondary;

    &:hover {
      background-color: darken($color--secondary, 10%);
    }
  }

  .bg--dark & {
    color: $color--white;
    text-decoration: none;

    &:hover {
      color: $color--black;
    }
  }
}
