.divider {
  display: block;
  width: 50px;
  height: 5px;
  margin: 40px 0 25px;

  border-radius: 2px;
  border: 0;

  background-color: $color--deep-indigo;
  opacity: 0.1;

  @include media-query(small) {
    margin: 57px 0 27px;
  }
}
