.example-item {
  flex: 0 0 auto;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 ($gutter * 2) ($gutter * 2);
  font-size: 16px;

  // Just show three for mobile
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    display: none;
  }

  @include media-query(small) {
    flex-basis: 50%;
    max-width: 50%;

    // Show another for tablet
    &:nth-child(4) {
      display: block;
    }
  }

  @include media-query(large) {
    flex-basis: 33.333%;
    max-width: 33.333%;

    // Show all for desktop
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      display: block;
    }
  }

  &__image-container {
  }

  &__image {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 0 $gutter;
    border: 1px solid $color--border-light;
  }

  &__heading {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__description {
    color: $color--base;
  }
}
