.footer {
  position: relative;
  z-index: 3;
  display: block;
  overflow: hidden;
  padding: ($gutter * 2) $gutter $gutter;
  text-align: left;
  background-color: $color--background-light;

  @include media-query(medium) {
    padding: ($gutter * 3);
  }

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__row {
    @include media-query(medium) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__heading {
    font-size: 28px;
    font-weight: 700;
    border-bottom: 1px solid rgba($color--border, 0.2);
    padding-bottom: ($gutter / 2);

    @include media-query(medium) {
      font-size: 24px;
    }
  }

  p {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer-footer {
    clear: both;
    text-align: left;
    padding-top: 30px;
    font-size: 13px;

    li {
      display: inline-block;

      &:last-child {
        text-align: right;
        float: right;

        img {
          display: block;
          width: 110px;
        }
      }
    }
  }
}

.get_started_links {
  padding-bottom: 10px;
  margin-bottom: $gutter;

  @include media-query(medium) {
    margin-bottom: 0;
  }

  a {
    // make buttons sit after each other without using display: block or <br />;
    float: left;
    clear: left;
    margin: 0 0 10px;
  }
}

.network_links {
  margin-bottom: $gutter;

  @include media-query(medium) {
    margin-bottom: 0;
  }

  &__heading {
    margin-bottom: 0 !important;
  }

  &__container {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    border-bottom: solid 1px $color--border-light;
    padding: ($gutter / 2) 0;
    margin: 0;

    @include media-query(medium) {
      padding: $gutter 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    p {
      font-size: 14px;
      margin: 4px 0 !important;
    }
  }

  &__link {
    display: block;

    &:hover {
      .network_links__subheading {
        color: $color--primary;
      }
    }
  }
}

.latest_blog {
  margin-bottom: $gutter;

  @include media-query(medium) {
    margin-bottom: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      .date {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 300;
        @include font-smoothing;
      }
      .title {
        display: block;
        font-size: 21px;
      }
      .author {
        margin: $gutter 0;
      }
    }
  }
}

.newsletter_signup {
  margin-bottom: $gutter;

  @include media-query(medium) {
    margin-bottom: 0;
  }

  fieldset {
    // reset fieldset styling
    border: 0;
    padding: 0;
    margin: 0;
    // Clear floats
    overflow: hidden;
    padding: 0 0 $gutter;
    input {
      float: left;
      width: 60%;
      padding: 15px 15px 16px;
    }

    button {
      background: none;
      float: left;
      text-transform: uppercase;
      border-left: 0;
    }
  }
}

.follow_links {
  margin-bottom: ($gutter * 1.5);

  &__heading {
    margin-bottom: 0 !important;
  }

  a {
    font-size: 56px;
    color: $color--white;

    svg {
      fill: $color--primary;
      transition: fill 0.2s ease 0s;

      &.twitter {
        transform: scale(1.7);
      }
    }

    &:hover {
      color: $color--interaction;

      svg {
        fill: $color--interaction;
      }
    }
  }
}

.footnote {
  margin-top: ($gutter * 2);
  padding-top: $gutter;
  padding-bottom: 56px;
  clear: both;
  overflow: hidden;
  border-top: 1px solid $color--border-light;

  .copyright {
    float: left;
    margin: 0;
  }

  .logo {
    display: block;
    float: right;
    width: 110px;
    opacity: 0.3;
    @include transition(opacity $anim-speed-primary linear);

    img {
      display: inline-block;
      width: 110px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
