.get-started {
  margin-bottom: ($gutter * 2);

  &__heading {
    margin-bottom: $gutter;
  }

  .footer & {
    @include media-query(small) {
      flex-basis: 100%;
      max-width: 100%;
      min-width: 100%;
    }

    @include media-query(large) {
      flex-basis: 33.333%;
      max-width: 33.333%;
      min-width: 33.333%;
      padding-right: ($gutter * 2);
    }
  }
}
