/* ============================================

  Header

*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background: $color--background;
  padding: ($gutter / 2) $gutter;
  transform: translate3d(0, 0%, 0);
  transition: transform 0.2s ease 0s;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
  }
}

.site-header {
  &--slideup .header {
    transform: translate3d(0, -100%, 0);
  }

  &--slidedown .header {
    transform: translate3d(0, 0%, 0);
  }
}
