.heading {
  &--secondary {
    font-size: 15px;
    font-weight: 700;

    @include media-query(small) {
      font-size: 18px;
    }
  }

  &--top-border {
    display: block;
    padding-top: ($gutter * 0.75);
    border-top: 2px solid $color--primary;

    @include media-query(small) {
      display: inline-block;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-smoothing();
  color: $color--headings;
  transition: color 0.2s ease 0s;
  line-height: 1.2;
}

h1 {
  color: $color--headings;
  font-size: 27px;
  margin: 0 0 ($gutter / 2);
  line-height: 1.2;

  @include media-query(small) {
    font-size: 56px;
  }
}

h2 {
  font-size: 28px;
  margin: 0 0 $gutter;

  @include media-query(small) {
    font-size: 42px;
  }
}

h3 {
  font-size: 18px;
  margin: 0 0 5px;
  font-weight: 800;

  @include media-query(small) {
    font-size: 21px;
  }
}

h4 {
  font-size: 16px;
  margin: 0 0 5px;

  @include media-query(small) {
    font-size: 18px;
  }
}

.heading {
  color: $color--headings;

  &--light {
    color: $color--white;
  }
}

a {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color--interaction;
  }

  &:hover {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color--black;
    }
  }
}
