.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color--primary;
  overflow: hidden;
  padding-top: $headerHeightMobile;
  height: auto;
  max-height: 800px;

  @include media-query(medium) {
    height: 700px;
    padding-top: $headerHeight;
  }

  @include media-query(large) {
    height: 900px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -100px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 700px 1200px;
    border-color: transparent transparent rgba($color--tertiary, 0.85)
      transparent;
    opacity: 1;
    z-index: 0;
    display: none;

    @include media-query(medium) {
      display: block;
    }
  }

  &__container {
    position: relative;
    max-width: $max-width;
    margin: 0 auto;
    z-index: 1;
  }

  .text-container {
    width: 100%;
    padding: ($gutter * 2);

    @include media-query(medium) {
      width: 50%;
      padding: ($gutter * 5) 0 0 ($gutter * 3);
    }

    @include media-query(large) {
      width: 40%;
    }

    h2 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      color: $color--quaternary;

      @include media-query(medium) {
        font-size: 18px;
      }
    }

    p {
      font-size: 42px;
      color: $color--white;
      font-weight: 800;
      line-height: 1.1;
      margin: 0 0 40px;

      @include media-query(large) {
        font-size: 62px;
      }
    }
  }

  .screenshot {
    position: absolute;
    display: none;
    z-index: 1;
    top: ($gutter * 4);
    right: 60px;
    width: 50%;
    height: auto;

    @include media-query(medium) {
      display: block;
      width: 40%;
    }

    @include media-query(large) {
      width: 50%;
      top: ($gutter * 3);
    }
  }
}
