.hire {
  background-color: $color--primary;
  padding: $section-space $gutter;
  text-align: center;

  &__container {
    max-width: 800px;
    margin: 0 auto;
  }

  &__heading {
    color: $color--white;
  }

  &__description {
    color: rgba($color--white, 0.8);
    margin-bottom: $gutter;
  }

  &__link {
    color: $color--white;

    &:hover {
      color: $color--black;
    }
  }
}
