.latest {
  padding: ($section-space / 2) ($gutter * 2);
  background: $color--background-light;

  @include media-query(medium) {
    padding: ($section-space / 2) ($gutter * 4);
  }

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__heading {
    text-align: center;
    margin: 0 0 40px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;

    @include media-query(large) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .view-all {
    text-align: center;
  }
}
