.latest-post {
  margin-bottom: ($gutter * 2);

  &__heading {
    margin-bottom: $gutter;
  }

  &__subheading {
    font-size: 18px;
    font-weight: 700;
    margin-top: ($gutter * 1.25);
  }

  &__date {
    margin-bottom: ($gutter / 4);
    color: rgba($color--grey, 0.7);
    font-size: 14px;
    text-transform: uppercase;
  }

  &__description {
    font-size: 15px;
  }

  .footer & {
    @include media-query(small) {
      flex-basis: 50%;
      max-width: 50%;
      min-width: 50%;
    }
    @include media-query(large) {
      flex-basis: 33.333%;
      max-width: 33.333%;
      min-width: 33.333%;
    }
  }
}
