.latest-item {
  $root: &;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 0 $gutter;

  @include media-query(medium) {
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 0 ($gutter * 2) ($gutter * 2) 0;
  }

  &__link {
    display: flex;
    flex-direction: row;

    &:hover {
      #{$root}__heading {
        color: $color--interaction-hover;
      }
    }
  }

  &__image-container {
    width: 100px;
    height: 100px;
    flex-basis: 100px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-color: $color--white;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 ($gutter * 1.5);
  }

  &__heading {
    color: $color--primary;
    margin: 0;
    line-height: 1.2;
  }

  &__date {
    text-transform: uppercase;
    font-size: 15px;
    color: $color--tertiary;
    margin: 0 0 5px;
  }
}
