.latest-item {
  $root: &;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 $gutter ($gutter * 2);

  @include media-query(medium) {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  &__link {
    display: flex;
    flex-direction: row;

    &:hover {
      #{$root}__heading {
        color: $color--interaction;
      }
    }
  }

  &__image-container {
    width: 100px;
    height: 100px;
    flex-basis: 100px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-color: $color--background-light;
    box-shadow: 0 -5px 10px rgba($color--black, 0.2);
  }

  &__text-container {
    padding: 0 0 0 ($gutter * 1.5);
  }

  &__heading {
    color: $color--primary;
    margin: 0;
    line-height: 1.2;
  }

  &__date {
    text-transform: uppercase;
    font-size: 15px;
    color: $color--secondary;
    margin: 0;
  }
}
