// List of logos
.logo-list {
  position: relative;
  z-index: 2;
  background-color: $color--background-light;
  padding-top: ($section-space / 2);
  padding-bottom: ($section-space / 2);

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  h2 {
    display: inline-block;
    border-top: 2px solid $color--primary;
    color: $color--primary;
    font-size: 15px;
    font-weight: 700;
    padding-top: ($gutter * 0.75);
    margin-left: ($gutter);
    margin-right: ($gutter);
    margin-bottom: 0;

    @include media-query(medium) {
      font-size: 18px;
      margin-left: ($gutter * 2);
      margin-right: ($gutter * 2);
    }

    @include media-query(large) {
      text-align: left;
    }
  }

  .carousel {
    display: none;
    padding: $gutter ($gutter * 2) ($gutter * 3);

    @include media-query(large) {
      padding: $gutter ($gutter * 2) ($gutter * 2);
    }

    img {
      display: block;
      width: 100%;
      padding: 0 40px;
      opacity: 1;

      // &:hover {
      //     opacity: 1;
      // }
    }

    .owl-wrapper-outer {
      padding-top: 2%;
    }

    .owl-controls {
      position: absolute;
      z-index: 2;
      bottom: $gutter;
      left: 0;
      right: 0;
      text-align: center;

      @include media-query(large) {
        position: absolute;
        top: -52px;
        left: auto;
        right: 60px;
      }
    }

    .owl-pagination {
      .owl-page {
        span {
          background-color: rgba($color--white, 1);
          opacity: 1;
        }

        &.active {
          span {
            background-color: $color--interaction;
          }
        }
      }
    }
  }
}
