.menu-toggle {
  position: relative;
  display: block;
  top: 3px;
  width: 30px;
  height: 25px;
  cursor: pointer;

  @include media-query(medium) {
    display: none;
  }

  .mobile_nav-open & {
    span {
      background-color: transparent;

      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }

      &:before {
        top: 0;
        transform: rotate(45deg);
      }
    }
  }

  span {
    position: absolute;
    right: 0;
    top: 8px;
    height: 3px;
    width: 100%;
    background-color: $color--interaction;
    border-radius: 100px;
    transition: opacity 0.2s ease, transform 0.2s ease, background 0s ease 0.3s;

    &:before,
    &:after {
      opacity: 1;
      content: "";
      display: block;
      position: absolute;
      bottom: -10px;
      height: 3px;
      right: 0;
      width: 100%;
      background-color: $color--interaction;
      border-radius: 100px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
      transition-property: bottom, transform;
    }

    &:before {
      top: -10px;
      transition-property: top, transform;
    }
  }
}
