.menu-overlay {
  position: fixed;
  z-index: 11;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: $headerHeight; // start our content below the header
  background: rgba($color--interaction, 0.95);
  transform: translate3d(0, -100%, 0);
  transition: transform 0.2s ease 0s;

  .mobile_nav-open & {
    transform: translate3d(0, 0%, 0);
  }
}
