.nav-item {
  $root: &;
  display: flex;
  align-items: center;
  margin: 0;
  white-space: nowrap;

  .primary-nav & {
    @include font-smoothing();
    display: block;
    padding: 12px 15px;
    color: $color--primary;
    font-size: 16px;
    font-weight: 600;
    border: solid 1px transparent;
    @include transition(color 0.5s ease-out, opacity 0.5s ease-out);

    &:hover {
      color: $color--interaction;
    }
  }

  .menu-overlay & {
    display: block;
    border-bottom: solid 1px rgba($color--white, 0.1);
    text-align: center;

    #{$root}__link {
      display: block;
      padding: ($gutter / 2) 0;
      color: $color--white;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      border: solid 1px transparent;
      transition: color 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;

      &:hover {
        opacity: 1;
        color: $color--primary;
        background-color: $color--white;
      }
    }
  }
}
