.network-links {
  margin-bottom: ($gutter * 2);
  &__item {
    list-style-type: none;
    border-bottom: 1px solid rgba($color--border, 0.2);
    padding: ($gutter) 0;
    margin: 0;
  }
  &__description {
    font-size: 15px;
    margin-bottom: 0;
    color: $color--base;
    font-size: 13px;
  }
  .footer & {
    @include media-query(medium) {
      flex-basis: 50%;
      max-width: 50%;
      min-width: 50%;
      padding-right: ($gutter * 2);
    }
    @include media-query(large) {
      flex-basis: 33.333%;
      max-width: 33.333%;
      min-width: 33.333%;
    }
  }
}
