.page-heading {
  $root: &;
  position: relative;
  padding: $gutter;
  text-align: center;
  margin: 0;

  @include media-query(medium) {
    margin: 0 0 $gutter * 4;
    padding: 0;
  }

  &__heading {
    color: $color--white;
  }

  &__introduction {
    position: relative;
    font-size: 21px;
    max-width: 1000px;
    color: rgba($color--white, 0.8);
    margin: 0 auto;

    @include media-query(medium) {
      font-size: 24px;
    }
  }

  img {
    width: auto;
    height: 200px;
    position: absolute;
    z-index: 3;
    bottom: -23px;
    right: $gutter * 4;
  }

  .btn {
    margin: 0 ($gutter / 2) ($gutter / 2);
    color: $color--white;

    @include media-query(medium) {
      margin: 0 $gutter / 2;
    }

    &:hover {
      color: $color--white;
    }
  }

  // Standard page specific styles

  .template-standard-page & {
    margin-bottom: ($gutter * 3);
    text-align: left;
    padding-bottom: ($gutter * 4);
    padding-top: ($gutter * 6);

    &__heading,
    &__introduction {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      color: $color--base;
    }

    &__heading {
      color: $color--primary;
      margin-bottom: ($gutter * 2);
    }
  }
}
