/* ============================================

  Page content

*/

// Streamfield & RTE content are being rendered in a combined fashion
// The following styles attempt to normalise the difference in container rendering and simplify the styling.
.page-content > .container {
  a {
    word-wrap: break-word;
    border-bottom: 2px solid $color--lagoon;

    &:hover {
      border-bottom-color: $color--coral;
    }
  }
  ol,
  ul {
    margin: 0 0 ($gutter / 2);
    li {
      font-size: $gutter;
      font-weight: 300;
      line-height: 1.5;
      @include media-query(small) {
        font-size: 18px;
        line-height: 1.35;
      }
    }
  }

  // Introduction block with drop cap
  .intro {
    p {
      font-size: 24px;
      line-height: 1.25;
      @include font-smoothing;
      @include media-query(small) {
        font-size: $gutter;
      }
    }
  }
  // Overwrite bottom spacing for heading elements so they sit the same distance as inline headings within .paragraph containers
  .heading {
    margin-bottom: ($gutter / 2);
  }
  .paragraph {
  }
  .blockquote {
    background-color: $color--interaction;
    @include transform(skew(-20deg));

    @include media-query(small) {
      padding: 10px !important;
      @include transform(skew(0deg));
    }

    blockquote {
      font-size: 24px;
      @include font-smoothing;
      font-style: italic;
      font-weight: bold;
      padding-top: $gutter;
      color: $color--white;
      @include transform(skew(20deg));

      @include media-query(small) {
        @include transform(skew(0deg));
        padding-top: 0px;
        margin: 0px;
      }
    }
  }

  .colourtext {
    max-width: none;

    .text {
      background: $color--interaction;
      color: $color--white;

      padding-top: 25px;
      padding-bottom: 35px;

      @include media-query(large) {
        padding: 35px 35px 45px;
      }
    }
  }

  .stats {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: ($gutter / 2);

      li {
        > * {
          display: block;
        }

        .image {
        }
        .statistic {
          font-size: 56px;
          margin: 0 0 ($gutter / 2);
        }
        .name {
        }
      }
    }
  }
}

.rich-text {

  a {
    border-bottom: 2px solid $color--lagoon;

    &:hover {
      border-bottom-color: $color--coral;
    }
  }
}