// Primary Navigation
.primary-nav {
  float: right;
  display: none;

  @include media-query(medium) {
    display: block;
  }

  &__container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;

    // fade out links when hovering UL
    &:hover {
      .nav-item {
        opacity: 0.5;
      }
    }
  }
}
