// Primary Navigation
.primary-nav {
  float: right;
  display: none;

  @include media-query(medium) {
    display: block;
  }

  &__container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 10px 0;
    float: right;

    // fade out links when hovering UL
    &:hover {
      a {
        opacity: 0.5;
      }
    }
  }
}
