.quote {
  margin: 0;

  opacity: 0.8;

  > p {
    margin: 0 0 16px;

    font-size: 18px;
    line-height: 1.5;

    @include media-query(small) {
      font-size: 24px;
    }
  }

  > footer {
    font-size: 12px;

    @include media-query(small) {
      font-size: 15px;
    }

    cite {
      font-style: normal;
    }
  }
}
