/* ============================================

  Share

*/
.share {
  display: none;
  position: fixed;
  top: ($gutter * 6);
  right: 40px;
  text-align: center;
  background: rgba($color--white, 0.25);
  padding: 14px 10px 0;

  @include media-query(medium) {
    display: block;
  }

  h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 14px;
    text-transform: none;
  }

  a {
    display: block;
    margin: 0 auto ($gutter / 2);

    svg {
      fill: $color--black;
      transition: fill 0.2s ease 0s;
    }

    &:hover {
      svg {
        fill: $color--primary;
      }
    }
  }
}
