.sidebar {
  background-color: $color--headings;

  @include media-query(small) {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 0 0;
    max-width: $sidebarWidth;
  }

  @include media-query(extra-large) {
    max-width: $sidebarWidthWide;

    &::before {
      content: '';
      background-color: $color--headings;
      position: absolute;
      left: 1px;
      height: 100%;
      width: 200%;
      transform: translate(-100%, 0);
    }
  }

  h2 {
    color: $color--white;
  }
}
