/* ============================================

  Structure

*/

// rules for max width container
@mixin row {
  text-align: center;
  padding: 0 4%;
  // use this for debugging...
  // border: solid 5px hotpink;

  .container {
    overflow: hidden;
    max-width: $max-width;
    margin: 0 auto;
    text-align: left;
  }
}

.page {
  position: relative;
  @include clearfix; // Clear anything nested
  height: 100%;

  .body {
    padding-top: $headerHeightMobile;

    @include media-query(medium) {
      padding-top: $headerHeight;
    }
  }

  .menu_overlay {
    position: absolute;
    z-index: 11;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    @include transition(all 0.2s $anim-ease-expo);

    // closed state
    @include transform(translate3d(0, -100%, 0));
    .no-csstransforms3d & {
      display: none;
    }

    // open state
    .mobile_nav-open & {
      @include transform(translate3d(0, 0, 0));
      .no-csstransforms3d & {
        display: block;
      }
    }
  }
}
