.survey-link {
    background-color: $color--teal;
    position: fixed;
    bottom: -2px;
    right: 2rem;
    padding: 12px 16px 10px;
    color: $color--white;
    display: flex;
    z-index: 10;
    border-radius: 10px 10px 0 0;
    transition: bottom 0.1s linear;
    font-size: 85%;
    font-family: $font-primary;
    width: 220px;
    justify-content: space-between;
    align-items: center;

    img {
        max-height: 20px;
        width: auto;
        position: relative;
        top: -2px;
    }

    &:hover {
        color: $color--white;
        bottom: 0px;
    }
}
