.teasers {
  padding: 0 $gutter;
  margin-bottom: ($gutter * 4);

  &__main-heading {
    font-size: 42px;
    margin: 0 0 60px;
    text-align: center;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: $gutter;
    row-gap: $gutter;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: $max-width;

    @include media-query(small) {  
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    list-style-type: none;
    padding: 0 $gutter 0;
    margin: 0 0 ($gutter * 2);
    text-align: center;

    &__link {
      display: block;
      background-color: $color--grey-light;
      border-radius: 5px;
      color: $color--base;
      padding: ($gutter * 2) $gutter $gutter;
      transition: transform 0.2s ease 0s;

      @include media-query(small) {
        min-height: 245px;
      }

      &:hover {
        transform: translate3d(0, -5px, 0);
      }
    }
  }

  a {
    &:hover {
      p {
        color: $color--base;
      }

      h2 {
        color: $color--primary;
      }
    }
  }

  &__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    color: $color--black;
    margin-bottom: ($gutter / 2);
    text-transform: none;
  }

  p {
    font-size: 16px;
    margin: 0 0 $gutter;
  }

  &__icon {
    text-align: center;
    margin-bottom: ($gutter / 2);
    fill: $color--secondary;
  }
}
