.terminal {
  position: relative;
  padding-bottom: $section-space;

  .text-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter * 2;

    @include media-query(large) {
      padding: 0 $gutter * 3;
    }

    h2 {
      margin-bottom: $gutter * 2;
    }
  }

  .pre-container {
    width: 90%;
    text-align: left;
    margin: 0 auto;

    @include media-query(large) {
      width: 50%;
    }
  }

  pre {
    font-family: monospace, courier, times, serif;
    font-size: 16px;
    color: $color--white;
    text-indent: 0;
    background-color: $color--black;
    box-shadow: 0 0 20px rgba($color--white, 0.1);
    border-radius: 0 0 5px 5px;
    width: 100%;
    display: inline-block;
    padding: $gutter * 2 $gutter * 2 $gutter * 3;
    padding-bottom: 140px; // to ensure button doesn't cover code

    @include media-query(large) {
      font-size: 21px;
      padding-bottom: ($gutter * 3);
    }
  }

  .actions {
    position: absolute;
    bottom: 0;
    right: $gutter;
    margin: 0;

    @include media-query(large) {
      right: 20%;
    }

    svg {
      transform: translateX(0) rotate(-90deg);
    }

    &:hover {
      svg {
        transform: translateX(5px) rotate(-90deg);
        bottom: 20px;
      }
    }
  }
}
