// Testimonial

.testimonial {
  position: relative;
  padding: ($gutter * 5) 0;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-color: $color--background-light;
  color: $color--black;
  min-height: 400px;
  margin: 0 auto $section-space;

  @include media-query(medium) {
    min-height: 300px;
  }

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  span {
    color: $color--primary;
  }

  a {
    color: $color--black;
    transition: color 0.2s ease 0s;

    &:hover {
      color: $color--primary;
    }
  }

  blockquote {
    font-size: 28px;
    margin: 0 ($gutter * 2);

    p {
      line-height: 1.3;
    }

    cite {
      font-family: $font-primary;
      margin-top: 10px;
      font-size: 16px;
      display: block;
      color: rgba($color--white, 0.6);
    }
  }

  .owl-controls {
    bottom: -($gutter * 3);
    right: 0;
    left: 0;
    position: absolute;
    margin: 0 auto;
    text-align: center;

    .owl-page span {
      background-color: rgba($color--black, 0.5);
    }
  }
}
