.textimage {
  background-color: $color--interaction;
  color: $color--white;
  text-align: left;
  margin-bottom: ($gutter * 2);
  padding: ($gutter * 3) 0;

  h2,
  h3,
  h4 {
    color: $color--white;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;

    .text {
      max-width: 50%;
    }

    .image {
      float: right;
      max-width: 50%;
      padding-left: $gutter;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
