.vertical-tabs {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: $gutter 0 ($gutter * 4);

  @include media-query(medium) {
    padding: $section-space 0 0;
  }

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  header {
    text-align: center;
  }

  h2 {
    font-size: 42px;
    margin: 0 0 60px;
  }

  .mobile-only {
    text-align: center;
  }

  .tabs {
    display: none;
    float: left;
    width: 30%;
    padding: 40px 0 0 60px;

    @include media-query(medium) {
      display: block;
      width: 40%;
    }

    @include media-query(large) {
      width: 30%;
    }

    ul {
      margin: 0 0 40px;
    }

    .view-all {
      color: $color--interaction;
      margin-left: ($gutter * 1.5);
      font-weight: 500;

      svg {
        fill: $color--interaction;
      }
    }

    li {
      margin: 0 0 5px;

      a {
        display: block;
        min-height: 110px;
        padding: $gutter ($gutter * 2) $gutter ($gutter * 1.5);
        margin: 0 0 5px;
        color: #555;
        background-color: $color--background-light;

        &:hover {
          p {
            color: $color--black;
          }

          h3 {
            color: $color--black;
          }
        }

        &.current {
          background: $color--primary;

          h3 {
            color: $color--white;
          }

          p {
            color: $color--grey-light;
          }

          &:hover {
            p {
              color: $color--white;
            }

            h3 {
              color: $color--white;
            }
          }
        }

        h3 {
          margin: 0 0 5px;
          color: $color--interaction;
          line-height: 1.1;
        }

        p {
          margin: 0;
          line-height: 1.4;
          font-size: 15px;
          color: $color--grey;
          max-width: 260px;
          transition: color 0.2s ease 0s;

          @include media-query(medium) {
            display: none;
          }

          @include media-query(large) {
            display: block;
          }
        }
      }
    }
  }

  .tab-content {
    width: 100%;
    padding: 0 $gutter * 2 $gutter;

    &:after {
      content: "";
      height: 1px;
      width: 20%;
      background: $color--border-light;
      display: block;
      margin: $gutter * 2 auto;
    }

    @include media-query(medium) {
      width: 60%;
      padding: 0 $gutter * 3 0 0;
      float: left;

      &:after {
        display: none;
      }
    }

    @include media-query(large) {
      width: 70%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top;
      height: 250px;

      @include media-query(medium) {
        height: 550px;
      }

      @include media-query(large) {
        height: 755px;
      }
    }
  }

  .template-features & {
    background-color: $color--primary;
    margin-bottom: $section-space;
  }
}
