{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}


<div class="pane__contours">

    <header class="page-heading">
        <h1>{{ self.title }}</h1>
        <div class="introduction">Install Wagtail <span>in just 7 lines</span></div>
    </header> <!-- /page-heading -->

    <section class="pane__code">

        <div class="text-container">


            <div class="pre-container">

                <div class="app-header">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

<pre>pip install wagtail
wagtail start mysite
cd mysite
pip install -r requirements.txt
python manage.py migrate
python manage.py createsuperuser
python manage.py runserver</pre>

            </div> <!-- /pre-container -->

            <div class="actions">
                <a href="http://docs.wagtail.io/en/latest/getting_started/tutorial.html">
                    <span>10 min</span> guide
                    <svg height="30px" width="30px"><use xlink:href="#arrow"></use></svg>
                </a>
            </div> <!-- /actions -->

        </div> <!-- /text-container -->

    </section> <!-- /pane__code -->

    {% with options=self.options.all %}
        {% if options %}
            <section class="pane__teasers pane__contours">

                <h2 class="pane__teasers__main-heading">Wagtail Resources</h2>

                <ul class="pane__teasers__container">
                    {% for option in options %}
                        <li class="pane__teasers__item">
                            <a class="pane__teasers__item__link" href="{{ option.link }}">
                                <svg class="pane__teasers__icon" height="50px" width="50px">
                                    <use xlink:href="#{{ option.icon }}"></use>
                                </svg>
                                <h3 class="pane__teasers__heading">{{ option.title }} <svg height="30px" width="30px" class="pane__teasers__arrow"><use xlink:href="#arrow"></use></svg></h3>
                                <p>{{ option.summary }}</p>
                            </a>
                        </li>
                    {% endfor %}

                </ul>

            </section> <!-- /teasers -->

        {% endif %}
    {% endwith %}

</div> <!-- /contours -->

{% endblock %}
