{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}


<div class="pane__contours">

    {% include_block page.body %}

    {% with options=self.options.all %}
        {% if options %}
            <section class="pane__teasers pane__contours">

                <h2 class="pane__teasers__main-heading">Wagtail Resources</h2>

                <ul class="pane__teasers__container">
                    {% for option in options %}
                        <li class="pane__teasers__item">
                            <a class="pane__teasers__item__link" href="{{ option.link }}">
                                <svg class="pane__teasers__icon" height="50px" width="50px">
                                    <use xlink:href="#{{ option.icon }}"></use>
                                </svg>
                                <h3 class="pane__teasers__heading">{{ option.title }} <svg height="30px" width="30px" class="pane__teasers__arrow"><use xlink:href="#arrow"></use></svg></h3>
                                <p>{{ option.summary }}</p>
                            </a>
                        </li>
                    {% endfor %}

                </ul>

            </section> <!-- /teasers -->

        {% endif %}
    {% endwith %}

</div> <!-- /contours -->

{% endblock %}
