{% extends "content.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<header class="page-heading">
    <h1>{{ self.title }}</h1>
    <div class="introduction">Install Wagtail <span>in just 7 lines</span></div>
</header> <!-- /page-heading -->

<section class="pane__code border--after">

    <div class="text-container">


        <div class="pre-container">

            <div class="app-header">
                <span></span>
                <span></span>
                <span></span>
            </div>

<pre>pip install wagtail
wagtail start mysite
cd mysite
pip install -r requirements.txt
python manage.py migrate
python manage.py createsuperuser
python manage.py runserver</pre>

        </div> <!-- /pre-container -->

        <div class="actions">
            <a href="#">
                <span>View</span> on Github
                <svg height="30px" width="30px"><use xlink:href="#arrow"></use></svg>
            </a>
        </div> <!-- /actions -->

    </div> <!-- /text-container -->

</section> <!-- /pane__code -->

<p>Now sign in at http://127.0.0.1:8000/admin/. For the next steps on building your Wagtail site, see our ten minute guide.</p>


<ul class="block-list">
    {% for option in self.options.all %}
        <li>
            <a href="{{ option.link }}">
                <i class="fa {{ option.icon }} fa-3x"></i>
                <h3>{{ option.title }}</h3>
                <p>{{ option.summary }}</p>
            </a>
        </li>
    {% endfor %}
</ul>


    <!-- <div class="container">
        <div class="description">

            {% if self.introduction %}
                <p>{{ self.introduction }}</p>
            {% endif %}

            {% if self.body_heading %}
                <h2>{{ self.body_heading }}</h2>
            {% endif %}

            {% if self.body %}
                <div class="get-started">
                    {{ self.body|richtext }}
                </div>
            {% endif %}
        </div>


    </div> -->
{% endblock %}
