{% load wagtailcore_tags wagtailimages_tags %}
<div class="talk-card">
    <div class="talk-card__image">
        {% image value.speaker_image fill-397x313 class="talk-card__img" %}
    </div>
    <div class="talk-card__details">
        <div class="talk-card__about">
            <p class="talk-card__speaker-name">{{ value.speaker_name }}</p>
            {% if value.speaker_talk %}<p class="talk-card__speaker-talk">{{ value.speaker_talk }}</p>{% endif %}
        </div>
        {% if value.speaker_url %}
            <a href="{{ value.speaker_url }}" class="talk-card__cta" target="_blank" rel="noopener noreferrer">
                Read summary
                <svg class="talk-card__cta-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="13" height="13" fill="currentColor">
                    <path d="M6.5 1.75a.75.75 0 0 1 .75-.75h7a.75.75 0 0 1 .75.75v7a.75.75 0 0 1-1.5 0V3.56L6.03 11.03a.75.75 0 0 1-1.06-1.06L12.44 2.5H7.25a.75.75 0 0 1-.75-.75Z"/>
                    <path d="M1.75 3.5A.25.25 0 0 0 1.5 3.75v10c0 .138.112.25.25.25h10a.25.25 0 0 0 .25-.25v-4.5a.75.75 0 0 1 1.5 0v4.5A1.75 1.75 0 0 1 11.75 15.5h-10A1.75 1.75 0 0 1 0 13.75v-10A1.75 1.75 0 0 1 1.75 2H6.5a.75.75 0 0 1 0 1.5H1.75Z"/>
                </svg>
            </a>
        {% endif %}
    </div>
</div>
