.actions {
  position: relative;
  z-index: 2;
  padding-left: 0;
  margin-bottom: $grid * 7;
  overflow: hidden;

  @include gridle_state(tablet-landscape) {
    padding-left: 0;
    margin-bottom: 0;
  }

  a {
    text-align: left;
    cursor: pointer;
    float: left;
    margin: 0 20px 0 0;
    padding: 20px;
    width: 140px;
    height: 140px;
    line-height: 1.2;
    display: block;
    background: $color--interaction;
    color: #fff;
    font-weight: bold;
    position: relative;

    &:nth-child(2) {
      svg {
        transform: translateX(0) rotate(-90deg);
      }

      &:hover {
        svg {
          transform: translateX(5px) rotate(-90deg);
          bottom: 20px;
        }
      }
    }

    &:hover {
      background: darken($color--interaction, 20%);

      svg {
        transform: translateY(5px);
      }
    }

    span {
      display: block;
      font-weight: normal;
    }

    svg {
      position: absolute;
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s ease-in-out 0;
      bottom: 20px;
      right: 20px;
      fill: $color--white;
      width: 30px;
      height: 30px;
    }
  }
}
