/* ============================================

  Block list: a grid of white blocks with content in them

*/

.block-list {
    &:hover {
        a {
            opacity: 0.5;
        }
    }

    > li {
        margin-bottom:40px;
        text-align:center;

        a {
            @include border-radius(3px);
            display:block;
            background-color:$color-primary-light;
            text-decoration:none;
            color:$color-primary-dark;
            padding:20px;
            // min-height:330px;

            // add responsive mixin to remove min-height at lower resolutions (when the elements are not being rednered as blocks)

            &:hover{
                opacity:1;
                color:$color-green;

                p {
                    color:$color-primary-dark;
                }
            }
        }
    }
    h2, h3 {
        font-weight: 500;
        font-size: 1.5em;
        line-height: 1.3em;
        margin-bottom: 0.25em;
        margin-top: 0;
    }
}
