.blog-container {
    position: relative;
    height: 100%;

    .share {
        background-color: rgba($color-black, 0.1);
    }
}

.blog-item {
    direction: ltr;
    padding: $headerHeight 6%;
    width: 75%;
    margin-left: 25%;
    background-color: $color-white;

    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    img {
        max-width: 100%;
    }

    .date {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
    }

    .heading {

    }
}

.author {
    overflow: hidden;
    margin: 0 0 $grid;

    .image {
        float: left;
        margin: 0 $grid 0 0;

        img {
            border-radius: 50%;
            width: 55px;
            height: auto;
        }

    }

    .details {

        h2 {
            font-size: 18px;
            font-weight: 300;
            margin: 5px 0 0;
        }

        .role {
            font-size: 14px;
            font-weight: 300;
            font-style: italic;
        }
    }
}

.blog-listing {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        margin: 0;
        padding: 0;

        a {
            display: block;
            padding: $grid ($grid * 2);
            color: $color-white;
            font-size: 24px;
            font-weight: 300;
            transition: background-color .2s ease;

            &:hover {
                background-color: $color--tertiary;
            }

            span {
                display: block;
            }

            .date {
                color: rgba($color-white, 0.6);
                font-size: 16px;
                margin-bottom: $grid / 4;
                font-weight: 300;
                text-transform: uppercase;
            }
        }

    }

    &__container {
        position: relative;
        width: 100%;
        height: 100%;
    }

}

.blog-nav {

    &__header {
        padding: ($grid * 5) 40px ($grid);
        background-color: $color-secondary-highlight;

        a {
            color: rgba($color-white, 0.7);
            visibility: hidden;

            &:hover {
                color: $color-black;
            }

        }
    }

}
