.blog-container {
  position: relative;
  height: 100%;

  .share {
    background-color: rgba($color--black, 0.1);
  }
}

.blog-item {
  direction: ltr;
  padding: $headerHeight 6%;
  background-color: $color--white;

  @include gridle_state(tablet-landscape) {
    width: 75%;
    margin-left: 25%;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
  }

  .date {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 20px;
  }
}

.author {
  overflow: hidden;
  margin: 0 0 $grid;

  .image {
    float: left;
    margin: 0 $grid 0 0;

    img {
      border-radius: 50%;
      width: 55px;
      height: auto;
    }
  }

  .details {
    h2 {
      font-size: 18px;
      font-weight: 300;
      margin: 5px 0 0;
    }

    .role {
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
    }
  }
}

.blog-listing {
  margin: 0;
  padding: 0;

  @include gridle_state(tablet-landscape) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

  &__item {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: block;
    padding: $grid ($grid * 2);
    color: $color--white;
    font-size: 24px;
    font-weight: 300;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid $headingColor;

    &:hover {
      background-color: $color--tertiary;
      border-color: $borderColorLight;
    }

    span {
      display: block;
    }

    .date {
      color: rgba($color--white, 0.6);
      font-size: 16px;
      margin-bottom: $grid / 4;
      font-weight: 300;
      text-transform: uppercase;
    }

    &--current {
      background-color: $color--tertiary;
      border-color: $color--tertiary;
      cursor: default;

      &:hover {
        background-color: $color--tertiary;
        border-color: $color--tertiary;
      }
    }
  }

  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate3d(0, -300%, 0);
    background-color: $headingColor;
    z-index: 4;
    opacity: 0;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;

    @include gridle_state(tablet-landscape) {
      transform: translate3d(0, 0%, 0);
      position: relative;
      background-color: transparent;
      opacity: 1;
    }

    .sidebar-open & {
      transform: translate3d(0, 0%, 0);
      opacity: 1;
      padding-top: 127px;
    }
  }
}

.blog-nav {
  &__header {
    padding: ($grid * 4) 40px ($grid);
    background-color: $color--interaction;
    text-align: center;
    position: relative;
    transition: padding 0.2s ease 0s;

    @include gridle_state(tablet-landscape) {
      padding: ($grid * 5) 40px ($grid);
      text-align: left;
    }

    h2 {
      display: none;

      @include gridle_state(tablet-landscape) {
        display: block;
      }
    }

    a {
      color: rgba($color--white, 1);
      font-weight: bold;
      text-transform: uppercase;

      @include gridle_state(tablet-landscape) {
        visibility: hidden;
      }

      svg {
        fill: $color--white;
        transition: transform 0.2s ease 0s;
      }

      &:hover {
        color: $color--black;
      }
    }

    .sidebar-open & {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 5;

      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.template-blog-page .body {
  padding-top: 0;

  @include gridle_state(tablet-landscape) {
    padding-top: $headerHeight;
  }
}

.site-header--slideup {
  .blog-nav__header {
    padding: 26px 40px ($grid);

    @include gridle_state(tablet-landscape) {
      padding: 26px 40px ($grid);
      text-align: left;
    }
  }
}

.backers {
  .category {
    margin: 15px 0;
    h3 {
      margin: 0;
      padding: 10px;
      text-align: center;
    }
    &.gold {
      h3 {
        background: #e3b579;
        color: white;
      }
      .list .backer {
        flex-basis: 750px;
      }
    }
    &.silver {
      h3 {
        background: #cac9c5;
        color: white;
      }
      .list .backer {
        flex-basis: 380px;
      }
    }
    &.bronze {
      h3 {
        background: #e7908d;
        color: white;
      }
      .list .backer {
        flex-basis: 250px;
      }
    }
    &.linked {
      h3 {
        background: $color--interaction;
        color: white;
      }
      .list .backer {
        font-size: 95%;
        a {
          font-weight: bold;
        }
      }
    }
    &.named {
      .list .backer {
        padding: 4px 8px;
        font-size: 80%;
      }
    }
    .list {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      margin: 15px 0 30px;
      .backer {
        flex: 0 0 190px;
        padding: 15px;
        text-align: center;
        a {
          display: block;
        }
        img {
          display: block;
          margin: 0 auto;
          width: auto;
          max-width: 100%;
          max-height: 150px;
        }
        .placeholder {
          font-size: 35px;
          font-weight: bold;
          line-height: 1;
          text-align: center;
        }
      }
    }
  }
}
