.template-features {

    .pane__vertical-tabs {

        .tabs {
            width: 30%;
            padding-top: 0;

            @include gridle_state( desktop ){
                width: 25%;
            }

            li {
                margin: 0;
            }
        }

        .tab-content {
            width: 100%;

            @include gridle_state( tablet-landscape ){
                width: 70%;
            }

            @include gridle_state( desktop ){
                width: 75%;
            }

            .content {
                background-color: $color--white;
                padding: $grid * 2 $grid * 2 $grid * 3;
                border-radius: 0 5px 0 0;
                //text-align: center;
                margin-bottom: 0;

                header {
                    text-align: left;

                    .btn {
                        margin-bottom: ($grid * 2);

                        @include gridle_state( tablet-landscape ){
                            float: right;
                            margin-bottom: 0;
                        }

                    }

                    &:after {
                        content: '';
                        display: block;
                        clear: both;
                    }

                }

                .introduction {
                    max-width: none;
                }

                h3 {
                    text-transform: none;
                    font-size: 42px;
                    margin-bottom: $grid * 2;
                    display: inline-block;
                }

                .video-container {
                    overflow: hidden;
                    margin-bottom: $grid;
                    position: relative;
                    max-height: 500px;
                }

                .image-container {
                    overflow: hidden;
                    margin-bottom: $grid;
                    margin-left: $grid;
                    position: relative;
                    padding-top: 20px;
                    float: right;
                    max-width: 60%;
                }
            }
        }
    }
}

.tab-nav {
    margin-bottom: $grid * 6;
    background-color: rgba($color--white, 0.6);
    padding: $grid $grid * 2;
    text-align: center;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: none;

    @include gridle_state( tablet-landscape ){
        display: block;
    }

    a {
        text-align: left;
        margin: 0;
        width: 20%;
        color: $color--white;

        svg {
            position: relative;
            top: 7px;
        }

        &:nth-child(1) {
            float: left;
            text-align: right;

            svg {
                float: left;
                transform: rotate(90deg) translateY(0px);
            }

            &:hover {

                svg {
                    transform: rotate(90deg) translateY(5px);
                }

            }
        }

        &:nth-child(2) {
            float: right;

            svg {
                float: right;
            }
        }

    }

}


.other-features {
    position: relative;

    h2 {
        position: absolute;
        z-index: 2;
        top: -58px;
        left: 0;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        font-weight: normal;
        color: rgba($color--white, 1);
        padding: 20px 0;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;

        @include gridle_state( tablet-landscape ){
            font-size: 18px;
            top: -61px;
            padding: 20px $grid * 3;
        }

        @include gridle_state( desktop ){
            text-align: left;
        }

    }

    header {
        padding: $grid 0;

        @include gridle_state( tablet-landscape ){
            padding: ($grid * 2) 0;
            float: left;
            width: 20%;
        }

        h3 {
            font-size: 15px;
        }
    }

    .row {

        padding: $grid * 2 0 $grid;

        @include gridle_state( tablet-landscape ){
            float: left;
            width: 80%;
            margin-left: -$grid;
            margin-right: -$grid;
        }

    }

    article {
        flex: 0 0 auto;
        flex-basis: 100%;
        text-align: left;
        padding: 0 $grid * 0.75 $grid;

        @include gridle_state( tablet-landscape ){
            flex-basis: 25%;
        }

        p {
            font-size: 15px;
        }

    }
}


.pane__feature {
    overflow: hidden;
    padding: 0 $grid;

    @include gridle_state( tablet-landscape ){
        padding: 0 $grid * 3;
    }


    &:nth-of-type(even) {
        background-color: $backgroundColor;
    }

}
