.other-features {
    background-color: $backgroundColor;
    padding: 0 $grid * 3;
    position: relative;

    h2 {
        position: absolute;
        z-index: 2;
        top: -58px;
        left: 0;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        font-weight: normal;
        color: rgba($white, 1);
        padding: 20px 0;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;

        @include gridle_state( tablet-landscape ){
            font-size: 18px;
            top: -61px;
            padding: 20px $grid * 3;
        }

        @include gridle_state( desktop ){
            text-align: left;
        }

    }

    header {
        float: left;
        width: 20%;
        padding: $grid * 2 0;
        border-top: 1px solid $borderColorDark;

        h3 {
            color: $color-primary-highlight;
            text-transform: none;
        }
    }

    .row {
        float: left;
        width: 80%;
        margin-left: -$grid;
        margin-right: -$grid;
        padding: $grid * 2 0;
        border-top: 1px solid $borderColorDark;

    }

    article {
        flex: 0 0 auto;
        flex-basis: 25%;
        text-align: left;
        padding: $grid / 2 $grid * 0.75;

        p {
            font-size: 15px;
        }

    }
}

.template-features {

    .pane--vertical-tabs {
        //padding-top: 0;

        .actions {
            margin: 0 auto;
            text-align: center;

            a {

                &:first-child {

                    svg {
                        transform: translateX(0) rotate(90deg);
                    }

                }

            }

        }

        .tabs {
            width: 25%;
            padding-top: 0;

            li {
                margin: 0;

                a {
                    //border-radius: 0;
                    //margin: 0 0 1px;
                    //padding-left: $grid * 3;
                }

            }
        }

        .view-all {
            margin-left: $grid * 3;
        }

        .tab-content {
            //padding: 0;
            width: 75%;

            .content {
                background-color: $white;
                padding: $grid * 2 $grid * 2 $grid * 5;
                border-radius: 0 5px 0 0;

                header {
                    text-align: left;

                    .btn {
                        float: right;
                    }

                }

                h3 {
                    text-transform: none;
                    font-size: 42px;
                    margin-bottom: $grid * 2;
                    // background: $color-primary-dark;
                    // color: $white;
                    display: inline-block;
                    // padding: $grid / 2 $grid;
                    // text-transform: uppercase;
                }

                .video-container {
                    overflow: hidden;
                    margin-bottom: $grid;
                    position: relative;
                    max-height: 500px;
                }

                .image-container {
                    overflow: hidden;
                    margin-bottom: $grid;
                    margin-left: $grid;
                    position: relative;
                    padding-top: 20px;
                    float: right;
                    max-width: 60%;
                }
            }
        }
    }



}
