/* ============================================

  Flex list: .. Flex grid ..
  :: do this as a mixin and make the list class semantic? (would be consistant with rest of project implementations)

*/
.flex-list {
    @include flexbox;
    @include flex-wrap( wrap );
    @include reset-list;
    li {
        @include flexbox;
        @include align-items( stretch );
        a {
            display: block; // fallback for non-flexbox
            @include flexbox;
            @include flex-direction( column );
            width: 100%; // required for conainer to fullfill width
        }
    }
}
