
/* ============================================

  Header

*/
header.global {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    float: none;
    width: 100%;
    background: $color-white;
    overflow: hidden;
    padding: 4px $grid 2px;
    border-bottom: solid 1px rgba( $color-primary-dark, 0.1 );
    background: $color-primary-light;
    transform: translate3d(0, 0%, 0);
    transition: transform .2s ease 0s;

    @include gridle_state( tablet-landscape ) {
        padding: 4px ($grid * 1.5) 2px;
    }

}

.site-header {

    &--slideup header.global {
        transform: translate3d(0, -100%, 0);
    }

    &--slidedown header.global {
        transform: translate3d(0, 0%, 0);
    }

}
