
/* ============================================ 

  Header

*/
header {

    // Vars
    $link-padding: 12px 15px;
    $anim_speed-slow: 500ms;
    $anim_speed-fast: 150ms;
    $easing: cubic-bezier(0.470, 0.000, 0.745, 0.715); // EXPERIMENTAL
    $outOpacity: 0.5;

    // Mixins
    @mixin linkStyling {

        display: block;
        padding: $link-padding;

        color: $color-primary-dark;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        border: solid 1px transparent;

        @include transition(
            color $anim_speed-slow ease-out, 
            opacity $anim_speed-slow ease-out
        );

        &:hover:not( .get_started ) {
            @include transition( none );
            @include opacity( 1 );
            color: $color-primary-highlight;
        }

        &.get_started {
            @include button( $link-padding );
        }
    }

    // Styling
    background: #fff;
    overflow: hidden;
    border-bottom: solid 1px $color-primary-highlight;

    // Transitions
    @include transition( all $anim_speed-fast linear );

    // Branding
    #branding {
      display: inline-block;
      img {
        width: 110px;
        @include gridle_state( tablet-landscape ){
          width: 90px;
        }
        @include gridle_state( tablet-portrait mobile ){
          width: 70px;
        }
      }
    }

    // Mobile navigation anchor
    a[href="#primary_navigation"]{
        @include linkStyling;
        float: right;
        display: none; // default to hide
    }

    // Primary Navigation
    .primary_navigation {

        float: right;

        ul {
            @include reset-list;
            // clear nested floats
            overflow: hidden;
            // Styling
            padding: 10px;

            // fade out links when hovering UL
            &:hover {
                a:not( .get_started ) {
                    @include opacity( $outOpacity );
                }
            }

            li {
                float: left;
                a {
                    @include linkStyling;
                    @include gridle_state( tablet-landscape ){
                        font-size: 12px; 
                    }
                }
            }
        }
    }

    @include gridle_state( tablet-portrait mobile ){
        .primary_navigation {
            display: none;
        }
        a[href="#primary_navigation"] {
            display: block;
        }
    }
}