
/* ============================================ 

  Hero carousel

  Note: not exactly sure where to put own carousel styling (as it is currently mixed here and within the vendor directory)

*/
#hero.carousel {
    background: $color-primary-highlight;
    color: $color-primary-light; // ensure by default text is readable ontop of BG
    padding: 20px 0;

    // Owl carousel styling (could go in owl carousel CSS files?)
    .owl-controls {
        width: 100%;
        margin: 0;

        .owl-page {

            box-sizing: border-box;
            padding: 0 30px;
            overflow: hidden;

            color: $color-primary-dark;

            @include transition( color $anim-speed-primary linear );

            // hide default owl carousel buttons
            span { display: none; }

            h3 {
                font-size: 14px;
                font-weight: 400;
            }
        
            .progressBar {
                background: rgba( $color-primary-light, 0.2 );
                width: 100%;
                height: 4px;

                // Position progress bar outside of item by default
                transform: translate3d( 0, 100%, 0 );
                // Animate bar position in
                @include transition( transform $anim-speed-primary linear );

                .bar {
                    background: $color-primary-light;
                    height: 4px;
                }
            }
            
            &.active {
                color: $color-primary-light;
                .progressBar {
                    transform: translate3d( 0, 0, 0 );
                }
            }


        }
    }

    .owl-wrapper-outer {
        padding-top: 14px;
    }

    // Slide styling
    .slide {
        text-align: center;
        h3 {
            font-size: 56px;
            margin: 0;
        }
        p {
            font-size: 24px;
            font-weight: 300;
            margin: 24px 0;
        }
        .cta {
            @include button(
                $padding: 8px 16px 10px,
                $color: $color-primary-dark,
                $color-hover: $color-primary-light
            );
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 24px;
            .icon {
                font-size: 20px;
            }
        }
        .image {
            position: relative;
            img {
                width: 100%;
            }
            a {
                position: absolute;
                top: 50%;
                left: 50%;

                // negative margin to position item in the middle
                margin: -10px -50px;

                @include button(
                    $color: $color-primary-dark,
                    $color-hover: $color-primary-light
                )                
            }
        }
    }

}