$kickstarter-height: 75px;
$kickstarter-height-sm: 80px;
$kickstarter-height-xxs: 105px;
$kickstarter-padding: 15px;
$kickstarter-line-height: $kickstarter-height - $kickstarter-padding * 2;
$header-height-xs: 54px;

a.kickstarter {
  position: fixed;
  display: none;
  width: 100vw;
  text-align: center;
  background: #84D499;
  color: white;
  padding: $kickstarter-padding;
  z-index: 1000;
  &.visible {
    display: block;
  }
  span {
    line-height: $kickstarter-line-height;
  }
  img {
    display: inline-block;
    margin-left: $kickstarter-padding;
    margin-right: $kickstarter-padding;
  }
  .close {
    float: right;
    width: 40px;
    height: $kickstarter-line-height;
    padding: 10px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  @media (max-width: 1000px) {
    span {
      display: block;
      line-height: 25px;
    }
    img {
      display: none;
    }
  }
  @media (max-width: 520px) {
    font-size: 17px;
    strong {
      display: block;
    }
  }
}

.kickstarter.visible + .page {
  padding-top: $header-height + $kickstarter-height;
  > header {
    top: $kickstarter-height;
  }
  @media (max-width: 1000px) {
    padding-top: $header-height + $kickstarter-height-sm;
    > header {
      top: $kickstarter-height-sm;
    }
  }
  @media (max-width: 768px) {
    padding-top: $header-height-xs + $kickstarter-height-sm;
  }
  @media (max-width: 520px) {
    padding-top: $header-height-xs + $kickstarter-height-xxs;
    > header {
      top: $kickstarter-height-xxs;
    }
  }
}
