
/* ============================================ 

  Clearfix
  
*/

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
};

/* ============================================ 

  Border radius

*/

@mixin border-radius( $radius: 5px ) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  -webkit-background-clip: padding-box; 
  -moz-background-clip: padding; 
  background-clip: padding-box;
}

/* ============================================ 

  Placeholder text
  Allows for easy crossbrowser placeholder adjustment

*/

@mixin placeholder-text {
  &.placeholder{ @content; }
  &:-moz-placeholder{ @content; }
  &::-moz-placeholder{ @content; }
  &:-ms-input-placeholder{ @content; }
  &::-webkit-input-placeholder{ @content; }
};

/* ============================================ 

  Reset list styling

*/

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}


/* ============================================ 

  Custom underline

*/

@mixin custom-underline ( 
  $underline-colour: $highlight-colour, 
  $hover: true 
) {
  border-bottom: 1px solid $underline-colour;
  text-decoration: none;

  @include ceaser-transition( border-bottom-color, 250ms );

  @if $hover {
    &:hover {
      // color: #fff; (colour state should not be set here)
      border-bottom-color: rgba($underline-colour, 0);
    }
  }
}

/* ============================================ 

  Opacity

*/

@mixin opacity( $opacity ){
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* ============================================ 

  Transitions

*/

@mixin transition( $args... ){
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* ============================================ 

  Font awesome mixin

*/
@mixin fa-icon{
  font-family: "FontAwesome";
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};


/* ============================================ 

  Text input

*/
@mixin input-text{

  padding: 14px 13px 15px;
  font-weight: 500;
  border: solid 1px #fff;
  border-width: 1px 0px 1px 1px;
  color: $color-primary-dark;

  @include transition( all $anim-speed-primary linear );

  &:focus {
    outline: none; // remove default outline
    border-color: $color-primary-highlight; // add custom border colour

    // Hard to find a good box-shadow mixin and not enough time to write my own:
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba( $color-primary-dark, .5 );
    -moz-box-shadow: inset 0px 0px 10px 0px rgba( $color-primary-dark, .5 );
    box-shadow: inset 0px 0px 10px 0px rgba( $color-primary-dark, .5 );
  }
}

/* ============================================ 

  Button mixin

*/

@mixin button( 
  $padding: 7px 15px, 
  $border-color: $color-primary-highlight, 
  $border-opacity: 0.2 
){

  // Vars
  $anim_speed-slow: 500ms;
  $anim_speed-fast: 150ms;
  $easing: cubic-bezier(0.470, 0.000, 0.745, 0.715); // EXPERIMENTAL
    
  // make animations an option?
  @include transition(
    background $anim_speed-fast $easing,
    border ($anim_speed-fast - 100) linear,
    color $anim_speed-fast $easing ( $anim_speed-fast - 100 )
  );

  // Styling
  display: inline-block; // Might be too much of an assumption, can make mixin argument
  border: solid 1px rgba( $color-primary-highlight, $border-opacity );
  padding: $padding;
  color: $color-primary-highlight;
  text-decoration: none;
  @include border-radius( 2px );

  // icon container
  span {
    margin-right: 7px;
  }

  &:focus,
  &:hover {
    outline: none;
    border-color: rgba( $color-primary-highlight, 1 );
    background: $color-primary-highlight;
    color: $color-primary-light;
  }
}


/* ============================================ 

  Author

*/


@mixin author {

  overflow: hidden;
  @include flexbox;
  @include align-items( center );

  .image {

    overflow: hidden;
    float: left;
    margin: 0 14px 0 0;

    img {
      vertical-align: top;
      width: 55px;
      @include border-radius( 50% );
    }
  }
  .details {
    float: left;
    > * {
      display: block;
    }
    .name {
      font-size: 18px;
      @include transition( color $anim-speed-primary linear );
      &:hover {
        color: $color-primary-highlight;
      }
    }
    .role {
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
    }
  }

}
