.page-heading {
    position: relative;
    padding: $grid;
    background-color: $color-primary-dark;

    @include gridle_state( tablet-landscape ){
        padding: $grid * 3 $grid * 3 $grid * 2;
    }

    h1 {
        color: $white;
    }

    .introduction {
        color: rgba($white, 0.8);
    }

    img {
        width: auto;
        height: 200px;
        position: absolute;
        z-index: 3;
        bottom: -23px;
        right: $grid * 4;
    }
}

.introduction {
    position: relative;
    font-size: 21px;
    max-width: 1000px;

    @include gridle_state( tablet-landscape ){
        font-size: 24px;
    }
}
