.page-heading {
    position: relative;
    padding: $grid;
    text-align: center;
    margin: 0;

    @include gridle_state( tablet-landscape ){
        margin: 0 0 $grid * 4;
        padding: 0;
    }

    h1 {
        color: $color-white;
    }

    .introduction {
        color: rgba($color-white, 0.8);
        margin: 0 auto;
    }

    img {
        width: auto;
        height: 200px;
        position: absolute;
        z-index: 3;
        bottom: -23px;
        right: $grid * 4;
    }

    .btn {
        margin: 0 $grid / 2;
        color: $color-white;

        &:hover {
            color: $color-white;
        }
    }

    // Standard page specific styles

    .template-standard-page & {
        background-color: $color--quaternary;
        margin-bottom: ($grid * 3);
        text-align: left;
        padding-bottom: ($grid * 4);
        padding-top: ($grid * 6);

        h1,
        .introduction {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            color: $bodyColor;
        }

        h1 {
            color: $color--secondary;
            margin-bottom: ($grid * 2)
        }

    }

}

.introduction {
    position: relative;
    font-size: 21px;
    max-width: 1000px;

    @include gridle_state( tablet-landscape ){
        font-size: 24px;
    }
}
