.page-heading {
    padding: $grid;
    background-color: $backgroundColor;

    @include gridle_state( tablet-landscape ){
        padding: $grid * 2 $grid * 3;
    }

    .introduction {
        font-size: 21px;
        max-width: 1000px;

        @include gridle_state( tablet-landscape ){
            font-size: 24px;
        }
    }
}
