/* ============================================

  Page content

*/

// Streamfield & RTE content are being rendered in a combined fashion
// The following styles attempt to normalise the difference in container rendering and simplify the styling.
.page-content > .container {
  a {
    word-wrap: break-word;
  }
  ol,
  ul {
    margin: 0 0 ($gutter / 2);
    li {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.5;
      @include gridle_state(tablet-portrait mobile) {
        font-size: 18px;
        line-height: 1.35;
      }
    }
  }

  // Introduction block with drop cap
  .intro {
    p {
      font-size: 24px;
      line-height: 1.25;
      @include font-smoothing;
      @include gridle_state(tablet-portrait mobile) {
        font-size: 20px;
      }
    }
  }
  // Overwrite bottom spacing for heading elements so they sit the same distance as inline headings within .paragraph containers
  .heading {
    margin-bottom: ($gutter / 2);
  }
  .paragraph {
  }
  .blockquote {
    background-color: $color--interaction;
    @include transform(skew(-20deg));
    @include gridle_state(tablet-portrait mobile) {
      padding: 10px !important;
      @include transform(skew(0deg));
    }

    blockquote {
      font-size: 24px;
      @include font-smoothing;
      font-style: italic;
      font-weight: bold;
      padding-top: 20px;
      color: $color--white;
      @include transform(skew(20deg));
      @include gridle_state(tablet-portrait mobile) {
        @include transform(skew(0deg));
        padding-top: 0px;
        margin: 0px;
      }
    }
  }

  .colourtext {
    max-width: none;

    @include gridle_set(
      (
        grid: 12,
        push: 0,
        pull: 0,
        // no_gutter : (left right),
          desktop:
          (
            grid: 12,
            push: 0,
            pull: 0,
            // no_gutter : (left right)
          )
      )
    );

    .text {
      background: $color--interaction;
      color: $color--white;

      @include gridle_set(
        (
          grid: 12
        )
      );

      .rich-text {
        @include gridle_set(
          (
            grid: 12,
            desktop: (
              grid: 10,
              centered: true
            )
          )
        );
      }

      padding-top: 25px;
      padding-bottom: 35px;

      @include gridle_state(desktop) {
        padding: 35px 35px 45px;
      }
    }
  }
  .calltoaction {
  }
  .tripleimage {
  }
  .stats {
    ul {
      @include reset-list;
      margin-bottom: ($gutter / 2);

      li {
        @include gridle_set(
          (
            grid: 12,
            desktop: (
              grid: 4
            )
          )
        );

        > * {
          display: block;
        }

        .image {
        }
        .statistic {
          font-size: 56px;
          margin: 0 0 ($gutter / 2);
        }
        .name {
        }
      }
    }
  }
}
