.pane__showcase {
  overflow: hidden;
  padding: $grid $grid * 2 0;
  text-align: center;
  position: relative;

  .btn {
    position: relative;
    z-index: 2;
  }

  header {
    margin: 0 0 $grid * 3;
    font-size: 21px;

    p {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    @include gridle_state(tablet-landscape) {
      padding: 0 $grid * 3;
    }

    &--item {
      flex: 0 0 auto;
      flex-basis: 100%;
      max-width: 100%;
      padding: 0 $grid * 2 $grid * 2;
      font-size: 16px;

      // Just show three for mobile
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }

      @include gridle_state(tablet-landscape) {
        flex-basis: 50%;
        max-width: 50%;

        // Show another for tablet
        &:nth-child(4) {
          display: block;
        }
      }

      @include gridle_state(desktop) {
        flex-basis: 33.333%;
        max-width: 33.333%;

        // Show all for desktop
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          display: block;
        }
      }

      img {
        width: 100%;
        margin: 0 0 $grid;
        box-shadow: 0 -5px 10px rgba($color--black, 0.4);
      }

      a {
        h3 {
          color: $color--black;
        }

        p {
          color: $bodyColor;
        }
      }
    }
  }
}
