.pane__latest {
  padding: 0 ($gutter * 2) ($gutter * 3);
  background: $backgroundColor;

  @include gridle_state(tablet-landscape) {
    padding: 0 ($gutter * 4) ($gutter * 2);
  }

  h2 {
    text-align: center;
    margin: 0 0 40px;
  }

  .view-all {
    text-align: center;
  }

  article {
    flex: 0 0 auto;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 $gutter $gutter * 2;

    @include gridle_state(tablet-landscape) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @include gridle_state(desktop) {
      flex-basis: 33.333%;
      max-width: 33.333%;

      &:nth-child(4) {
        display: none;
      }
    }

    @include gridle_state(desktop-super-wide) {
      flex-basis: 25%;
      max-width: 25%;

      &:nth-child(4) {
        display: block;
      }
    }

    a {
      display: flex;
      flex-direction: row;

      &:hover {
        h3 {
          color: $color--interaction;
        }
      }
    }

    .image-container {
      width: 100px;
      height: 100px;
      flex-basis: 100px;
      min-width: 100px;
      max-width: 100px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      background-size: cover;
      background-color: $color--background-light;
      border: 1px solid $color--grey-light;
    }

    .text-container {
      padding: 0 0 0 ($gutter * 1.5);

      h3 {
        color: $color--primary;
        margin: 0;
        line-height: 1.2;
      }

      p {
        margin: 0;

        &.date {
          text-transform: uppercase;
          font-size: 15px;
          color: $color--secondary;
        }
      }
    }
  }
}
