.pane__code {
    position: relative;

    .text-container {
        position: relative;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0 $grid * 2;

        @include gridle_state( desktop ){
            padding: 0 $grid * 3;
        }

        h2 {
            margin-bottom: $grid * 2;
        }
    }

    .pre-container {
        width: 90%;
        text-align: left;
        margin: 0 auto;

        @include gridle_state( desktop ){
            width: 50%;
        }
    }

    pre {
        font-size: 16px;
        width: 100%;
        background-color: $color-black;
        box-shadow: 0 0 20px rgba($color-white, 0.1);
        border-radius:  0 0 5px 5px;
        padding-bottom: 140px; // to ensure button doesn't cover code

        @include gridle_state( desktop ){
            font-size: 21px;
            padding-bottom: ($grid * 3);
        }
    }

    .actions {
        position: absolute;
        bottom: 0;
        right: $grid;
        margin: 0;

        @include gridle_state( desktop ){
            right: 20%;
        }

        svg {
            transform: translateX(0) rotate(-90deg);
        }

        &:hover {

            svg {
                transform: translateX(5px) rotate(-90deg);
                bottom: 20px;
            }

        }
    }
}
