// Primary Navigation
.primary_navigation {
  float: right;
  display: none;

  @include gridle_state(tablet-landscape) {
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 10px 0;
    float: right;

    // fade out links when hovering UL
    &:hover {
      a {
        opacity: 0.5;
      }
    }

    li {
      margin-bottom: 0;

      a {
        @include font-smoothing();
        display: block;
        padding: 12px 15px;
        color: $color--primary;
        font-size: 16px;
        font-weight: 600;
        border: solid 1px transparent;

        @include transition(color 0.5s ease-out, opacity 0.5s ease-out);

        &:hover {
          opacity: 1;
          color: $color--interaction;
        }

        &.get_started {
          font-weight: 800;
        }
      }
    }
  }
}
