.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background-color: $color-primary-highlight;
    height: 100%;
    width: 25%;
    padding: $headerHeight 0;

    h2 {
        color: $color-white;
    }
}
