
/* ============================================ 

  Sidebar

*/
#sidebar {

    $horizontal-pad: 32px;
    $outOpacity: 0.5;

    @mixin link-styling{
        display: block;
        text-decoration: none;
        padding: 16px $horizontal-pad 48px;

        @include transition( opacity $anim-speed-primary linear );

        > * {
            display: block;
        }
        .date {
            font-size: 18px;
            font-weight: 300;
            color: $color-primary-dark;
            @include opacity( 0.6 );
            margin-bottom: 9px;
        }
        .title {
            font-size: 24px;
            font-weight: 300;
            color: $color-primary-light;
        }
        &:hover {
            @include opacity( 1 );
            background: rgba( $color-primary-dark, 0.2 );
        }
    };

    @include gridle_set((
        grid : 4,
        no_gutter : (left right),
        tablet-portrait : (
            grid : 12,
            push : 0,
            pull : 0
        ),
         mobile : (
            grid : 12,
            push : 0,
            pull : 0
        )
    ));

    position: absolute;
    top: $header-height; bottom: 0px;
    z-index: 10;

    // compensate for variable height header
    @include gridle_state( tablet-landscape ){ top: $header-height - 2; }
    @include gridle_state( tablet-portrait ){ top: $header-height - 20; }

    background: $color-primary-highlight;
    color: $color-primary-light;
    overflow-y: scroll; // replace with custom scrollbar when time

    // 
    @include gridle_state( tablet-portrait mobile ){
        position: relative;
        top: auto; bottom: auto;
        overflow: hidden;
    }


    // transform: translate3d( 0%, 0, 0 );
    // @include transition( transform $anim-speed-primary cubic-bezier(0.190, 1.000, 0.220, 1.000) );

    .blog-index-button {

        position: relative;
        z-index: 10;

        display: none;

        @include gridle_state( tablet-portrait mobile ){
            display: block;
        }
        
        padding: 14px 0;

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        font-size: 16px;
        color: $color-primary-light;

        span {
            margin-left: 10px;
        }
    }

    h2 {
        font-size: 42px;
        font-weight: 600;
        padding: 16px $horizontal-pad 0px;
        margin: 32px 0 10px;

        @include gridle_state( tablet-portrait mobile ){
            display: none;
        }
    }

    ul {
        @include reset-list;

        @include gridle_state( tablet-portrait mobile ){
            // transform: translate3d( 0, -100%, 0 );
            display: none;
            .sidebar-open & {
                display: block;
            }
        }

        // fade out links when hovering UL
        &:hover {
            a {
                @include opacity( $outOpacity );
            }
        }

        li {
            a {
                @include link-styling;
            }
        }
    }
}