.tabs {
    margin: 0 0 40px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            margin: 0;
            padding: 0;
        }

    }

}

.tab-content {
    display: none;

    &.current {
        display: inherit;
    }

}
