.teasers {
    padding: 0;

    ul {
        display: flex;

        li {
            flex: 0 0 auto;
            flex-basis: 100%;
            max-width: 100%;
            padding: 0 $grid $grid * 2;

            @include gridle_state( tablet-landscape ){
                flex-basis: 50%;
                max-width: 50%;
            }

            @include gridle_state( desktop ){
                flex-basis: 25%;
                max-width: 25%;
            }

            a {
                border-radius: 5px;
                overflow: hidden;
                display: block;
                background-color: $backgroundColor;
                height: 100%;
                padding: $grid;
                text-align: left;
                transition: background-color .2s ease 0s;

                &:hover {
                    background-color: $color-white;
                }
            }

            h2 {
                font-size: 28px;
            }
        }
    }


}
