{% extends "patterns/base_page.html" %}

{% load static wagtailcore_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}{% endblock %}

{% block content %}

    {% include "patterns/components/hero/hero.html" with value=page classes="hero--home" %}

    <div class="grid">
        <div class="code-snippet" data-code-snippet>
            <pre data-code-to-copy>pip install wagtail</pre>
            <button class="code-snippet__button" aria-label="Copy the command pip install wagtail" data-copy-code-button>
                <svg class="code-snippet__icon" aria-hidden="true">
                    <use xlink:href="#copy"></use>
                </svg>
            </button>
            <p class="code-snippet__confirmation">Copied!</p>
        </div>
    </div>

    {% include_block page.body %}

{% endblock %}
