{% extends "patterns/base_page.html" %}

{% load static i18n wagtailcore_tags wagtailembeds_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block title %}Wagtail CMS - {% firstof page.seo_title page.title %}{% endblock %}
{% block title_suffix %}{% endblock %}

{% block content %}

    {% include "patterns/components/hero/hero.html" with value=page classes="hero--home" %}

    {% if page.code_snippet %}
        <div class="grid">
            <div class="code-snippet{% if page.call_to_action|length < 2 %} code-snippet--bottom-space{% endif %}" data-code-snippet>
                <pre data-code-to-copy>{{ page.code_snippet|linebreaks }}</pre>
                {% blocktrans trimmed asvar copy_label with code_snippet=page.code_snippet %}
                    Copy the command `{{ code_snippet }}`
                {% endblocktrans %}
                <button class="code-snippet__button" aria-label="{{ copy_label }}" data-copy-code-button>
                    <svg class="code-snippet__icon" aria-hidden="true">
                        <use xlink:href="#copy"></use>
                    </svg>
                </button>
                <p class="code-snippet__confirmation" role="alert">{% trans 'Copied!' %}</p>
            </div>
        </div>
    {% endif %}

    {% if page.call_to_action %}
        <div class="grid">
            <div class="button-align button-align--home">
                {% for block in page.call_to_action %}
                    {% with block.value as cta %}
                        {% include "patterns/components/buttons/button.html" with arrow=True url=cta.url title=cta.text classes="button-align__item" %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if page.video %}
        <div class="home-embed">
            <div class="responsive-object" style="padding-bottom: 56.25%;">
                {# Bare-minimum alternative text for the homepage video. To be replaced with YouTube. #}
                <p id="home-embed-video-description" class="u-sr-only">Promotional homepage video</p>
                <video aria-describedby="home-embed-video-description" controls>
                    {% for source in page.video.sources %}
                        <source type="{{ source.type }}" src="{{ source.src }}">
                    {% endfor %}
                </video>
            </div>
        </div>
    {% endif %}

    {% include_block page.body %}

{% endblock %}
