{% extends "patterns/base_page.html" %}

{% load static wagtailcore_tags wagtailembeds_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    {% include "patterns/components/hero/hero.html" with value=page classes="hero--home" %}

    {% if page.code_snippet %}
        <div class="grid">
            <div class="code-snippet{% if page.call_to_action|length < 2 %} code-snippet--bottom-space{% endif %}" data-code-snippet>
                <pre data-code-to-copy>{{ page.code_snippet }}</pre>
                <button class="code-snippet__button" aria-label="Copy the command {{ page.code_snippet }}" data-copy-code-button>
                    <svg class="code-snippet__icon" aria-hidden="true">
                        <use xlink:href="#copy"></use>
                    </svg>
                </button>
                <p class="code-snippet__confirmation">Copied!</p>
            </div>
        </div>
    {% endif %}

    {% if page.call_to_action %}
        <div class="grid">
            <div class="button-align button-align--home">
                {% for block in page.call_to_action %}
                    {% with block.value as cta %}
                        {% include "patterns/components/buttons/button.html" with arrow=True url=cta.url title=cta.text classes="button-align__item" %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if page.video %}
        <div class="home-embed">
            <div class="responsive-object" style="padding-bottom: 56.25%;">
                <video {% if page.autoplay_video %}autoplay loop muted{% else %}controls{% endif %}>
                    <source type="{{ page.video.type }}/{{ page.video.file_extension }}" src="{{ page.video.url }}">
                </video>
            </div>
        </div>
    {% endif %}

    {% include_block page.body %}

{% endblock %}
