@use "../abstracts/variables" as *;

.author {
    $root: &;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;

    &__image {
        width: 40px;
        height: 40px;
        margin: 0 20px 0 0;
        border-radius: 50%;
    }

    &__details {
        .blog-post__content & {
            font-size: 14px;
        }
    }

    &__name,
    &__link {
        font-weight: $weight--bold;
        font-size: 16px;
        margin-bottom: 0;
        line-height: 1;

        .blog-post__content & {
            font-size: 14px;
            font-weight: $weight--regular;
        }
    }

    &__link {
        color: var(--color--text);
        text-decoration: none;
        transition: color 0.3s;

        // Stretch the link over the whole author
        &::after {
            content: "";
            position: absolute;
            inset: 0;
        }

        &:hover,
        &:focus-visible,
        #{$root}:hover & {
            color: var(--color--interaction);
        }
    }

    &__meta {
        .blog-post__content & {
            display: none;
        }
    }

    &--blog {
        #{$root}__name {
            margin-bottom: 5px;
        }

        #{$root}__image {
            border-radius: 50%;
            display: flex;
            align-items: center;
            margin-right: 20px;
            height: 64px;
            width: 64px;

            img {
                border-radius: 50%;
                flex-shrink: 0;
            }
        }
    }
}
