@use "../abstracts/variables";

.backer {
    &__link {
        color: variables.$color--teal;
        transition: color 0.3s;

        &:hover {
            color: var(--color--highlight);
        }

        &--with-image {
            display: block;
        }
    }
}
