.blog-post {
    $root: &;
    text-decoration: none;
    color: var(--color--text);

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;

        #{$root}__title {
            color: var(--color--interaction);
        }
    }

    &__title {
        color: var(--color--text);
        transition: color 0.3s;
        margin-bottom: 0;
    }

    &__image-wrapper {
        display: block;
        position: relative;
        overflow: hidden;
        min-height: 350px;
    }

    &__listing-text {
        color: var(--color--meta);
    }

    &__content {
        position: relative;
        left: -$gutter-sm; // offset padding for vertical alignment
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: var(--color--background);
        padding: $gutter-sm;
    }

    &__image {
        object-fit: cover;
        position: absolute;
        inset: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s;
        max-width: none;
        width: 100%;

        @include media-query(large) {
            position: static;
            transform: none;
            display: block;
        }
    }

    &__meta {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: var(--color--meta);
    }

    &__icon {
        width: 22px;
        height: 22px;

        svg {
            width: inherit;
            height: inherit;
        }
    }

    &--featured {
        display: grid;
        margin-bottom: 30px;

        @include media-query(medium) {
            grid-column: 1 / span 2;
            margin-bottom: 0;

            #{$root}__listing-text {
                font-size: 1rem;
            }
        }

        @include media-query(large) {
            grid-template-columns: 2fr 3fr;
        }

        #{$root}__content {
            @include offset-bg-right();
            border-radius: 0 15px 15px 0;
            gap: 20px;
            background: var(--color--light-dark);

            @include media-query(medium) {
                padding: $gutter $gutter-lg;

                // stylelint-disable-next-line max-nesting-depth
                &::after {
                    transform: rotate(-3deg) translate3d(-5px, 10px, 0);
                    width: 50%;
                }
            }

            @include media-query(large) {
                padding: $gutter-lg $gutter-xl;

                // stylelint-disable-next-line max-nesting-depth
                &::after {
                    transform: rotate(-4deg) translate3d(18px, 18px, 0);
                }
            }
        }
    }

    &--small {
        #{$root}__content {
            @include offset-bg-left();
        }

        #{$root}__listing-text {
            font-size: 1rem;

            @include media-query(large) {
                font-size: 0.8rem;
            }
        }

        @media screen and (prefers-reduced-motion: no-preference) {
            &:hover,
            &:active,
            &:focus {
                #{$root}__content {
                    @include offset-bg-hover-left();
                }
            }
        }
    }
}
