// For aligning buttons side-by-side
.button-align {
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;

    @include media-query(medium) {
        flex-direction: row;
        grid-column: 2 /  span 3;
    }

    &__item {
        width: 100%;
        justify-content: space-between;

        @include media-query(medium) {
            width: auto;
            justify-content: flex-start;
        }
    }

    &--home {
        margin-bottom: 50px;

        @include media-query(medium) {
            margin-bottom: 100px;
        }
    }
}
