.card-grid {
    display: grid;

    grid-column: 2 / span 2;
    @include sf-spacing();

    @include media-query(medium) {
        grid-column: 2 / span 3;
    }

    @include media-query(large) {
        grid-column: 2 / span 5;
    }

   &__item {
        padding: 0 0 50px 0;

        @include media-query(medium) {
            padding: 0 50px 50px 0;
        }
        @include media-query(large) {
            &:nth-child(odd) {
                grid-column: 2 / span 2;
            }

            &:nth-child(even) {
                grid-column: 4 / span 2;
            }
        }
    }
}