.card {
    $root: &;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__meta {
        margin-bottom: 10px;

        @include media-query(large) {
            margin-bottom: 20px;
        }

        p {
            font-size: 1rem;
            font-weight: $weight--regular;
        }
    }

    &__heading {
        margin-bottom: 14px;
        transition: color .3s ease;
    }

    &__description {
        color: var(--color--meta);
        padding-bottom: 30px;

        @include media-query(large) {
            padding-bottom: 40px;
            font-size: 0.8rem;
            line-height: 1.5;
        }
    }

    &__cta {
        margin: 30px auto auto auto;

        @include media-query(medium) {
            margin: 40px auto 0 0;
        }
    }

    .card-grid & {
        justify-content: flex-start;

        #{$root}__description {
            padding-bottom: 0;
        }
    }
}
