.code-snippet {
    $root: &;
    background-color: var(--color--highlight);
    color: $color--white;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: 6px;
    position: relative;
    grid-column: 2 / span 2;
    margin-bottom: 15px;
    font-size: 0.9375rem;
    justify-content: space-between;

    @include media-query(medium) {
        justify-content: flex-start;
        grid-column: 2;
        font-size: 1rem;
        padding: 15px 26px;
    }

    pre {
        margin: 0 15px 0 0;
        white-space: nowrap;
        font-weight: $weight--bold;
        font-family: $font--code;

        @include media-query(medium) {
            margin: 0 70px 0 0;
        }
    }

    &__icon {
        fill: $color--eggshell;
        width: 20px;
        height: 20px;
        transition: color 0.3s;

        @media (forced-colors: active) {
            fill: currentColor;
        }

        &:hover,
        &:active,
        &:focus {
                fill: $color--white;

                @media (forced-colors: active) {
                    fill: currentColor;
                }
        }
    }

    &__button {
        padding: 0;
    }

    &__confirmation {
        background-color: var(--color--highlight);
        position: absolute;
        width: min-content;
        height: min-content;
        margin: 0;
        font-size: 0.875rem;
        font-weight: 700;
        padding: 5px 10px;
        border-radius: 6px;
        inset: -20% 80%;
        transition: transform 0.2s;
        transform: translate3d(0, 40%, 0);
        pointer-events: none;
        z-index: -1;
        visibility: hidden;

        @include media-query(large) {
            font-size: 0.7rem;
        }

        .has-copied & {
            transform: translate3d(0, -80%, 0);
            visibility: visible;
        }
    }

    &--bottom-space {
        margin-bottom: 50px;

        @include media-query(medium) {
            margin-bottom: 100px;
        }
    }
}
