.code-block {
    background-color: $color--indigo;
    color: $color--white;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 6px;

    @include media-query(large) {
        grid-column: 2;
    }

    pre {
        margin: 0 70px 0 0;
        white-space: nowrap;
        font-weight: $weight--bold;
    }

    &__icon {
        color: $color--eggshell;
        width: 20px;
        height: 20px;
    }

    &__button {
        padding: 0;
    }
}
