.comparison-table {
    padding: 0 0 20px 0;

    @include media-query(large) {
        padding: 0 0 100px 0;
    }

    td:first-child {
        font-weight: $weight--bold;
        width: 150px;

        @include media-query(large) {
            width: 250px
        }
    }

    tbody {
        grid-column: 2 / span 2;
        grid-gap: 20px;
        overflow-x: scroll;

        @include media-query(medium) {
            grid-column: 2 / span 3;
            overflow-x: auto;
        }
    
        @include media-query(large) {
            grid-column: 2 / span 5;
        }

        > tr:last-child {
            td {
                border: unset;
            }
        }
    }


    td,
    th {
        padding: 20px 20px 20px 0;
        border: 1px $color--light-grey;
        border-style: none none dashed none;

        > div > p {
            font-size: 1rem;
            line-height: 1.5rem;

            @include media-query(large) {
                font-size: 0.8rem;
                line-height: 1.2rem;
            }
        }
    }
}