.cookie {
    $root: &;
    @include z-index(modal);
    margin: 0 10px 10px;
    position: fixed;
    right: auto;
    bottom: 0;
    left: auto;
    display: none; // Doesn't display unless there isn't a cookie
    width: 100%;
    pointer-events: none;

    // Applied if cookie just added
    &.inactive {
        display: block;
        transform: translateY(200%);
    }

    &.active {
        display: block;
        transform: translateY(0);
    }

    &__container {
        padding: $gutter-sm;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: ($gutter-sm * 35);
        margin: 0 auto;
        line-height: 1.4;
        color: var(--color--text);
        background-color: var(--color--light-dark);
        border: 1px solid var(--color--border);
        border-radius: 5px;

        .theme-dark & {
            border-color: $color--grey;
        }
    }

    &__message {
        p {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    &__link {
        color: var(--color--interaction);
        text-decoration: underline;
        pointer-events: visible;

        &:hover {
            color: var(--color--dark-light);
        }
    }

    &__btn {
        display: block;
        width: 24px;
        height: 24px;
        pointer-events: auto;
        cursor: pointer;

        &:hover {
            #{$root}__btn-icon {
                fill: var(--color--dark-light);
            }
        }
    }

    &__btn-icon {
        fill: var(--color--interaction);
    }
}
