@use "../abstracts/mixins";
@use "../abstracts/variables";

.document {
    @include mixins.sf-spacing(2);
    grid-column: 2 / span 2;
    color: variables.$color--teal;
    transition: color 0.3s;

    &:hover {
        color: var(--color--highlight);
    }

    @include mixins.media-query(medium) {
        grid-column: 2 / span 3;
    }

    @include mixins.media-query(large) {
        grid-column: 2 / span 5;
    }
}
