@use "../abstracts/variables";

.feature {
    $root: &;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 0.8rem;

    &__text {
        margin-bottom: 10px;
    }

    &__link {
        font-weight: variables.$weight--bold;
        color: variables.$color--teal;
        transition: color 0.3s;
        text-decoration: none;

        &:hover {
            color: var(--color--highlight);
        }
    }

    &__heading {
        margin-bottom: 10px;
    }
}
