.footer-menu {
    $root: &;

    background-color: $color--teal-300;
    padding: 40px 0;

    &__column {
        grid-column: 2 / span 2;
        margin-bottom: 17px;
    }

    &__list {
        display: none;
        list-style: none;
        margin-top: 18px;
        margin-left: 40px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: $color--teal;
        flex-shrink: 0;

        @include media-query(large) {
            display: none;
        }

        &--close {
            display: none;
        }
    }

    &__toggle {
        padding: 5px;
    }

    &__link {

    }

    &__column-header {
        display: flex;
    }

    &__column-heading {
        font-weight: $weight--bold;
        font-size: 1.25rem;
        margin-left: 10px;
    }

    &__column.is-open {
        #{$root}__icon {
            &--open {
                display: none;
            }

            &--close {
                display: block;
            }
        }

        #{$root}__list {
            display: block;
        }
    }

    .no-js & {
        &__list {
            display: block;
        }
    }
}
