@use "../abstracts/mixins";
@use "../abstracts/variables";

.grid {
    display: grid;
    grid-template-columns: variables.$gutter 1fr 1fr variables.$gutter;
    max-width: variables.$site-width;
    margin: 0 auto;

    @include mixins.media-query(medium) {
        grid-template-columns: calc(variables.$gutter * 2) 1fr 1fr 1fr calc(variables.$gutter * 2);
    }

    @include mixins.media-query(large) {
        grid-template-columns: calc(variables.$gutter * 3) 1fr 1fr 1fr 1fr 1fr calc(variables.$gutter * 3);
    }

    // allow scrolling on mobile tables
    &--comparison-table {
        margin: 0 auto 50px;
        overflow-x: scroll;

        @include mixins.media-query(medium) {
            margin: 0 auto;
            overflow-x: auto;
        }
    }
}
