.headline {
    $root: &;
    @include sf-spacing(2);
    position: relative;
    padding: 80px 0 0;

    @include media-query(medium) {
        padding: 130px 0 0;
    }

    @include media-query(large) {
        padding: 230px 0 0;
    }

    &:last-child {
        margin-bottom: 0; // prevent space between footer
    }

    &__grid {
        position: relative;
    }

    &__heading {
        @include z-index(overlap);
        position: relative;
        grid-column: 2 / span 2;

        @include media-query(medium) {
            grid-column: 2 / span 3;
        }

        @include media-query(large) {
            grid-column: 2 / span 3;
            width: 120%; // to get a bit of overlap on the icon
            padding-top: $gutter-lg;
        }
    }

    &__subheading {
        position: relative;
        margin-bottom: 20px;
        grid-column: 2 / span 2;

        @include media-query(medium) {
            grid-column: 2 / span 3;
        }
    }

    &__intro {
        margin-bottom: 20px;
        grid-column: 2 / span 2;

        @include media-query(medium) {
            grid-column: 2 / span 3;
            margin-bottom: 40px;
        }

        @include media-query(large) {
            grid-column: 2 / span 3;
        }
    }

    &__button-wrap {
        margin: 0;
        grid-column: 2 / span 2;

        @include media-query(medium) {
            grid-column: 2 / span 3;
        }

        @include media-query(large) {
            grid-column: 2 / span 2;
        }
    }

    &__icon {
        @include z-index(base);
        position: absolute;
        width: 230px;
        height: 300px;
        right: -70px;
        top: -110px;

        @include media-query(large) {
            width: 500px;
            height: 545px;
            right: 70px;
            top: -100px;
        }

        svg {
            width: inherit;
            height: inherit;
        }
    }

    &--dark-theme {
        background-color: $color--indigo;
        padding: 80px 0;

        @include media-query(medium) {
            padding: 130px 0 100px;
        }

        @include media-query(large) {
            padding: 130px 0 130px;
        }

        #{$root}__intro,
        #{$root}__heading,
        #{$root}__subheading {
            color: $color--white;
        }

        // Icon overrides
        .icon__svg-bg {
            stroke: rgba($color--teal-200, 0.2);
            fill: transparent;
        }

        .icon__svg-fg {
            fill: $color--teal-200;
            stroke: none;
            opacity: 0.5;
            transform: rotate(3deg) translate(40px, -20px) scale(0.9);
        }
    }
}
