.hero {
    $root: &;

    @include sf-spacing();
    position: relative;
    grid-column: 2 / span 2;

    @include media-query(medium) {
        grid-column: 2 / span 3;
    }

    @include media-query(large) {
        grid-column: 2 / span 5;
    }

    &__inner {
        padding-top: 20px;

        @include media-query(medium) {
            padding-top: 40px;
            max-width: 80%;
        }

        @include media-query(large) {
            padding-top: 80px;
            max-width: 70%;
        }
    }

    &__intro {
        margin-bottom: 20px;

        @include media-query(medium) {
            margin-bottom: 40px;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        right: -80px;
        z-index: -1;
        width: 170px;
        height: 170px;

        @include media-query(medium) {
            right: -50px;
            top: 40px;
            width: 250px;
            height: 250px;
        }

        @include media-query(large) {
            right: 0;
            width: 410px;
            height: 410px;
        }

        svg {
            width: inherit;
            height: inherit;
        }

        &--paper-plane {
            right: 0;
            width: 290px;
            height: 230px;

            @include media-query(medium) {
                top: -20px;
                width: 450px;
                height: 340px;
            }

            @include media-query(large) {
                top: 0;
                width: 760px;
                height: 460px;
            }
        }

        // Icon overrides
        .icon__svg-bg {
            color: $color--eggshell;
        }
    }

    &--search {
        .icon__svg-fg {
        stroke-width: 1px;
        }
    }

    &--features {
        margin-bottom: 20px;

        @include media-query(large) {
            margin-bottom: 50px;
        }

        #{$root}__subheading {
            font-weight: $weight--regular;
        }
    }

    .template-feature-index & {
        &__button {
            display: none;
        }
    }
}
