.hero {
    @include sf-spacing();
    position: relative;
    grid-column: 2 / span 2;

    @include media-query(medium) {
        grid-column: 2 / span 3;
    }

    @include media-query(large) {
        grid-column: 2 / span 5;
    }

    &__inner {
        padding-top: 20px;

        @include media-query(medium) {
            padding-top: 40px;
            max-width: 80%;
        }

        @include media-query(large) {
            padding-top: 80px;
            max-width: 70%;
        }
    }

    &__intro {
        margin-bottom: 20px;

        @include media-query(medium) {
            margin-bottom: 40px;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        right: 140px;
        z-index: -1;

        @include media-query(medium) {
            right: 0;
            top: 40px;
        }

        svg {
            width: 170px;
            height: 170px;

            @include media-query(medium) {
                top: 0;
                right: -70px;
                width: 250px;
                height: 250px;
            }

            @include media-query(large) {
                right: 0;
                width: 410px;
                height: 410px;
            }
        }

        // Icon overrides
        .icon__svg-fg {
            stroke: $color--teal-200;
        }

        .icon__svg-bg {
            color: $color--eggshell;
        }
    }

  &--search {
    .icon__svg-fg {
      stroke-width: 1px;
    }
  }
}
