// Hover states should be handled on a component basis - not in here
.icon {
    &--relative {
        position: relative;
    }

    &__svg {
        position: absolute;
        overflow: visible;

        .sub-nav & {
            top: 0;
            left: 0;
        }
    }

    &__svg-bg {
        color: $color--eggshell;
        transform: scale(1.15);
        transform-origin: center;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    &__svg-fg {
        color: transparent;
        stroke: $color--off-black;
        stroke-width: 0.5%;
        transform: rotate(7deg);
        transform-origin: center;
    }
}
