.image {
    @include sf-spacing(2);
    grid-column: 2 / span 2;

    @include media-query(medium) {
        grid-column: 2 / span 3;
    }

    @include media-query(large) {
        grid-column: 3 / span 3;
    }
}
