.jump-links {
    grid-column: 2/span 2;

    @include media-query(large) {
        grid-column: 2/span 5;
    }

    &__heading {
        display: block;
        width: 100%;
    }

    &__container {
        list-style: none;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        margin: 0 0 120px;
    }

    &__item {
        font-size: 18px;
        margin-right: 5px;
    }

    &__link {
        color: var(--color--text);
        transition: color $transition;

        &:hover,
        &:focus {
            color: var(--color--interaction);
        }
    }
}
