.logos {
    @include sf-spacing();

    &__heading {
        margin-bottom: 20px;
        grid-column: 2 / span 2;

        @include media-query(medium) {
            margin-bottom: 40px;
            grid-column: 2 / span 3;
        }

        @include media-query(large) {
            grid-column: 2 / span 4;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        grid-column: 2 / span 2;
        gap: 20px;

        @include media-query(medium) {
            grid-column: 2 / span 3;
            gap: 55px;
        }

        @include media-query(large) {
            grid-column: 2 / span 5;
        }
    }

    &__image {
        flex-shrink: 0;
    }
}
