@use "../abstracts/mixins";

.logo-card-grid {
    @include mixins.sf-spacing(2);

    &__heading {
        margin-bottom: 20px;
        grid-column: 2 / span 2;

        @include mixins.media-query(medium) {
            margin-bottom: 40px;
            grid-column: 2 / span 3;
        }

        @include mixins.media-query(large) {
            grid-column: 2 / span 4;
        }
    }

    &__content {
        list-style: none;
        row-gap: 20px;

        @include mixins.media-query(medium) {
            row-gap: 50px;
        }

        @include mixins.media-query(large) {
            row-gap: 100px;
        }
    }


    &__item {
        grid-column: 2 / span 2;

        @include mixins.media-query(large) {
            &:nth-child(odd) {
                grid-column: 2 / span 2;
                max-width: 75%;
            }

            &:nth-child(even) {
                grid-column: 4 / span 2;
                max-width: 75%;
            }
        }
    }
}


