.logo-card {
    $root: &;
    color: $color--off-black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    border-radius: 15px;
    background-color: $color--white;
    padding: 20px;

    &__meta {
        margin-bottom: 10px;

        p {
            font-weight: $weight--regular;
        }
    }

    &__heading {
        margin-bottom: 10px;
        transition: color .3s ease;
    }

    &__description {
        color: $color--grey;
        padding-bottom: 20px;

        @include media-query(large) {
            padding-bottom: 35px;
            font-size: 0.8rem;
        }
    }

    &__image {
        flex-shrink: 0;
    }

    &__author-wrap {
        display: flex;
        align-items: center;
    }

    &__author {
        margin-left: 10px;
    }

    &:is(a) {
        position: relative;

        &::after {
            content: '';
            width: 80%;
            height: 85%;
            background-color: $color--eggshell;
            opacity: 0.75;
            position: absolute;
            z-index: -1;
            border-radius: 15px;
            transition: transform 0.3s;
        }

        &:hover {
            #{$root}__heading {
                color: $color--teal;
            }

            &::after {
                transform: rotate(-5deg) translate3d(-30px, 45px, 0);
            }
        }
    }

    &--article {
        #{$root}__image {
            border-radius: 50%;
        }
    }
}
