.meta {
    display: flex;
    align-items: center;
    gap: 10px;

    &__icon {
        width: 30px;

        svg {
            top: 0;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
        }
    }
}
