.modal {
    $root: &;

    &--get-started {
        // hide the modal if it's open below medium breakpoint
        &.micromodal-slide.is-open {
            display: none;

            @include media-query(medium) {
                display: block;
            }
        }

        #{$root}__content {
            padding: 0 20px 20px;

            @include media-query(large) {
                padding: 0 40px 40px;
            }
        }
    }

    &--search {
        #{$root}__container {
            max-width: 850px;
            overflow: visible;
        }

        #{$root}__close-button {
            position: absolute;
            inset: -10px -10px auto auto;
            background-color: $color--off-black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: 3px solid $color--white;

            svg {
                color: $color--white;
                width: 13px;
                height: 17px;
            }
        }
    }

    &__overlay {
        position: fixed;
        inset: 0;
        background: $color--off-black-30;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 10;
    }

    &__container {
        background-color: $color--white;
        padding: 30px;
        max-width: 1295px;
        max-height: 100vh;
        border-radius: 15px;
        overflow-y: auto;
        box-sizing: border-box;
        width: calc(100% - 40px);
        inset: 140px 0;
        position: relative;
    }

    &__grid {
        &--get-started {
            list-style: none;
            display: grid;
            row-gap: 40px;

            @include media-query(large) {
                row-gap: 80px;
                grid-template-columns: 1fr 1fr;
            }

            #{$root}__grid-item {
                max-width: 75%;
            }
        }
    }

    &__close-button {
        display: block;
        margin-left: auto;
    }

    &__close-icon {
        color: $color--off-black;
        width: 20px;
        height: 20px;
    }

    &__title {
        margin-bottom: 40px;

        @include media-query(large) {
            margin-bottom: 60px;
        }
    }
}

// Micromodal
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
  from {
    transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .25s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .25s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}
