.nav-cta {
    $root: &;
    display: block;
    position: relative;
    color: $color--white;
    text-decoration: none;
    padding: 60px 60px 100px 60px;

    &:hover,
    &:focus {

        #{$root}__cta-heading {
            color: $color--teal-100;
        }

    }

    &__icon {
        @include z-index(base);
        position: absolute;
        top: 60px;
        right: 60px;
        width: 190px;
        height: auto;
        color: rgba($color--teal-200, 0.75);
    }

    &__content {
        @include z-index(overlap);
        position: relative;
        padding-top: 100px;
    }

    &__heading {
        font-size: 55px;
        line-height: 1.1;
        margin-bottom: 10px;
        transition: color $transition;
    }

    &__subheading,
    &__description {
        font-size: 20px;
    }

    &__subheading {
        margin-bottom: 5px;
    }

    &__description {
        font-weight: $weight--regular;
        margin: 0;
    }

    &__arrow {
        position: absolute;
        bottom: 50px;
        right: 60px;
        stroke: $color--white;
        stroke-width: 0.25;
        color: transparent;
        width: 60px;
        height: 60px;
        transform: rotate(14deg); // remove this when icons are refactored to be straight
    }
}

