@use "../abstracts/mixins";
@use "../abstracts/variables";

.nav-cta {
    $root: &;
    display: block;
    position: relative;
    color: variables.$color--white;
    text-decoration: none;
    padding: 20px 20px 50px 20px;
    background-color: var(--color--highlight);

    @include mixins.media-query(medium) {
        padding: 20px 50px 50px 50px;
        height: 100%;
    }

    @media only screen and (min-width: variables.$header-desktop) {
        padding: 60px 60px 100px 60px;
    }

    &:hover,
    &:focus {
        color: var(--color--background);

        #{$root}__heading {
            color: variables.$color--teal-100;
        }

        #{$root}__arrow {
            transform: translate3d(20%, 0, 0) scale(1.1);
            fill: variables.$color--white;
        }

        .theme-dark & {
            color: var(--color--interaction);
        }

    }

    &__icon {
        @include mixins.z-index(base);
        position: absolute;
        top: 30px;
        right: 20px;
        width: 190px;
        height: auto;
        fill: rgba(variables.$color--teal-200, 0.75);

        @media only screen and (min-width: variables.$header-desktop) {
            top: 30px;
            right: 10px;
            width: 250px;
        }
    }

    &__content {
        @include mixins.z-index(overlap);
        position: relative;
        padding-top: 40px;
        text-align: start;

        @media only screen and (min-width: variables.$header-desktop) {
            padding-top: 100px;
        }
    }

    &__heading {
        font-size: 45px;
        line-height: 1.1;
        margin-bottom: 10px;
        padding-right: 60px;
        transition: color variables.$transition;

        @media only screen and (min-width: variables.$header-desktop) {
            padding-right: 0;
            font-size: 55px;
        }
    }

    &__subheading,
    &__description {
        font-size: 20px;
    }

    &__subheading {
        margin-bottom: 5px;
    }

    &__description {
        font-weight: variables.$weight--regular;
        margin: 0;
    }

    &__arrow {
        position: absolute;
        bottom: 30px;
        right: 20px;
        stroke: variables.$color--white;
        stroke-width: 4px;
        fill: transparent;
        width: 60px;
        height: 60px;
        transition: transform variables.$transition, fill variables.$transition;

        @media only screen and (min-width: variables.$header-desktop) {
            bottom: 50px;
            right: 60px;
        }

        @media (forced-colors: active) {
            stroke: currentColor;
        }
    }
}

