.newsletter-cta {
    grid-column: 2 / span 2;
    border-radius: $rounded-xl;
    border: 1px solid var(--color--text);
    margin-bottom: 50px;
    padding: 20px;

    @include media-query(large) {
        grid-column: 2 / span 5;
        padding: 60px;
        margin-bottom: 80px;
    }

    &__form {

        @include media-query(large) {
            display: flex;
            justify-content: stretch;
            max-width: 560px;
        }

    }

}
