@use "../abstracts/mixins";
@use "../abstracts/variables";

.newsletter-cta {
    grid-column: 2 / span 2;
    border-radius: variables.$rounded-xl;
    border: 1px solid var(--color--text);
    margin-bottom: 50px;
    padding: 20px;

    @include mixins.media-query(large) {
        grid-column: 2 / span 5;
        padding: 60px;
        margin-bottom: 80px;
    }

    &__form {

        @include mixins.media-query(large) {
            display: flex;
            justify-content: stretch;
            max-width: 560px;
        }

    }

}
