.overview {
    grid-column: 2 / span 2;
    width: 100%;

    @include media-query(large) {
        grid-column: 2 / span 5;
    }

    &__heading {
        margin-bottom: 60px;
    }

    &__section {
        margin-bottom: $gutter-xl;
    }

    &__section-title {
        margin-bottom: $gutter;
    }

    &__sub-heading {
        display: flex;
        align-items: center;
    }

    &__sub-heading-link {
        color: var(--color--text);
        transition: color $transition;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color--teal;
        }

        &--edit {
            margin-left: 15px;
            font-size: 15px;

            &:hover,
            &:focus {
                opacity: 0.6;
            }
        }
    }

    &__description {
        color: var(--color--meta);
    }

    &__description-link {
        color: var(--color--text);
        text-decoration: none;
        transition: color $transition;

        &:hover,
        &:focus {
            color: var(--color--interaction);
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        @include media-query(large) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
}
