@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.pagination {
    $root: &;

    @include sf-spacing(2);
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @include media-query(medium) {
        grid-column: 2 / span 3;
    }

    @include media-query(large) {
        grid-column: 2 / span 5;
    }

    @media screen and (min-width: $pagination-row-view) {
        flex-direction: row;
    }

    &__previous,
    &__next {
        padding: 10px;
    
        @include media-query(medium) {
            padding: 15px 30px;
        }
    }

    &__sequence {
        display: flex;
        list-style: none;
        align-items: center;
    }

    &__page-number {
        text-decoration: none;
        font-size: 1.25rem;
        padding: 10px;

        &--current {
            color: var(--color--text);
        }
    }

    &__ellipsis {
        font-size: 1.25rem;
    }

    &--showcase {
        padding: 50px 0 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        @include media-query(smallonly) {
            flex-direction: column;
            #{$root}__previous,
                #{$root}__next {
                width: 60%;
            }
        }
    }
}
