.primary-nav {
    $root: &;

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        @media only screen and (min-width: $header-desktop) {
            flex-direction: row;
            justify-content: flex-end;
        }

    }

    &__item {
        cursor: pointer;
        width: 100%;
        padding: 15px 0;
        font-weight: $weight--bold;
        text-align: center;
        border-bottom: 1px solid var(--color--border);
        transition: color $transition;

        &:first-child {
            border-top: 1px solid var(--color--border);

            @media only screen and (min-width: $header-desktop) {
                border-top: 0;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        @media only screen and (min-width: $header-desktop) {
            width: auto;
            padding: 0;
            margin: 0 40px 0 0;
            border-bottom: 0;
        }

    }

    &__item-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: var(--color--text);
        padding: 0;
        width: 100%;

        &:focus {
            outline-color: var(--color--heading);
        }

        &:hover,
        &:focus,
        &.active {
            color: var(--color--interaction);
        }
    }

    &__link {
        color: rgba($color--off-black, -0.8);
        border-bottom: 1px solid transparent;
        transition: color, border 0.3s ease;

        &:hover,
        &:focus {
            cursor: pointer;

            @media only screen and (min-width: $header-desktop) {
                color: $color--black;
                border-bottom: 1px solid $color--black;
            }
        }

        @media only screen and (min-width: $header-desktop) {
            padding: 5px 0;
            margin: 0 10px;
            color: $color--black;
        }
    }

    &__label {
        padding-right: 10px;
        font-size: 16px;
        font-weight: $weight--bold;

        @media only screen and (min-width: $header-desktop) {
            padding-right: 7px;
        }
    }

    &__icon {
        height: 12px;
        width: 12px;
        fill: $color--primary;
        transition: fill $transition;
        transform: rotate(-90deg);

        @media only screen and (min-width: $header-desktop) {
            display: inline-block;
            transform: none;
        }

        .active & {
            @media only screen and (min-width: $header-desktop) {
                transform: rotate(180deg);
            }
        }
    }

    .header__nav--mobile & {
        width: 100%;

        #{$root}__container {
            padding: 0 20px;

            @include media-query(medium) {
                padding: 0 50px;
            }
        }
    }
}
