.primary-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    @include media-query(medium) {
        flex-direction: row;
        justify-content: flex-end;
    }

    &__item {
        cursor: pointer;
        width: 60%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: $weight--bold;
        text-align: center;
        border-bottom: 1px solid $color--black;

        &:last-child {
            border-bottom: 0;
        }

        @include media-query(medium) {
            width: auto;
            padding: 0;
            margin: 0 40px 0 0;
            border-bottom: 0;
            position: relative;
        }
    }

    &__item-container {
        display: flex;
        align-items: center;
    }

    &__link {
        color: rgba($color--off-black, -0.8);
        border-bottom: 1px solid transparent;
        transition: color, border 0.3s ease;

        &:hover {
            cursor: pointer;
        }

        @include media-query(medium) {
            padding: 5px 0;
            margin: 0 10px;
            color: $color--black;

            &:hover {
                color: $color--black;
                border-bottom: 1px solid $color--black;
            }
        }
    }

    &__label {
        padding-right: 10px;
        font-size: 16px;
        font-weight: $weight--bold;
    }

    &__icon {
        height: 15px;
        width: 15px;
        color: $color--primary;
        transition: color $transition;

        @include media-query(medium) {
            display: inline-block;
        }

        .active & {
            @include media-query(medium) {
                color: $color--cool-grey;
                transform: rotate(180deg);
            }
        }
    }
}
