.quotes {
    @include sf-spacing();
    position: relative;
    padding-top: 50px;
    overflow: hidden;

    &__header {
        color: $color--off-black;
        padding-bottom: 30px;
        grid-column: 2 / span 2;

        @include media-query(medium) {
            grid-column: 2 / span 3;
        }

        @include media-query(large) {
            grid-column: 2 / span 5;
            padding-bottom: 60px;
        }
    }

    &__item {
        grid-column: 2 / span 2;
        padding: 0 0 25px 0;

        @include media-query(medium) {
            grid-column: 2 / span 3;
        }

        @include media-query(large) {
            &:nth-child(even) {
                grid-column: 4 / span 2;
                padding: 0 0 100px 0;
            }

            &:nth-child(odd) {
                grid-column: 2 / span 2;
                padding: 0 80px 100px 0;
            }
        }

    }

    &__author {
        display: flex;
        align-items: center;
        padding: 15px 0 0;
        color: $color--off-black;

        @include media-query(large) {
            padding: 30px 0 0;
        }
    }

    &__author-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 10px 0 0;
    }

    &__icon {
        fill: $color--teal-200;
        position: absolute;
        inset: -5% 5% auto auto;
        width: 133px;
        height: 124px;
        z-index: -1;

        > svg {
            width: inherit;
            height: inherit;
        }

        @include media-query(medium) {
            inset: -10% -5% auto auto;
            width: 220px;
            height: 220px;
        }

        @include media-query(large) {
            inset: 0 5% auto auto;
            height: 275px;
            width: 280px;
        }
    }

    .icon__svg-fg {
        transform: rotate(185deg) translate(-40px, 10px);
    }
}
