.rich-text {
    a {
        color: $color--teal;

        &:hover {
            // Design TBC
        }
    }

    b {
        font-weight: $weight--bold;
    }

    ul, ol {
        li {
            margin-bottom: 10px;
        }
    }

    p {
        margin: 0 0 20px;

        @include media-query(large) {
            margin: 0 0 40px;
        }

        &:last-child {
            margin: 0;
        }
    }

    &--sf {
        @include sf-spacing();
        grid-column: 2 / span 2;

        @include media-query(medium) {
            grid-column: 2 / span 3;
        }

        @include media-query(large) {
            grid-column: 3 / span 3;
        }
    }
}
