.search-result {
  padding-bottom: 40px;
  border-bottom: 1px solid $color--black;

  &__title {
    color: var(--color--heading);
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      text-decoration: underline;
    }

    > h3 {
      margin-bottom: 10px;
    }
  }

  .button {
    margin-top: 20px;
  }
}
