.showcase_page {
    &__hero {
        padding-bottom: 50px;
    }

    &__intro {
        font-size: 2.5rem;
        padding-bottom: 50px;
    }


    &__content {
        padding: 0 15px;

        @include media-query(medium) {
            padding: 0 15%;
        }
    }

    &__detail {
        display: flex;
        justify-content: space-around;
        padding-bottom: 100px;
    }
}

.select-wrapper {
    position: relative;

    &::before {
        content: "Sector: ";
        position: absolute;
        transform: translateY(-50%);
        padding-right: 10px;
        font-weight: $weight--semibold;
    
        left: 10px;
        top: 50%;
        
        @include media-query(medium) {
            left: 20px;
            top: 50%;
        }
    }

    &__select{
        cursor: pointer;
        width: 100%;
        height: 50px;

        appearance: none;
        border: 1px solid var(--color--text); 
        border-radius: 5px; 
        font-weight: $weight--semibold;

        background-image: url('data:image/svg+xml;utf8,<svg fill="%23007D7E" height="15" viewBox="0 0 15 15" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M4.91 6.402a.644.644 0 00.902 0l3.72-3.718c.273-.274.273-.684 0-.93l-.602-.629c-.274-.246-.684-.246-.93 0L5.348 3.777 2.723 1.125c-.246-.246-.657-.246-.93 0l-.602.629c-.273.246-.273.656 0 .93l3.72 3.718z"/></svg>');        
        background-repeat: no-repeat;
        background-position-y: 65%;
        background-color: var(--color--background);
        color: var(--color--text);
        background-position-x: 95%;

        @include media-query(smallonly) {
            width: 100%;
            padding: 10px 25px 10px 70px;
        }
        
        @include media-query(medium) {
            width: 325px;
            padding: 10px 25px 10px 75px;
        }

        @include media-query(large) {
            width: 350px;
            padding: 10px 25px 10px 90px;
        }
    }
  }

.showcase-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

    padding: 50px 0 50px 0;

    @include media-query(medium) {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items:center
    }
}

.showcase_card {
    $root: &;
    cursor: pointer;

    box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);

    border-radius: 0 0 6px 6px;
    gap: 15px;
    max-width: 800px;
    position: relative;

    &:hover{
        transform: translateY(2px);
        box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.2);
    
        #{$root}__link {
            fill: $color--indigo;
            color: $color--indigo;
        }
    }

    &__logo {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 0 12px 0 3px;
        box-shadow: -12px 8px 8px 0 rgba(0, 0, 0, 0.03);
    }

    &__image {
        padding: 10px;
        height: auto; 
        width: 100%;
    }

    &__heading {
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
    }

    &__content {
        color: $color--off-black;
        margin: 10px 10px;
        
        @include media-query(medium) {
            margin: 40px 60px;
        }
    }

    &__description {
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        margin-bottom: 15px;
    }

    &__link {
        text-decoration: none;
        font-size: 19px;
        font-weight: 700;
        line-height: 29px;
        fill: $color--teal;
        padding-top: 15px;
    }

    &__svg {
        width: 20px;
        height: 20px;
        fill: $color--teal-200;
        position: relative;
        top: 0.2rem;
        left: 0.2rem;
    }
}