@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.showcase-card {
    $root: &;
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 10px;
    max-width: 800px;
    position: relative;
    box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.1);
    // Showcase cards use the same styles in light and dark mode.
    background: $color--white;
    color: $color--off-black;

    border-radius: 10px;

    &:has(a:hover) {
        box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.2);
    }

    @media (forced-colors: active) {
        color: LinkText;
        border: 1px solid currentColor;
    }

    &__logo {
        position: absolute;
        top: 10px;
        right: 10px;
        border-end-start-radius: 3px;
        max-width: 12vw;
        max-height: 12vw;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }

    &__heading {
        @include media-query(large) {
            font-size: 2.1875rem;
        }
    }

    &__content {
        display: grid;
        grid-template-rows: min-content min-content 1fr;
        padding: 10px;

        @include media-query(medium) {
            padding: 20px;
        }

        @include media-query(extra-large) {
            padding: 60px;
        }
    }

    &__description {
        line-height: 1.5;
        margin-bottom: 15px;
    }

    &__link {
        color: $color--teal;
        align-self: self-end;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.25;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
        }
    }

    &__svg {
        width: 20px;
        height: 20px;
        fill: currentColor;
        position: relative;
        top: 0.2rem;
        left: 0.2rem;
    }
}
