@use "../abstracts/mixins";
@use "../abstracts/variables";

.sign-up-form {
    $root: &;
    @include mixins.sf-spacing(2);
    grid-column: 2 / span 2;
    overflow: hidden; // prevent scrollbars from svg size
    
    @include mixins.media-query(medium) {
      grid-column: 2 / span 3;
    }

    @include mixins.media-query(large) {
      grid-column: 2 / span 5;
    }

    &__heading {
        // normalise the h2 element
        margin: 0;
    }

    &__sub-heading {
        padding: 10px 0 0 0;
    }

    &__icon {
        @include mixins.z-index(under);
        position: relative;
        width: auto;

        @include mixins.media-query(medium) {
            display: block;
        }
        
        @include mixins.media-query(large) {
            flex-grow: 1.5;
        }

        > svg {
            position: relative;
            width: 170px;
            height: 170px;
        }
    }

    &__inner {
        @include mixins.media-query(large) {
            flex-grow: 1.5;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin: 30px 0 0 0;

        @include mixins.media-query(medium) {
            flex-direction: row;
        }

        > div {
            display: flex;
            justify-content: flex-start;
            margin: 0;

            @include mixins.media-query(medium) {
                flex: 1;
                width: 50%;
            }
        }
    }

    &__input {
        flex: 1;
        height: 50px;
        border: 1px solid var(--color--text);
        border-radius: variables.$rounded-md;
        padding: 11px 20px;

        @include mixins.focus-internal();

        @include mixins.media-query(medium) {
            border-radius: variables.$rounded-md 0 0 variables.$rounded-md;
        }

        &::placeholder {
            color: variables.$color--off-black;
        }
    }

    &__button {
        border-radius: variables.$rounded-md;
        border-style: solid;
        height: 50px;
        margin: 15px 0 0 0;
        background-color: var(--color--highlight);
        color: variables.$color--white;

        @include mixins.focus-internal();

        @include mixins.media-query(medium) {
            border-radius: 0 variables.$rounded-md variables.$rounded-md 0;
            border-style: solid solid solid none;
            border-left-width: 0;
            margin: 0;
        }
    }

    &--block {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--color--text);
        border-radius: 15px;
        padding: 30px;

        @include mixins.media-query(medium) {
            flex-direction: row;
        }

        @include mixins.media-query(large) {
            padding: 40px 60px;
        }
    }

    &--footer {
        background-color: var(--color--highlight);
        color: variables.$color--white;

        #{$root}__input {
            background-color: var(--color--highlight);
            border: 1px solid variables.$color--white;
            color: variables.$color--white;
            border-radius: 6px;

            @include mixins.media-query(medium) {
                border-radius: 6px 0 0 6px;
            }

            &::placeholder {
                color: variables.$color--white;
            }
        }

        #{$root}__button {
            background-color: variables.$color--white;
            color: var(--color--highlight);
            border-radius: 6px;
            border-style: solid none none none;

            @include mixins.media-query(medium) {
                border-radius: 0 6px 6px 0;
                border-style: none none none solid;
            }

            @media (forced-colors: active) {
                border-style: solid;
            }
        }
    }

    .footer & {
      @include mixins.media-query(large) {
        margin-bottom: 50px;
      }

      &__sub-heading {
        font-size: 16px;
        margin-bottom: 20px;
        padding-top: 0;
        font-weight: variables.$weight--regular;
      }

      &__container {
        margin-top: 0;
      }
    }
}
