@use "../abstracts/variables";

.sitewide-alert {
    position: relative;
    padding: variables.$gutter-sm variables.$gutter;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: calc(var(--banner-height) * -1);

    &--active {
        opacity: 1;
    }

    h2, h3 {
        color: inherit;
    }

    p {
        max-width: variables.$site-width;
        margin: 0 auto;
        font-size: 16px;
        text-align: center;
    }

    a {
        color: inherit;
        border-bottom: 2px solid;

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &--default {
        background-color: variables.$color--pink;
        color: variables.$color--white;

        h2, h3 {
            color: var(--color--highlight);
        }

        a {
            color: variables.$color--off-black-30;
            border-bottom-color: variables.$color--grey;

            &:hover,
            &:active {
                color: variables.$color--grey;
                border-bottom-color: variables.$color--cool-grey;
            }
        }
    }
}
