@use "../abstracts/variables" as *;

.sitewide-alert {
    position: relative;
    padding: $gutter-sm $gutter;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: calc(var(--banner-height) * -1);

    &--active {
        opacity: 1;
    }

    h2,
    h3 {
        color: inherit;
    }

    p {
        max-width: $site-width;
        margin: 0 auto;
        font-size: 16px;
        text-align: center;
    }

    a {
        color: inherit;
        border-bottom: 2px solid;

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &__wrapper {
        max-width: $site-width;
        margin: 0 auto;
        text-align: center;
    }

    &__text {
        margin-bottom: 0.75rem; // Space between text and button
    }

    &__cta {
        display: inline-block;
        padding: 0.25rem 1rem;
        font-size: 14px;
        text-decoration: none;
        border-radius: 3px;
        transition: opacity 0.3s ease;
    }

    &--default {
        
        background-color: $color--pink;
        color: $color--white;

        h2,
        h3 {
            color: var(--color--highlight);
        }

        a {
            color: $color--off-black-30;
            border-bottom-color: $color--grey;

            &:hover,
            &:active {
                color: $color--grey;
                border-bottom-color: $color--cool-grey;
            }
        }
    }
}