.sitewide-alert {
    padding: $gutter-sm $gutter;
    opacity: 0;
    transition: opacity 0.5s ease;

    &--active {
        opacity: 1;
    }

    h2, h3 {
        color: inherit;
    }

    p {
        max-width: $site-widt;
        margin: 0 auto;
        font-size: 16px;
        text-align: center;
    }

    a {
        color: inherit;
        border-bottom: 2px solid;

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &--default {
        background-color: $color--pink;
        color: $color--white;

        h2, h3 {
            color: $color--indigo;
        }

        a {
            color: $color--off-black-30;
            border-bottom-color: $color--grey;

            &:hover,
            &:active {
                color: $color--grey;
                border-bottom-color: $color--cool-grey;
            }
        }
    }
}
