.skip-link {
    z-index: 20;
    position: absolute;
    inset: -500px auto auto 0;
    color: $color--white;
    background-color: var(--color--highlight);
    padding: 20px;
    font-weight: $weight--bold;
    text-decoration: none;

    &:focus {
        top: 0;
    }
}
