.skip-link {
    z-index: 20;
    position: absolute;
    top: -200px;
    left: 0;
    color: $color--white;
    background-color: $color--indigo;
    padding: 20px;
    font-weight: $weight--bold;
    text-decoration: none;

    &:focus {
        top: 0;
    }
}
