@use "../abstracts/variables";

.skip-link {
    z-index: 20;
    position: absolute;
    inset: -500px auto auto 0;
    color: variables.$color--white;
    background-color: var(--color--highlight);
    padding: 20px;
    font-weight: variables.$weight--bold;
    text-decoration: none;

    &:focus {
        top: 0;
    }
}
