.theme-toggle {
    $root: &;
    margin-inline-end: $gutter;
    display: flex;
    align-items: center;
    margin-top: 30px;

    @include media-query(medium) {
        margin-top: 0;
    }

    @include media-query(large) {
        margin-inline-end: ($gutter * 1.5);
    }

    &__label {
        color: $color--white;
    }

    // Don't display toggle if in high contrast mode
    @media (prefers-contrast: more) {
        display: none;
    }

    &__button {
        padding: 0;
        width: 48px;
        height: 28px;
        border: 0;
        overflow: hidden;
        position: relative;
        border-radius: 14px;
        margin: 0 ($gutter * 0.5);
        display: inline-block;
        cursor: pointer;
        background-color: rgba($color--black, 0.9);

        &:focus {
            background-color: $color--teal;

            &::before {
                background-color: $color--teal-100;
            }
        }

        &::before {
            top: 4px;
            inset-inline-start: 24px;
            content: '';
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            border-radius: 12px;
            background-color: $color--light-grey;
            transition: inset-inline-start $transition;
        }

        &::after {
            content: '';
            top: 14px;
            inset-inline-end: 2px;
            width: 1px;
            height: 1px;
            display: block;
            position: absolute;
            border-radius: 0.5px;
            background: $color--off-black;
        }
    }

    .dark-only {
        display: none;
    }

    .theme-dark & {
        .dark-only {
            display: block;
        }

        .light-only {
            display: none;
        }

        #{$root}__button {
            background-color: $color--light-grey;

            &:focus {
                background-color: $color--teal-100;

                // stylelint-disable-next-line max-nesting-depth
                &::after {
                    background-color: $color--teal-100;
                }
            }

            &::before {
                background-color: $color--black;
                inset-inline-start: 4px;
            }

            &::after {
                background-color: $color--light-grey;
                top: -2px;
                inset-inline-end: 2px;
                width: 32px;
                height: 32px;
                border-radius: 16px;
            }
        }

        #{$root}__label {
            color: $color--light-grey;
        }
    }

    .no-js & {
        display: none;
    }
}
