html,
body {
  font: 400 18px/1.5 $font-primary;
  background-color: $color--white;
  color: $color--base;
}

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color--interaction;
  @include transition(color $anim-speed-primary ease);

  &:hover {
    color: $color--interaction-hover;
  }

  &:focus {
    outline-color: $color--interaction;
  }

  .bg--dark & {
    color: $color--white;
    text-decoration: underline;

    &:hover {
      color: $color--quaternary;
    }
  }
}

img {
  height: auto; // overwrite inline height added via django templating (possibly a bad assumption to make!)
  vertical-align: top; // render images as we would just expect them to render (without mystical padding bottom)
}

iframe {
  max-width: 100%;
}

ul {
  list-style-type: square;

  li {
    margin-bottom: ($gutter / 2);
  }
}

/* ============================================

Other global items

*/

.view-all {
  display: block;

  svg {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    fill: $color--black;
    transform: rotate(-90deg) translateY(0px);
    transition: transform 0.2s ease 0s;
  }

  &:hover {
    svg {
      transform: rotate(-90deg) translateY(5px);
    }
  }

  &--light {
    color: $color--white;

    svg {
      fill: $color--white;
    }
  }

  &--internal {
    svg {
      transform: rotate(0deg) translateY(0px);
    }

    &:hover {
      svg {
        transform: rotate(0deg) translateY(5px);
      }
    }
  }
}

.mobile-only {
  display: block;

  @include media-query(small) {
    display: none;
  }
}

/**
 * $Generic video embed wrapper
 */

.video-embed,
.responsive-object {
  position: relative;
  padding-bottom: 56.25% !important;
  height: 0;
  max-width: 100%;
  overflow: hidden;

  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
