.feature-item {
  margin-bottom: ($gutter * 2);

  &__heading {
    font-size: 16px;

    @include media-query(small) {
      font-size: 18px;
    }
  }

  &__description {
    font-size: 13px;

    @include media-query(small) {
      font-size: 14px;
    }
  }
}
