.link-button {
  display: block;
  width: 100%;
  padding: 16px 40px;
  margin: 40px 0;

  border-radius: 3px;

  font-size: 16px;
  font-weight: normal;
  text-align: center;

  color: $color--primary;
  background-color: $color--lagoon;
  @include transition(background-color $anim-speed-primary ease);

  @media only screen and (min-width: 500px) {
    // The small breakpoint would already lead to a very wide button
    width: max-content;
  }

  &:hover {
    background-color: darken($color--secondary, 10%);
  }

  &__lead {
    display: none;
    @include media-query(small) {
      display: inline-block;
    }
  }
}
