// List of logos
.logo-list {
  position: relative;
  z-index: 2;
  background-color: $color--background-light;
  padding-top: ($section-space / 2);
  padding-bottom: ($section-space / 2);

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__heading {
    color: $color--primary;
    text-align: center;
    margin-left: $gutter;
    margin-right: $gutter;
    margin-bottom: 0;

    @include media-query(small) {
      text-align: left;
      font-size: 18px;
      margin-left: ($gutter * 2);
      margin-right: ($gutter * 2);
    }
  }

  &__carousel {
    display: none;
    padding: $gutter $gutter ($gutter * 2);

    @include media-query(small) {
      padding: $gutter ($gutter * 2) ($gutter * 3);
    }

    @include media-query(large) {
      padding: $gutter ($gutter * 2) ($gutter * 2);
    }

    img {
      display: block;
      width: 100%;
      padding: 0 ($gutter * 2);
      opacity: 1;
    }

    .owl-wrapper-outer {
      padding-top: 2%;
    }

    .owl-controls {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;

      @include media-query(small) {
        bottom: $gutter;
      }

      @include media-query(large) {
        position: absolute;
        top: -52px;
        left: auto;
        right: 60px;
      }
    }

    .owl-pagination {
      .owl-page {
        span {
          background-color: rgba($color--secondary, 1);
          opacity: 1;
        }

        &.active {
          span {
            background-color: $color--interaction;
          }
        }
      }
    }
  }
}
