.nav-item {
  $root: &;
  display: flex;
  align-items: center;
  margin: 0;

  .primary-nav & {
    @include font-smoothing();
    display: block;
    padding: 12px 15px;
    color: $color--primary;
    font-size: 16px;
    font-weight: 600;
    @include transition(color 0.5s ease-out, opacity 0.5s ease-out);

    #{$root}__link {
      display: block;
      border: 2px solid transparent;

      &:hover,
      &--active {
        border-bottom-color: $color--secondary;
      }
    }
  }

  .menu-overlay & {
    display: block;
    border-bottom: solid 1px rgba($color--white, 0.1);
    text-align: center;

    #{$root}__link {
      display: block;
      padding: ($gutter / 2) 0;
      color: $color--white;
      font-size: 16px;
      border: none;
      transition: color 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;

      &:hover,
      &--active {
        opacity: 1;
        color: $color--primary;
        background-color: $color--white;
      }
    }

    #{$root}__icon {
      fill: $color--white;
    }
  }
}
