.newsletter-signup {
  margin-bottom: ($gutter * 2);

  &__input-container {
    border: 0;
    padding: 0;
    margin: $gutter 0 0 0;
    overflow: hidden;
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  input {
    height: 44px;
    width: 60%;
    padding-left: ($gutter / 2);
  }

  button {
    height: 42px;
    color: $color--white;
    border: 0;
    padding: 0 $gutter;
    background-color: $color--interaction;
    transition: background-color $anim-speed-primary ease;

    &:hover {
      background-color: $color--interaction-hover;
    }
  }
  .footer & {
    @include media-query(small) {
      flex-basis: 66.66%;
      max-width: 66.66%;
      min-width: 66.66%;
      padding-right: ($gutter * 2);
    }
  }
}
