.textimage {
  background-color: $color--background-light;
  text-align: left;
  margin: 0 (-$gutter) ($gutter * 2);
  padding: ($gutter * 3) $gutter;

  h2, h3, h4 {
    &,
    .template-blog & {
      margin-top: 0;
    }
  }

  .container {
    max-width: 800px;
    margin: 0 auto;

    .text {
      max-width: 50%;
    }

    .image {
      float: right;
      max-width: 50%;
      padding-left: $gutter;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

