{% if related_pages %}
    <div class="related-content grid">
        <h3 class="related-content__heading">You might also like</h3>

        <div class="related-content__items">
            {% for related in related_pages %}
                <article class="related-content__item">
                    {% include "patterns/components/streamfields/cards/related_page_card_block.html" with value=related.page classes="logo-card--article" %}
                </article>
            {% endfor %}
        </div>
    </div>
{% endif %}
