{% extends "base.html" %}

{% load static compress wagtailadmin_tags wagtailcore_tags wagtailimages_tags wagtailio_utils %}

{% block body_class %}template-services{% endblock %}

{% block content %}

    <section class="hero hero--services">

        <div class="hero__container">

            <div class="text-container">
                <h2>Wagtail developer support service</h2>
                <p>{{ page.strapline }}</p>

                <span class="text-container__intro">
                    {{ page.intro }}
                </span>
            </div> <!-- /text-container -->

            <svg class="screenshot">
                <use xlink:href="#tbx-flame"></use>
            </svg>

        </div>

    </section> <!-- /hero -->

    <div class="page-content">
        {% if page.services.all %}
            <div class="grid grid--services">

                {% for service in page.services.all %}
                <div class="service__block">
                    <svg class="service__block-icon">
                        <use xlink:href="#{{ service.icon_name }}"></use>
                    </svg>
                    <p class="service__block-copy">
                        {{ service.text }}
                    </p>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="services__button">
            <a href="/" class="button button--hover">
                Find out more and how to sign up here

                <svg width="24" height="24" class="button__icon">
                    <use xlink:href="#block-arrow"></use>
                </svg>
            </a>
        </div>
    </div>

    {% include "core/includes/share.html" %}

{% endblock %}
