@use "../abstracts/mixins";
@use "../abstracts/variables";

.container {
  max-width: variables.$site-width;
  margin: 0 auto;
  padding-left: variables.$gutter-sm;
  padding-right: variables.$gutter-sm;

  @include mixins.media-query(medium) {
    padding-left: variables.$gutter;
    padding-right: variables.$gutter;
  }

  @include mixins.media-query(large) {
    padding-left: variables.$gutter-lg;
    padding-right: variables.$gutter-lg;
  }
}
