@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: block;
}
