/* ============================================

  Vars

*/
$font-primary: "effra", sans-serif;

$color-primary-dark: #333; // dark grey
$color-primary-light: #fff; // white (duh!)
$color-primary-highlight: #ff574a; // wagtail brand salmony-orangey-pink
$color-primary-bg: #f6f2f2; // off-white

$color-secondary-light: rgba($color-primary-light, 0.7);
$color-secondary-highlight: #43b1b0; // wagtail brand teal

$anim-speed-primary: 250ms;
$anim-ease-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

$mobile-nav-open_speed: 500ms;
$header-height: 70px;

$inline-spacing-bottom: 14px;

// Carousel
$carousel-fadeInSpeed: 1500ms;
$carousel-fadeOutSpeed: 1500ms;
$carousel-highlightColour: $color-primary-highlight;

/* ============================================

  Imports

*/
@import "vendor/normalize";
@import "vendor/flexbox";
@import "grid";

@import "vendor/owl/_carousel";
@import "vendor/owl/_carousel_theme";
@import "vendor/owl/_transitions";

/* ============================================

  Mixins

*/
@import "core/mixins";

/* ============================================

  Default element styling

*/
html,
body {
    // Font standard
    font: 400 16px/1.25 $font-primary;
    // Replace vertical scroll with nested one for better overlay behavior
    overflow: hidden;
    height: 100%;

    background: $color-primary-light;
    color: $color-primary-dark;
}

a {
    // could add text-decoration: none; here (and clean other uses of it)
    &:focus {
        outline-color: $color-primary-highlight;
    }
}

img {
    height: auto; // overwrite inline height added via django templating (possibly a bad assumption to make!)
    vertical-align: top; // render images as we would just expect them to render (without mystical padding bottom)
}

h1 {
    font-size: 56px;
    margin: 0 0 $inline-spacing-bottom;
}

// remove default styling for lists and create a mixin for list styling


// Used on prototype to render heading text in a more 'slender' way
h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ============================================

  Structure

*/
#page {

    @include clearfix;
    height: 100%;
    box-sizing: border-box;
    padding-top: $header-height;

    @include gridle_state( tablet-landscape ){
        padding-top: $header-height - 2px;
    }
    @include gridle_state( tablet-portrait mobile ){
        padding-top: $header-height - 20px;
    }

    header {
        position: absolute;
        z-index: 10;
        top: 0px;

        @include gridle( 12 );
        float: none;

        @include flexbox;
        @include align-items( center );
        @include justify-content( space-between );

        padding-top: 4px;
        padding-bottom: 2px;

        background: $color-primary-light;
    }

    #body {

        overflow-y: scroll;
        height: 100%;
        box-sizing: border-box;

        // Fade out body content concept (any translateZ animations will require perspective: Xpx; set on parent)
        // @include transition(
        //     all $anim-speed-primary ease
        // );
        // @include opacity( 1 );
        // transform: translateZ( 0px );
        // .mobile_nav-open & {
        //     @include opacity( 0 );
        //     transform: translateZ( -150px );
        // }

        // Trying this structue out for a moment, will need nested max width container at somepoint (very soon!)
        section {
            .body-content {}
        }
        footer {}
    }

    #menu_overlay {

        @include transition( transform $mobile-nav-open_speed $anim-ease-expo );

        // closed state
        transform: translate3d( 0, -100%, 0 );
        // open state
        .mobile_nav-open & {
            transform: translate3d( 0, 0, 0 );
        }

        position: fixed;
        z-index: 9;
        left: 0px; right: 0px;
        top: 0px; bottom: 0px;
    }
}


/* ============================================

  Header

*/
@import "core/header";


/* ============================================

  Section

*/
section {

    position: relative;

    // for blog template only (or maybe template with sidebar?)
    .component-sidebar & {
        .body-content {
            // @include gridle( 8 );
            @include gridle_set((
                grid : 8,
                push : 4
            ), tablet-landscape desktop );
        }
    }
}


/* ============================================

  Page content
   - contains streamfield & RTE styling together

*/
@import "core/page_content";


/* ============================================

  Footer

*/
@import "core/footer";

/* ============================================

  Share

*/
.share {
    
    position: fixed;
    top: 64px + 52px; // needs variablising
    right: 50px;
    
    h3 {
        font-size: 18px;
        font-weight: 300;
    }
    a {
        display: block;
        text-decoration: none;
        color: $color-primary-highlight;
        font-size: 28px;
        margin-bottom: 12px;
        @include transition( color $anim-speed-primary linear );
        &:hover {
            color: $color-primary-dark;
        }
    }
}

/* ============================================

  Sidebar

*/
#sidebar {

    $horizontal-pad: 32px;
    $outOpacity: 0.5;

    @include gridle_set((
        grid : 4,
        no_gutter : (left right),
        tablet-portrait : (
            grid : 12,
            push : 0,
            pull : 0
        ),
         mobile : (
            grid : 12,
            push : 0,
            pull : 0
        )
    ));

    position: absolute;
    top: $header-height; bottom: 0px;
    z-index: 10;

    background: $color-primary-highlight;
    color: $color-primary-light;
    overflow-y: scroll; // replace with custom scrollbar when time

    transform: translate3d( 0%, 0, 0 );
    @include transition( transform $anim-speed-primary cubic-bezier(0.190, 1.000, 0.220, 1.000) );
    .footer-in & {
        // transform: translate3d( -100%, 0, 0 );
    }

    h2 {
        font-size: 42px;
        font-weight: 600;
        padding: 16px $horizontal-pad 0px;
        margin: 32px 0 10px;
    }

    ul {
        @include reset-list;

        // fade out links when hovering UL
        &:hover {
            a {
                @include opacity( $outOpacity );
            }
        }

        li {

            a {
                display: block;
                text-decoration: none;
                padding: 16px $horizontal-pad 48px;

                @include transition( opacity $anim-speed-primary linear );

                > * {
                    display: block;
                }
                .date {
                    font-size: 18px;
                    font-weight: 300;
                    color: $color-primary-dark;
                    @include opacity( 0.6 );
                    margin-bottom: 9px;
                }
                .title {
                    font-size: 24px;
                    font-weight: 300;
                    color: $color-primary-light;
                }
                &:hover {
                    @include opacity( 1 );
                    background: rgba( $color-primary-dark, 0.2 );
                }
            }
        }
    }


}


/* ============================================

  Menu Overlay

*/
@import "core/menu_overlay";


/* ============================================

  Page specific

*/

// homepage
@import "pages/home";

// Standard page 
@import "pages/standard";

// Feature index page
@import "pages/feature-index";

// Blog page
.template-blog-page {

    $padding-top: 62px;

    .page-content {

        padding-top: $padding-top;

        // Streamfield/RTE block standard
        > * {
            @include gridle_set((
                grid : 11,
                push : 0,
                pull : 1 // makes space for fixed sharing node
            ));
        }
        .date {
            font-size: 18px;
            font-weight: 300;
        }
    }

}


// 404
.template-404 {
    .body-content {
        padding: 5% 0% 5% 25%;
    }
}

// newsletter thank you
.newsletter-thanks {
    .body-content {
        padding: 5% 0% 5% 25%;
    }
}

/* ============================================

  Legacy / Existing default styles found in starting CSS

*/

/* Responsive image/video classes */
.rich-text img {
    max-width: 100%;
}

.richtext-image.left{
    float:left;
    margin-right:1em;
}
.richtext-image.right{
    float:right;
    margin-left:1em;
}

.responsive-object {
    position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
