/* ============================================
  Vars
*/

// Fonts
$font-primary: "Apercu Pro", arial, helvetica, sans-serif;

// Colours
$color--blue: #2f128d;
$color--dark-blue: #251657;
$color--coral: #fd5765;
$color--lagoon: #3beccd;
$color--deep-indigo: #251657;
$color--lighter-indigo: #514579;
$color--wagtailio-grey: #f4f3f6;
$color--teal: #007D7E;

$color--grey-3: #e5e5e5;
$color--grey-4: #d2d2d2;
$color--grey: #555;
$color--grey-light: $color--wagtailio-grey;
$color--grey-dark: #333;
$color--grey-darker: #222;

$color--black: #000;
$color--white: #fff;

$color--primary: $color--dark-blue;
$color--secondary: $color--lagoon;
$color--tertiary: $color--blue;
$color--quaternary: $color--lagoon;

$color--interaction: $color--dark-blue;
$color--interaction-hover: $color--blue;

// Heading and body text colours
$color--headings: $color--dark-blue;
$color--base: $color--grey;

// Borders
$color--border-light: $color--grey-light;
$color--border: $color--grey;
$color--border-dark: $color--grey-darker;

// Background colours
$color--background: $color--white;
$color--background-light: $color--grey-light;

// Animations
$anim-speed-primary: 250ms;
$anim-ease-expo: cubic-bezier(0.19, 1, 0.22, 1);

// Header vars
$headerHeight: 70px;
$headerHeightMobile: 54px;

// Sidebar
$sidebarWidth: 300px;
$sidebarWidthWide: 450px;

// Grid
$grid: 20px;
$gutter: $grid;

$section-space: ($gutter * 5);

// Carousel
$carousel-fadeInSpeed: 1500ms;
$carousel-fadeOutSpeed: 1500ms;
$carousel-highlightColour: $color--interaction;

// Max width
$max-width: 1400px;

// Breakpoints
$breakpoints: (
  "small" "(min-width: 599px)",
  "medium" "(min-width: 899px)",
  "large" "(min-width: 1023px)",
  "extra-large" "(min-width: 1440px)",
  "mobileOnly" "(max-width: 599px)"
);
