/* ============================================
  Vars
*/

// Fonts
$font-primary: "Apercu Pro", arial, helvetica, sans-serif;

// Colours
$color--blue: #2f128d;
$color--dark-blue: #251657;
$color--coral: #fd5765;
$color--green: #3beccd;

$color--grey: #555;
$color--grey-light: #f4f3f6;
$color--grey-dark: #333;
$color--grey-darker: #222;

$color--black: #000;
$color--white: #fff;

$color--primary: $color--dark-blue;
$color--secondary: $color--coral;
$color--tertiary: $color--blue;
$color--quaternary: $color--green;

$color--background-light: $color--grey-light;
$color--interaction: $color--blue;

// Heading and body text colours
$color--headings: $color--dark-blue;
$color--base: $color--grey;

// Borders
$borderColorLight: rgba($color--white, 0.3);
$borderColorDark: rgba($color--black, 0.3);

// Background colours
$backgroundColor: $color--white;

// Animations
$anim-speed-primary: 250ms;
$anim-ease-expo: cubic-bezier(0.19, 1, 0.22, 1);

// Header vars
$headerHeight: 74px;
$headerHeightMobile: 54px;

// Grid
$grid: 20px;
$gutter: $grid;

$section-space: ($gutter * 5);

// Carousel
$carousel-fadeInSpeed: 1500ms;
$carousel-fadeOutSpeed: 1500ms;
$carousel-highlightColour: $color--interaction;

// Max width
$max-width: 1400px;

// Breakpoints
$breakpoints: ("medium" "(min-width: 599px)", "large" "(min-width: 1023px)");
