{% load wagtailcore_tags %}

<nav class="next-prev-post" aria-label="Previous and next posts">
    <ul class="next-prev-post__list">
        {% if next_post %}
            <li class="next-prev-post__item">
                <a class="next-prev-post__link" href="{% pageurl next_post %}">
                    <svg class="next-prev-post__arrow" aria-hidden="true"><use xlink:href="#arrow-long"></use></svg>
                    <span class="next-prev-post__label">Next post</span>
                    <span class="next-prev-post__title">{{ next_post.title }}</span>
                </a>
            </li>
        {% endif %}

        {% if previous_post %}
            <li class="next-prev-post__item">
                <a class="next-prev-post__link" href="{% pageurl previous_post %}">
                    <svg class="next-prev-post__arrow next-prev-post__arrow--previous" aria-hidden="true"><use xlink:href="#arrow-long"></use></svg>
                    <span class="next-prev-post__label">Previous post</span>
                    <span class="next-prev-post__title">{{ previous_post.title }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
