{% load static %}

<div class="copyright">
    <div class="copyright__container">
        <p class="copyright__text">Wagtail is an open source project by Torchbox. &copy; {% now "Y" %}</p>
        <a href="https://torchbox.com/wagtail-cms/" class="torchbox" aria-label="Site by Torchbox">
            <span class="torchbox__container">
                <svg class="torchbox__logo--flame" height="25px" width="25px">
                    <use xlink:href="#torchbox-flame"></use>
                </svg>
                <svg class="torchbox__logo" height="25px" width="100px">
                    <use xlink:href="#torchbox"></use>
                </svg>
            </span>
        </a>
    </div>
</div> 
