<nav class="follow-links">
    <h3 class="follow-links__heading">Follow</h3>
    <div>
        <a href="https://github.com/wagtail/wagtail/">
            <svg height="28px" width="36px">
                <use xlink:href="#github"></use>
            </svg>
        </a>
        <a href="https://twitter.com/wagtailcms">
            <svg height="28px" width="36px" class="twitter">
                <use xlink:href="#social-twitter"></use>
            </svg>
        </a>
    </div>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/wagtail/wagtail" data-icon="octicon-star" data-style="mega" data-count-href="/wagtail/wagtail/stargazers" data-count-api="/repos/wagtail/wagtail#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star Wagtail on GitHub">Star</a>
</nav> <!-- /follow-links -->
