<nav class="follow_links">
	<h3 class="follow_links__heading">Follow</h3>
	<a href="https://github.com/torchbox/wagtail/" class="fa fa-github icon"></a>
	<a href="https://twitter.com/wagtailcms" class="fa fa-twitter icon"></a>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/torchbox/wagtail" data-icon="octicon-star" data-style="mega" data-count-href="/torchbox/wagtail/stargazers" data-count-api="/repos/torchbox/wagtail#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star torchbox/wagtail on GitHub">Star</a>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/torchbox/wagtail/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/torchbox/wagtail/network" data-count-api="/repos/torchbox/wagtail#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork torchbox/wagtail on GitHub">Fork</a>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/torchbox/wagtail" data-icon="octicon-eye" data-style="mega" data-count-href="/torchbox/wagtail/watchers" data-count-api="/repos/torchbox/wagtail#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch torchbox/wagtail on GitHub">Watch</a>
</nav> <!-- /follow_links -->
