{% load wagtailcore_tags wagtailimages_tags %}

<div class="latest-blog">
	<h3>Blog</h3>
	{% if blog %}
        <ul>
            <li>
                <span class="date">{{ blog.date|date }}</span>
                <a class="title" href="{% pageurl blog %}">{{ blog.title }}</a>
                {% if blog.author %}
                    <div class="author">
                        <span class="image">
                            {% image blog.author.image fill-55x55 alt=blog.author.name %}
                        </span>
                        <span class="details">
                            <a class="name" href="{{ blog.author.url }}">{{ blog.author.name }}</a>
                            <span class="role">{{ blog.author.job_title }}</span>
                        </span>
                    </div>
                {% endif %}
            </li>
        </ul>
	{% endif %}
</div>
