<nav class="network-links">
    <h3 class="network-links__heading">Network </h3>
    <ul class="network-links__container">
        {% for link in links %}
            <li class="network-links__item">
                <a class="network-links__link" href="{{ link.link_URL }}">
                    <h4 class="network-links__subheading">{{ link.link_text }}</h4>
                    <p class="network-links__description">{{ link.link_description }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
