<div class="card">
    <span>
        {% include "patterns/components/meta/meta.html" with classes="card__meta" %}

        <h4 class="card__heading heading-three">{{ value.heading }}</h4>
        {% if value.description %}
            <p class="card__description mini-meta">
                {{ value.description }}
            </p>
        {% endif %}
    </span>
    {% if value.cta %}
        {% include "patterns/components/streamfields/cta/cta_block.html" with value=value.cta %}
    {% endif %}
</div>
