<div class="card {% if classes %}{{ classes }}{% endif %}">
    {% include "patterns/components/meta/meta.html" with classes="card__meta" %}
    {% if value.heading %}
        <h4 class="card__heading heading-three">{{ value.heading }}</h4>
    {% endif %}
    {% if value.description %}
        <div class="card__description mini-meta">
            {{ value.description }}
        </div>
    {% endif %}
    {% if value.cta %}
        {% include "patterns/components/buttons/button.html" with url=value.cta.url title=value.cta.text arrow=True classes="card__cta" %}
    {% endif %}
</div>
