{% load wagtailcore_tags wagtailimages_tags %}
{% if value.link_url %}
    <a href="{{ value.link_url }}" class="logo-card {% if classes %}{{ classes }}{% endif %}">
{% else %}
    <div class="logo-card">
{% endif %}
{% include "patterns/components/meta/meta.html" with classes="logo-card__meta" %}

<h4 class="logo-card__heading teaser-heading">{{ value.heading }}</h4>

{% if value.description %}
    <div class="logo-card__description">{{ value.description|richtext }}</div>
{% endif %}

{% if value.author and value.logo %}
    <div class="logo-card__author-wrap">
        {% image value.logo fill-40x40 class="logo-card__image" %}
        <p class="logo-card__author mini-meta">{{ value.author }}</p>
    </div>
{% elif value.logo %}
    {% image value.logo fill-140x90 class="logo-card__image" %}
{% endif %}

{% if value.link_url %}
    </a>
{% else %}
    </div>
{% endif %}
