@use "../abstracts/mixins";

.u {
    &-sr-only {
        @include mixins.hidden();
    }

    &-mobile-only {
        @include mixins.media-query(medium) {
            display: none;
        }
    }

    &-desktop-only {
        display: none;

        @include mixins.media-query(medium) {
            display: block;
        }
    }
}
