.u {
    &-sr-only {
        @include hidden();
    }

    &-mobile-only {
        @include media-query(medium) {
            display: none;
        }
    }

    &-desktop-only {
        display: none;

        @include media-query(medium) {
            display: block;
        }
    }
}
