{% load wagtailcore_tags %}

<div class="grid">
    <div class="hero {% if classes %}{{ classes }}{% endif %}">
        <div class="hero__inner">
            <hgroup>
                <h1 class="hero__heading">{% firstof value.heading value.title %}</h1>

                {% if value.sub_heading or value.subheading %}
                    <p class="hero__subheading intro-big">{% firstof value.sub_heading value.subheading %}</p>
                {% endif %}
            </hgroup>

            {% if value.intro %}
                <div class="hero__intro">{{ value.intro|richtext }}</div>
            {% endif %}

            {# We're actually only dealing with 1 block, since `max_num=1` #}
            {% for block in value.cta %}
                {% include "patterns/components/buttons/button.html" with arrow=True url=block.value.url title=block.value.text classes="hero__button" %}
            {% endfor %}
        </div>

        {# Paper plane svg is made of mupltiple paths - different to the other icon choices #}
        {% if value.icon == 'paper-plane' %}
            <div class="hero__icon hero__icon--paper-plane">
                <svg class="hero__light-mode" aria-hidden="true">
                    <use xlink:href="#paper-plane"></use>
                </svg>
                <svg class="hero__dark-mode" aria-hidden="true">
                    <use xlink:href="#paper-plane-dark"></use>
                </svg>
            </div>
        {% elif value.icon %}
            {% include "patterns/components/icon/icon.html" with icon=value.icon classes="icon--primary hero__icon" %}
        {% endif %}
    </div>
</div>
