{% load wagtailcore_tags wagtailimages_tags %}
{% with value as card %}
<div class="card">
    <div class="card__upper">
        <div>
            {% image card.image fill-138x110%}
        </div>
        <hr class="card__divider">
        <div class="card__text">
            {{ card.text }}
        </div>
    </div>
    <a class="card__link" href="{{card.link}}"></a>
    <div class="card__button">{{ card.link_text }}<svg class="icon__external-link" viewBox="0 0 100 100"><use href="#external-link"></svg></div>
</div>
{% endwith %}