{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% with value as section %}
<section id="{{ section.title|slugify }}" class="section section--{{ section_modifier }}">
    {% comment %} <div class="vid-wrapper">
        <video width="390" autoplay loop>
            <source type="{{ section.section_media.type }}/{{section.section_media.file_extension}}" src="{{ section.section_media.url }}">
        </video>
    </div> {% endcomment %}
<div class="vid-wrapper" style="border-radius: 100%;width: 390px;height: 390px;overflow: hidden;">
        <video autoplay="" loop="" style="/*! width: 100%; */height: 100%;">
            <source type="video/mp4" src="/media/media/test.mp4">
        </video>
    </div>
    <div class="section__inner-wrapper">
        {% if section.section_image %}
            <div class="section__image-wrapper">
                <div class="section__image">
                    <div class="section__image-overlay section__image-overlay--var1"></div>
                    <div class="section__image-overlay section__image-overlay--var2"></div>
                    {% image section.section_image fill-390x390 %}
                </div>
                {% if section.section_image_caption %}
                    <div class="section__image-caption">
                        {{ section.section_image_caption }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="section__content">
            <div class="section__icon">
                <svg>
                    <use href="#{{ section.icon }}"></use>
                </svg>
            </div>
            <hr class="section__heading-line">
            <a href="#{{ section.title|slugify }}">
                <h2 class="section__heading">{{ section.title }}</h2>
            </a>
            {% for block in section.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</section>
{% endwith %}
