{% load wagtailcore_tags wagtailimages_tags %}
{% with value as section %}
<section id="{{ section.title|slugify }}" class="section section--{{ section_modifier }}">
    <div class="section__inner-wrapper">
        {% if section.section_image %}
            <div class="section__image">
                <div class="section__image-inner">
                    <div class="section__image-overlay section__image-overlay--var1"></div>
                    <div class="section__image-overlay section__image-overlay--var2"></div>
                    {% image section.section_image fill-390x390 %}
                </div>
            </div>
        {% endif %}
        <div class="section__content">
            <div class="section__icon">
                <svg>
                    <use href="#{{ section.icon }}"></use>
                </svg>
            </div>
            <hr class="section__heading-line">
            <a href="#{{ section.title|slugify }}">
                <h2 class="section__heading">{{ section.title }}</h2>
            </a>
            {% for block in section.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</section>
{% endwith %}