{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% with value as section %}
<section id="{{ section.title|slugify }}" class="section section--{{ section_modifier }}">
    <div class="section__inner-wrapper">
        {% if section.section_image %}
            <div class="section-image__wrapper">
                <div class="section-image">
                    <div class="section-image__overlay section-image__overlay--var1"></div>
                    <div class="section-image__overlay section-image__overlay--var2"></div>
                    {% comment %} {% image section.section_image fill-390x390 %} {% endcomment %}
                    <div class="section-image__video-container">
                        <div class="section-image__video-wrapper">
                            <video autoplay="autoplay" loop="loop">
                                <source type="{{ section.section_media.type }}/{{section.section_media.file_extension}}" src="{{ section.section_media.url }}">
                            </video>
                        </div>
                    </div>
                </div>
                {% if section.section_image_caption %}
                    <div class="section-image__caption">
                        {{ section.section_image_caption }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="section__content">
            <div class="section__icon">
                <svg>
                    <use href="#{{ section.icon }}"></use>
                </svg>
            </div>
            <hr class="section__heading-line">
            <a href="#{{ section.title|slugify }}">
                <h2 class="section__heading">{{ section.title }}</h2>
            </a>
            {% for block in section.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</section>
{% endwith %}
