{% load wagtailcore_tags wagtailimages_tags %}

{% if value and value.comparison_table %}
    <table class="grid comparison-table">
        <tbody>
            {% for row in value.comparison_table.rows %}
                <tr>
                    {% for block in row %}
                        <td>
                            {% include_block block %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if pattern_library %}
    {# This renders the pattern-library values only #}
    <table class="grid comparison-table">
        <tbody>
            {% include_block example_pattern %}
        </tbody>
    </table>
{% endif %}
