{# This is a pattern library file to display available icons #}
<style>
    .icon-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .icon-grid > div {
        border: 1px solid #f5f5f5;
        padding: 10px;
        text-align: center;
        flex-basis: 250px;
        height: 220px;
    }

    .icon-grid svg {
        flex-shrink: 0;
        max-width: 50%;
    }

    .icon {
        display: flex;
        justify-content: center;
    }
</style>
<div class="icon-grid">
    <div>
        <p>Arrow</p>
        <svg>
            <use xlink:href="#arrow"></use>
        </svg>
    </div>
    <div>
        <p>Arrow alt</p>
        {% include "patterns/components/icon/icon.html" with icon="arrow-alt" %}
    </div>
    <div>
        <p>Arrow in circle</p>
        {% include "patterns/components/icon/icon.html" with icon="arrow-in-circle" %}
    </div>
    <div>
        <p>Arrow in square</p>
        {% include "patterns/components/icon/icon.html" with icon="arrow-in-square" %}
    </div>
    <div>
        <p>Arrows</p>
        {% include "patterns/components/icon/icon.html" with icon="arrows" %}
    </div>
    <div>
        <p>Blog</p>
        {% include "patterns/components/icon/icon.html" with icon="blog" %}
    </div>
    <div>
        <p>Bread</p>
        {% include "patterns/components/icon/icon.html" with icon="bread" %}
    </div>
    <div>
        <p>Briefcase</p>
        {% include "patterns/components/icon/icon.html" with icon="briefcase" %}
    </div>
    <div>
        <p>Building</p>
        {% include "patterns/components/icon/icon.html" with icon="building" %}
    </div>
    <div>
        <p>Calendar</p>
        {% include "patterns/components/icon/icon.html" with icon="calendar" %}
    </div>
    <div>
        <p>Code file</p>
        {% include "patterns/components/icon/icon.html" with icon="code-file" %}
    </div>
    <div>
        <p>Document</p>
        {% include "patterns/components/icon/icon.html" with icon="document" %}
    </div>
    <div>
        <p>Envelope</p>
        {% include "patterns/components/icon/icon.html" with icon="envelope" %}
    </div>
    <div>
        <p>Explanation</p>
        {% include "patterns/components/icon/icon.html" with icon="explanation" %}
    </div>
    <div>
        <p>Eye</p>
        {% include "patterns/components/icon/icon.html" with icon="eye" %}
    </div>
    <div>
        <p>Flame</p>
        {% include "patterns/components/icon/icon.html" with icon="flame" %}
    </div>
    <div>
        <p>Friends</p>
        {% include "patterns/components/icon/icon.html" with icon="friends" %}
    </div>
    <div>
        <p>Github</p>
        {% include "patterns/components/icon/icon.html" with icon="github" %}
    </div>
    <div>
        <p>Handshake</p>
        {% include "patterns/components/icon/icon.html" with icon="handshake" %}
    </div>
    <div>
        <p>Heart</p>
        {% include "patterns/components/icon/icon.html" with icon="heart" %}
    </div>
    <div>
        <p>History</p>
        {% include "patterns/components/icon/icon.html" with icon="history" %}
    </div>
    <div>
        <p>ID Card</p>
        {% include "patterns/components/icon/icon.html" with icon="id-card" %}
    </div>
    <div>
        <p>Image</p>
        {% include "patterns/components/icon/icon.html" with icon="image" %}
    </div>
    <div>
        <p>Knife Fork</p>
        {% include "patterns/components/icon/icon.html" with icon="knife-fork" %}
    </div>
    <div>
        <p>Leaf</p>
        {% include "patterns/components/icon/icon.html" with icon="leaf" %}
    </div>
    <div>
        <p>Location Pin</p>
        {% include "patterns/components/icon/icon.html" with icon="location-pin" %}
    </div>
    <div>
        <p>Map</p>
        {% include "patterns/components/icon/icon.html" with icon="map" %}
    </div>
    <div>
        <p>Magnifying Glass</p>
        {% include "patterns/components/icon/icon.html" with icon="magnifying-glass" %}
    </div>
    <div>
        <p>Money</p>
        {% include "patterns/components/icon/icon.html" with icon="money" %}
    </div>
    <div>
        <p>Moon</p>
        {% include "patterns/components/icon/icon.html" with icon="moon" %}
    </div>
    <div>
        <p>One Two Steps</p>
        {% include "patterns/components/icon/icon.html" with icon="one-two-steps" %}
    </div>
    <div>
        <p>Padlock</p>
        {% include "patterns/components/icon/icon.html" with icon="padlock" %}
    </div>
    <div>
        <p>Paper Plane</p>
        <svg>
            <use xlink:href="#paper-plane"></use>
        </svg>
    </div>
    <div>
        <p>Paper Stack</p>
        {% include "patterns/components/icon/icon.html" with icon="paper-stack" %}
    </div>
    <div>
        <p>Pen Checkbox</p>
        {% include "patterns/components/icon/icon.html" with icon="pen-checkbox" %}
    </div>
    <div>
        <p>Person in Tie</p>
        {% include "patterns/components/icon/icon.html" with icon="person-in-tie" %}
    </div>
    <div>
        <p>Python</p>
        {% include "patterns/components/icon/icon.html" with icon="python" %}
    </div>
    <div>
        <p>Question Mark Circle</p>
        {% include "patterns/components/icon/icon.html" with icon="question-mark-circle" %}
    </div>
    <div>
        <p>Quotes</p>
        {% include "patterns/components/icon/icon.html" with icon="quotes" %}
    </div>
    <div>
        <p>Release Cycle</p>
        {% include "patterns/components/icon/icon.html" with icon="release-cycle" %}
    </div>
    <div>
        <p>Roadmap</p>
        {% include "patterns/components/icon/icon.html" with icon="roadmap" %}
    </div>
    <div>
        <p>Rocket</p>
        {% include "patterns/components/icon/icon.html" with icon="rocket" %}
    </div>
    <div>
        <p>Rollback</p>
        {% include "patterns/components/icon/icon.html" with icon="rollback" %}
    </div>
    <div>
        <p>Slack</p>
        {% include "patterns/components/icon/icon.html" with icon="slack" %}
    </div>
    <div>
        <p>Speech Bubble</p>
        {% include "patterns/components/icon/icon.html" with icon="speech-bubble" %}
    </div>
    <div>
        <p>Sun Cloud</p>
        {% include "patterns/components/icon/icon.html" with icon="sun-cloud" %}
    </div>
    <div>
        <p>Table Tennis</p>
        {% include "patterns/components/icon/icon.html" with icon="table-tennis" %}
    </div>
    <div>
        <p>Tree</p>
        {% include "patterns/components/icon/icon.html" with icon="tree" %}
    </div>
    <div>
        <p>wagtail</p>
        {% include "patterns/components/icon/icon.html" with icon="" overlay_icon="wagtail" %}
    </div>
    <div>
        <p>wagtail-envelope</p>
        {% include "patterns/components/icon/icon.html" with icon="" overlay_icon="wagtail-envelope" %}
    </div>

    <div>
        <p>Wordpress</p>
        {% include "patterns/components/icon/icon.html" with icon="wordpress" %}
    </div>
    <div>
        <p>World</p>
        {% include "patterns/components/icon/icon.html" with icon="world" %}
    </div>
</div>
