{# This is a pattern library file to display available icons #}

<div style="display: flex; flex-direction: column">
    <p>Arrow</p>
    <svg><use xlink:href="#arrow"></use></svg>
    <p>Bi-arrow</p>
    <svg><use xlink:href="#bi-arrow"></use></svg>
    <p>Blog</p>
    <svg><use xlink:href="#blog"></use></svg>
    <p>briefcase</p>
    <svg><use xlink:href="#briefcase"></use></svg>
    <p>Boxed-arrow</p>
    <svg><use xlink:href="#boxed-arrow"></use></svg>
    <p>Chevron</p>
    <svg><use xlink:href="#chevron"></use></svg>
    <p>Code-file</p>
    <svg><use xlink:href="#code-file"></use></svg>
    <p>Edit</p>
    <svg><use xlink:href="#edit"></use></svg>
    <p>Envolope</p>
    <svg><use xlink:href="#envolope"></use></svg>
    <p>Eye</p>
    <svg><use xlink:href="#eye"></use></svg>
    <p>Fire</p>
    <svg><use xlink:href="#fire"></use></svg>
    <p>Github</p>
    <svg><use xlink:href="#github"></use></svg>
    <p>Globe</p>
    <svg><use xlink:href="#globe"></use></svg>
    <p>Hand-shake</p>
    <svg><use xlink:href="#hand-shake"></use></svg>
    <p>Heart</p>
    <svg><use xlink:href="#heart"></use></svg>
    <p>ID</p>
    <svg><use xlink:href="#id"></use></svg>
    <p>Information</p>
    <svg><use xlink:href="#information"></use></svg>
    <p>Institute</p>
    <svg><use xlink:href="#institute"></use></svg>
    <p>List</p>
    <svg><use xlink:href="#list"></use></svg>
    <p>Location</p>
    <svg><use xlink:href="#location"></use></svg>
    <p>Lock</p>
    <svg><use xlink:href="#lock"></use></svg>
    <p>Media-link</p>
    <svg><use xlink:href="#media-link"></use></svg>
    <p>money-bag</p>
    <svg><use xlink:href="#money-bag"></use></svg>
    <p>Moon</p>
    <svg><use xlink:href="#moon"></use></svg>
    <p>People</p>
    <svg><use xlink:href="#people"></use></svg>
    <p>Ping-pong</p>
    <svg><use xlink:href="#ping-pong"></use></svg>
    <p>Proffesional</p>
    <svg><use xlink:href="#proffesional"></use></svg>
    <p>Quote</p>
    <svg><use xlink:href="#quote"></use></svg>
    <p>Slack</p>
    <svg><use xlink:href="#slack"></use></svg>
    <p>Spyglass</p>
    <svg><use xlink:href="#spyglass"></use></svg>
    <p>Stack</p>
    <svg><use xlink:href="#stack"></use></svg>
    <p>Sunny cloud</p>
    <svg><use xlink:href="#sunny-cloud"></use></svg>
    <p>Team</p>
    <svg><use xlink:href="#team"></use></svg>
    <p>Toast</p>
    <svg><use xlink:href="#toast"></use></svg>
    <p>T-shirt</p>
    <svg><use xlink:href="#t-shirt"></use></svg>
    <p>Twitter</p>
    <svg><use xlink:href="#twitter"></use></svg>
    <p>Wordpress</p>
    <svg><use xlink:href="#wordpress"></use></svg>
    <p>youtube</p>
    <svg><use xlink:href="#youtube"></use></svg>
</div>