{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

<div class="text-media {% if value.image_on_right %}text-media--right{% endif %} grid">
    {% if value.image %}
        {% image value.image fill-400x400 class="text-media__media" %}
    {% else %}
        {% embed value.embed %}
    {% endif %}
    <div class="text-media__content">
        <h2>{{ value.heading }}</h2>
        <p>{{ value.description }}</p>
        {% if value.cta %}
            {% include "patterns/components/buttons/button.html" with url=value.cta.url title=value.cta.text arrow=True classes="text-media__button" %}
        {% endif %}
    </div>
</div>
