{% load wagtailcore_tags wagtailimages_tags staticfiles %}

<section class="hero">

    <div class="hero__container">

        <div class="text-container">
            <h2>{{ value.title }}</h2>
            <p>{{ value.sub_title }}</p>

            <div class="actions">
                {% for link in value.links %}
                    {% include_block link %}
                {% endfor %}
            </div> <!-- /actions -->

        </div> <!-- /text-container -->

        {% if value.video %}
            <video class="screenshot" autoplay loop muted>
                <source type="{{ value.video.type }}/{{ value.video.file_extension }}" src="{{ value.video.url }}">
            </video>
        {% else %}
            {% image value.image width-700 as main_image  %}
            <img src="{{ main_image.url }}" alt="{{ value.image.title }}" class="screenshot">
        {% endif %}
    </div>

</section> <!-- /hero -->
