{% load wagtailimages_tags %}

{% image value.background original as bg_image %}

{% if value.brands %}
    <section class="logo-list">

        <div class="logo-list__container">

            <h2 class="logo-list__heading heading heading--secondary heading--top-border">{{ value.title }}</h2>

            <div class="logo-list__carousel carousel">
                {% for brand in value.brands %}
                    {% image brand width-300 as brand_image %}
                    <div><img src="{{ brand_image.url }}" alt="{{ brand.title }}" /></div>
                {% endfor %}

            </div> <!-- /carousel -->
        
        </div>

    </section> <!-- /logo-list -->
{% endif %}