{% load wagtailcore_tags %}

<section class="pane__code border--after">

    <div class="text-container">

        <h2>{{ value.title }}{% if value.subtitle %} <span>{{ value.subtitle }}</span>{% endif %}</h2>

        <div class="pre-container">

            <div class="app-header">
                <span></span>
                <span></span>
                <span></span>
            </div>

            {{ value.code }}

        </div> <!-- /pre-container -->

        {% if value.link %}
            <div class="actions">
                {% include_block value.link %}
            </div> <!-- /actions -->
        {% endif %}

    </div> <!-- /text-container -->

</section> <!-- /pane__code -->
