{% load wagtailcore_tags wagtailimages_tags %}

<section class="pane__showcase border--after">

    <header>
        <h2>{{ value.title }}</h2>
        {% if value.subtitle %}
            <p>{{ value.subtitle }}</p>
        {% endif %}
    </header>

    <div class="showcase">

        {% for item in value.items %}

            {% image item.image width-600 as item_image %}

            <div class="showcase--item">
                <div class="image-container">
                    <img src="{{ item_image.url }}" alt="{{ item.iamge.title }}" />
                </div>
                <div class="text-container">
                    {% if item.link_url %}<a href="{{ item.link_url }}">{% endif %}
                        <h3>{{ item.title }}</h3>
                        {% if item.subtitle %}<p>{{ item.subtitle }}</p>{% endif %}
                    {% if item.link_url %}</a>{% endif %}
                </div>
            </div> <!-- /showcase--item -->

        {% endfor %}

    </div> <!-- /carousel -->

    <a href="{% if value.more_link.link_page %}{% pageurl value.more_link.link_page %}{% else %}{{ value.more_link.link_url }}{% endif %}"
        class="view-all btn btn--outline btn--outline--light btn--opaque btn--dark">
        <span>{{ value.more_link.link_text }}</span>
        <svg height="30px" width="30px"><use xlink:href="#arrow"></use></svg>
    </a>

</section> <!-- /case-studies -->
