{% load wagtailcore_tags wagtailimages_tags %}

<section class="examples">

    <header>
        <h2>{{ value.title }}</h2>
        {% if value.subtitle %}
            <p>{{ value.subtitle }}</p>
        {% endif %}
    </header>

    <div class="examples__content">

        {% for item in value.items %}

            {% image item.image width-400 as item_image %}

            <div class="example-item">
                {% if item.link_url %}<a class="example-item__link" href="{{ item.link_url }}">{% endif %}
                <div class="example-item__image-container">
                    <img class="example-item__image" src="{{ item_image.url }}" alt="{{ item.iamge.title }}" />
                </div>
                <div class="text-container">
                    <h3 class="example-item__heading">{{ item.title }}</h3>
                    {% if item.subtitle %}<p class="example-item__description">{{ item.subtitle }}</p>{% endif %}
                </div>
                {% if item.link_url %}</a>{% endif %}
            </div>

        {% endfor %}

    </div>

    {% include_block value.more_link with link_classes="button button--primary" %}

</section> <!-- /case-studies -->
