{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags wagtail_ab_testing_tags wagtailio_utils manifest %}
<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %} {% block title_suffix %}| Wagtail CMS{% endblock %}</title>
        <meta name="description" content="{% if page.social_text %}{{ page.social_text }}{% elif page.listing_intro %}{{ page.listing_intro }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}" />{% endif %}

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@wagtailcms" />
        <meta name="twitter:creator" content="@wagtailcms" />
        <meta name="twitter:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | Wagtail CMS" />
        <meta name="twitter:description" content="{% if page.social_text %}{{ page.social_text }}{% elif page.listing_intro %}{{ page.listing_intro }}{% elif page.introduction %}{{ page.introduction|truncatechars:160 }}{% endif %}" />
        <meta name="twitter:image" content="{% if page.social_image %}{% image page.social_image width-400 as img %}{{ img.url }}{% elif page.main_image %}{% image page.main_image width-400 as img %}{{ img.url }}{% else %}{% static 'img/default-sharing-image.png' %}{% endif %}" />

        <meta property="fb:app_id" content="{{ FB_APP_ID }}" />
        <meta property="og:type" content="website" />
        {% wagtail_site as site %}
        <meta property="og:url" content="https://{{ site.hostname }}{{ page.url }}" />
        <meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | Wagtail CMS" />
        <meta property="og:image" content="{% if page.social_image %}{% image page.social_image width-1024 as img %}{{ img.url }}{% elif page.main_image %}{% image page.main_image width-1024 as img %}{{ img.url }}{% else %}{% static 'img/default-sharing-image.png' %}{% endif %}" />
        <meta property="og:description" content="{% if page.social_text %}{{ page.social_text }}{% elif page.listing_intro %}{{ page.listing_intro }}{% elif page.introduction %}{{ page.introduction|truncatechars:200 }}{% endif %}" />
        <meta property="og:site_name" content="Wagtail CMS" />

        <link title="The Wagtail CMS Blog" type="application/atom+xml" rel="alternate" href="{% url 'blog_feed' %}">
        <link title="This week in Wagtail" type="application/atom+xml" rel="alternate" href="{% url 'newsletter_feed' %}">

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-touch-icon-57x57.png' %}"/>
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-touch-icon-60x60.png' %}"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-touch-icon-72x72.png' %}"/>
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-touch-icon-76x76.png' %}"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-touch-icon-114x114.png' %}"/>
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-touch-icon-120x120.png' %}"/>
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-touch-icon-144x144.png' %}"/>
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-touch-icon-152x152.png' %}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon-180x180.png' %}"/>
        <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32"/>
        <link rel="icon" type="image/png" href="{% static 'img/favicons/android-chrome-192x192.png' %}" sizes="192x192"/>
        <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-96x96.png' %}" sizes="96x96"/>
        <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16"/>
        <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}" />
        <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" />
        <meta name="msapplication-TileColor" content="#43b1b0"/>
        <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-144x144.png' %}"/>
        <meta name="msapplication-config" content="{% static 'img/favicons/browserconfig.xml' %}" />
        <meta name="theme-color" content="#43b1b0"/>

        {% if not DEBUG %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-5XDDLH');
            </script>
            <!-- End Google Tag Manager -->
        {% endif %}

        <link rel="stylesheet" href="{% manifest 'css/main.css' %}">

        {% block extra_css %}{% endblock %}

    </head>
    <body class="{% if page %}template-{{ page.get_verbose_name|slugify }}{% endif %} {% block body_class %}{% endblock %} ">
        {% if not DEBUG %}
            <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XDDLH"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% include "includes/svg_sprites.html" %}

        {% wagtailuserbar %}

        <div data-alert="{% url 'sitewide_alert:sitewide_alert' %}"></div>

        <header class="header">
            <div class="header__container">
                <a class="branding" href="/">
                    <img class="branding__logo" src="{% static "img/wagtail.svg" %}" alt="Wagtail" />
                </a>
                <a href="#primary_navigation" class="menu-toggle" aria-label="Toggle menu">
                    <span></span>
                </a>
                {% menu_primary calling_page=page %}
            </div>
        </header> <!-- /header -->

        {% block sidebar %}{% endblock %}

        <section>
            {% block content %}{% endblock %}
        </section>

        {% block footer %}
            {% include "includes/footer.html" %}
        {% endblock %}

        {% include "includes/cookie_message.html" %}

        <a href="https://tally.so/r/wQqagw" target="_blank" class="survey-link">
            <span>Help improve wagtail.org</span>
        </a>

        {% if FB_APP_ID %}
            <div id="fb-root"></div>

            <script>
                window.fbAsyncInit = function() {
                    FB.init({appId: {{ FB_APP_ID }}, xfbml: true, version: 'v2.1'});
                };

                (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
        {% endif %}
        {% wagtail_ab_testing_script %}

        {% if not DEBUG %}
            <!-- twitter campaign tracking code -->
            <script src="https://platform.twitter.com/oct.js"></script>
            <script>
                twttr.conversion.trackPid('l6ggy', {
                    tw_sale_amount: 0,
                    tw_order_quantity: 0
                });
            </script>
            <noscript>
                <img height="1" width="1" style="display:none;" alt=""
                src="https://analytics.twitter.com/i/adsct?txn_id=l6ggy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0"
                />
                <img height="1" width="1" style="display:none;" alt=""
                src="//t.co/i/adsct?txn_id=l6ggy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0"
                />
            </noscript>
            <!-- end twitter campaign tracking code -->
        {% endif %}

        <script src="https://platform.twitter.com/widgets.js" async></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script src="{% manifest 'js/main.js' %}"></script>

        {% block extra_js %}{% endblock %}
    </body>
</html>
