{% extends "base.html" %}

{% load static wagtailcore_tags wagtailio_utils %}

{% block base_content %}

    {% include 'includes/kickstarter.html' %}

    <div class="page">

        <header>
            <div class="container">
                <a id="branding" href="/"><img src="{% static "img/wagtail.svg" %}" alt="Wagtail" /></a>
                <a href="#primary_navigation">Menu</a>
                {% menu_primary %}
            </div>
        </header>
        
        {% block sidebar %}{% endblock %}

        <div class="body">

            <section>
                {% block content %}{% endblock %}
            </section>
            
            <footer>
                <div class="container">
                    {% menu_good_to_go %}
                    {% menu_network %}
                    {% latest_blog %}
                    {% include "includes/newsletter_signup.html" %}
                    {% include "includes/follow.html" %}
                    {% include "includes/copyright.html" %}
                </div>
            </footer>
            
        </div>

        <div id="menu_overlay">
            {% menu_primary %}
        </div>

    </div>

{% endblock %}
