{# This template provides data for the comparison table, to update it use the streamfield HTML #}
<tr>
    <th>
    </th>

    <th>
        <div class="block-image">
            <img src="https://placehold.co/290x70" width="290" height="70">
        </div>
    </th>

    <th>
        <div class="block-image">
            <img src="https://placehold.co/290x70" width="290" height="70" alt="Some alt">
        </div>
    </th>
</tr>
<tr>
    <td>
        <div class="block-rich_text"><p data-block-key="3k48j">Programming language</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="3k48j">Python</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="3k48j">PHP</p></div>
    </td>
</tr>
<tr>
    <td>
        <div class="block-rich_text"><p data-block-key="akb7y">Ease of use</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="akb7y">Wagtail requires programming experience or a developer to set up.</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="akb7y">Wordpress can be set up without any developers or programming experience.</p></div>
    </td>
</tr>
<tr>
    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Apps and plugins</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Additional features can be added to Wagtail with Python packages.</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Additional features can be added to Wordpress with plugins. </p></div>
    </td>
</tr>
<tr>
    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Customization</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Wagtail offers no frontend restrictions and any frontend technology can be paired with it.</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Wordpress uses themes. The default theme can be replaced with another pre-made theme.</p></div>
    </td>
</tr>
<tr>
    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Security</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Wagtail has strict security practices and authentication built into it.</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Wordpress has a history of introducing troublesome vulnerabilities, such as SQL injections.</p></div>
    </td>
</tr>
<tr>
    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Scalability</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Wagtail is highly scalable and can be used to manage large amounts of content without sacrificing performance.</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Wordpress wasn’t designed for large-scale websites and performance often becomes an issue when a site sees large increases in content or traffic.</p></div>
    </td>
</tr>
<tr>
    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Marketing tools</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Marketing packages are available that make it easy for SEO meta data to be added.</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Wordpress has many plugins that support a variety of marketing functions, ranging from SEO to analytics.</p></div>
    </td>
</tr>
<tr>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Enterprise features</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">Wagtail includes free enterprise-level tools such as customisable workflows, language translation, audit logging, and permissions.</p></div>
    </td>

    <td>
        <div class="block-rich_text"><p data-block-key="a4eap">To add similar enterprise features to Wordpress, you will need to pay for premium plugins.</p></div>
    </td>
</tr>