{% include "patterns/components/streamfields/comparison_table_block/comparison_table_block.html" %}
{% include "patterns/components/streamfields/cta/cta.html" %}
{% include "patterns/components/streamfields/headline/headline.html" %}
{% include "patterns/components/streamfields/headline/headline.html" with dark_background=True %}
{% include "patterns/components/streamfields/icon_bullets_list_block/icon_bullets_list_block.html" %}
{% include "patterns/components/streamfields/highlight_block/highlight_block.html" %}
{% include "patterns/components/streamfields/highlight_block/highlight_block.html" with image_on_right=True %}
{% include "patterns/components/streamfields/logo_block/logo_block.html" %}
{% include "patterns/components/streamfields/quotes/quotes.html" %}
{% include "patterns/components/streamfields/cards/cards_list_block.html" %}
{% include "patterns/components/streamfields/sign_up_form_block/sign_up_form_block.html" %}
{% include "patterns/components/streamfields/video_block/video_block.html" %}
