.packages__jumplinks {
  font-size: 1.5em;
}

.packages__sub-heading {
  padding-right: 60px;
}

.packages__xs {
  font-size: .75em
}

.feature--packages {
  margin: 0 auto;
  max-width: 1560px;
}

.button.button--packages {
  color: $color--deep-indigo;
}
