{% load wagtailcore_tags wagtailimages_tags %}


{% for child in value %}

    {% if child.block_type == 'h2' %}
        <div class="sf-block sf-block--heading">
            <h2>{{ child }}</h2>
        </div>

    {% elif child.block_type == 'h3' %}
        <div class="sf-block sf-block--heading">
            <div class="heading">
                <h3>{{ child }}</h3>
            </div>

    {% elif child.block_type == 'h4' %}
        <div class="sf-block sf-block--heading">
            <h4>{{ child }}</h4>
        </div>

    {% elif child.block_type == 'intro' %}
        <div class="sf-block sf-block--bottom-only">
            <div class="intro">
                <p>{{ child }}</p>
            </div>
        </div>

    {% elif child.block_type == 'paragraph' %}
        <div class="paragraph">{{ child.value|richtext }}</div>

    {% elif child.block_type == 'blockquote' %}
        <div class="sf-block">
            <div class="sf-blockquote">
                <blockquote>
                    "{{ child.value }}"
                </blockquote>
            </div>
        </div>

    {% elif child.block_type == 'imagecaption' %}{# img-full-text #}
        <div class="sf-block">
            <div class="imagecaption">
                <div class="image">
                    {% image child.value.image fill-1600x700 %}
                </div>
                {# check if we have caption #}
                <div class="caption">
                    <p>{{ child.value.caption|richtext }}</p>
                </div>
            </div>
        </div>


    {% elif child.block_type == 'textimage' %}
        <div class="sf-block">

            {% image child.value.image original as img %}
            <div class="textimage {{ child.value.alignment }} {{child.value.background }}">

                <div class="container">

                    <div class="image">
                        {% image child.value.image fill-800x450 %}
                    </div>

                    <div class="text">
                        {{ child.value.text|richtext }}
                    </div>

                </div>

            </div> <!-- /textimage -->
        </div>

    {% elif child.block_type == 'colourtext' %}{# quote #}
        <div class="sf-block">
            <div class="colourtext {{ child.value.background }}">
                <div class="text">{{ child.value.text|richtext }}</div>
            </div>
        </div>
    {% elif child.block_type == 'calltoaction' %}{# img-full-title #}
        <div class="sf-block">
            <div class="calltoaction {{ child.value.background }}">
                <div class="text">{{ child.value.text|richtext }}</div>
            </div>
        </div>
    {% elif child.block_type == 'tripleimage' %}
        <div class="sf-block">
            <div class="tripleimage">
                {% image child.value.first_image fill-375x375 %}
                {% image child.value.second_image fill-375x375 %}
                {% image child.value.third_image fill-375x375 %}
            </div>
        </div>
    {% elif child.block_type == 'stats' %}
        <div class="sf-block">
            <div class="stats">
                <ul>
                    {% for v in child.value %}
                        <li>
                            <span class="image">{% image v.bound_blocks.image.value fill-50x50 %}</span>
                            <span class="statistic">{{ v.bound_blocks.stat.value }}</span>
                            <span class="name">{{ v.bound_blocks.text.value }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="paragraph">{{ child }}</div>
    {% endif %}
{% endfor %}
