{% load wagtailcore_tags wagtailimages_tags wagtailio_utils %}


{% for child in content %}

    {% if child.block_type == 'h2' %}

        <div class="heading"><h2>{{ child }}</h2></div>

    {% elif child.block_type == 'h3' %}

        <div class="heading"><h3>{{ child }}</h3></div>

    {% elif child.block_type == 'h4' %}

        <div class="heading"><h4>{{ child }}</h4></div>

    {% elif child.block_type == 'intro' %}

        <div class="intro">
            <p>{{ child }}</p>
        </div>

    {% elif child.block_type == 'paragraph' %}

        <div class="paragraph">{{ child.value|richtext }}</div>

    {% elif child.block_type == 'imagecaption' %}{# img-full-text #}

        <div class="imagecaption">
            <div class="image">
                {% image child.value.image fill-1600x700 %}
            </div>
            {# check if we have caption #}
            <div class="caption">
                <p>{{ child.value.caption|richtext }}</p>
            </div>
        </div>

    {% elif child.block_type == 'textimage' %}{# img-text #}

        <div class="textimage {{ child.value.alignment }} {{child.value.background }}">
            {# <div class="col-12point5"></div> #}
            <div class="text">
                {{ child.value.text|richtext }}
            </div>
            <div class="image">
                {% image child.value.image fill-800x450 %}
            </div>
        </div>

    {% elif child.block_type == 'colourtext' %}{# quote #}

        <div class="colourtext {{ child.value.background }}">
            {# <div class="col-12point5"></div> #}
            <div class="text">{{ child.value.text|richtext }}</div>
            {# <div class="col-12point5"></div> #}
        </div>

    {% elif child.block_type == 'calltoaction' %}{# img-full-title #}

        <div class="calltoaction {{ child.value.background }}">
            {# <div class="col-12point5"></div> #}
            <div class="text">{{ child.value.text|richtext }}</div>
            {# <div class="col-12point5"></div> #}
        </div>

    {% elif child.block_type == 'tripleimage' %}

        <div class="tripleimage">
            {% image child.value.first_image fill-375x375 %}
            {% image child.value.second_image fill-375x375 %}
            {% image child.value.third_image fill-375x375 %}
        </div>

    {% elif child.block_type == 'stats' %}

        <div class="stats">
            <ul>
            {% for v in child.value %}
                <li>
                    <span class="image">{% image v.bound_blocks.image.value fill-50x50 %}</span>
                    <span class="name">{{ v.bound_blocks.stat.value }}</span>
                    <span class="statistic">{{ v.bound_blocks.text.value }}</span>
                </li>
            {% endfor %}
            </ul>
        </div>            

    {% else %}
        <div class="paragraph">{{ child }}</div>
    {% endif %}
{% endfor %}

