{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailschemaorg_tags %}

{% block meta_tags %}
    {{ block.super }}
    {% if not is_pattern_library %}
        {% ld_for_object %}
    {% endif %}
{% endblock meta_tags %}

{% block og_type %}article{% endblock %}

{% block content %}
    <article class="blog">
        {# Header #}
        <header class="blog__header grid grid--blog-header">
            {% include "patterns/components/meta/meta.html" with value=page classes="blog__meta" %}

            <h1 class="blog__heading heading-one">{{ page.title }}</h1>

            {% if page.introduction %}
                <h2 class="blog__intro intro-small">{{ page.introduction }}</h2>
            {% endif %}

            {% if page.authors.all %}
                {% include "patterns/components/authors/authors.html" with authors=page.authors.all author_class="author--blog" authors_class="blog__authors"%}
            {% endif %}

            {% if page.next_post or page.previous_post %}
                <div class="blog__next-prev-post">
                    {% include "patterns/components/next-prev-post/next-prev-post.html" with next_post=page.next_post previous_post=page.previous_post %}
                </div>
            {% endif %}
        </header>

        {% if page.main_image %}
            <div class="grid">
                {% image page.main_image width-900 class="blog__main-image" %}
            </div>
        {% endif %}

        {# Body Content #}
        {% include_block page.body %}
    </article>

    {# Related articles #}
    {% include "patterns/components/related-content/related-content.html" with related_pages=page.related_pages %}
{% endblock %}
