{% extends "patterns/base_page.html" %}

{% block body_class %}template-blog{% endblock %}

{% block content %}

    {% include "patterns/components/hero/hero.html" with value=page %}

    <div class="grid">
        <section class="blog-listing">
            {% for post in posts %}
                {# only show featured posts on the first pagination page, no filters #}
                {% if featured_posts and posts.number == 1 and 'category' not in request.GET %}
                    {% comment %}
                        An even number of posts, n, is required "in between" featured posts.
                        This is dependent on the number of featured posts.
                        We therefore display a featured post when `forloop.counter` is odd.
                        With a pagination of 10:
                            - CASE 1: if there are 5 featured posts; n will be 2
                            - CASE 2: if there are 4 featured posts; n will initially be 2, but after the last featured post
                            n will be 4
                            - CASE 3: if there are 3 featured posts; n will initially be 4, but after the last featured post
                            n will be 2
                            - CASE 4: if there are 2 featured posts; n will initially be 4, but after the 2nd (last) featured post
                            n will be 6
                    {% endcomment %}
                    {% if forloop.counter|divisibleby:2 %}
                        {% include 'patterns/pages/blog/includes/blog_post.html' with post=post %}
                    {% else %}
                        {% if forloop.first %}
                            {% include 'patterns/pages/blog/includes/blog_post.html' with post=featured_posts.0 featured=True %}
                        {% elif forloop.counter == 3 and featured_posts|length >= 4 %}  {# CASE 1, CASE 2 #}
                            {% include 'patterns/pages/blog/includes/blog_post.html' with post=featured_posts.1 featured=True %}
                        {% elif forloop.counter == 5 and featured_posts|length >= 4 %}  {# CASE 1, CASE 2 #}
                            {% include 'patterns/pages/blog/includes/blog_post.html' with post=featured_posts.2 featured=True %}
                        {% elif forloop.counter == 5 and featured_posts|length == 2 or forloop.counter == 5 and featured_posts|length == 3 %}  {# CASE 4, CASE 3 #}
                            {% include 'patterns/pages/blog/includes/blog_post.html' with post=featured_posts.1 featured=True %}
                        {% elif forloop.counter == 7 and featured_posts|length >= 4 %}  {# CASE 1, CASE 2 #}
                            {% include 'patterns/pages/blog/includes/blog_post.html' with post=featured_posts.3 featured=True %}
                        {% elif forloop.counter == 9 and featured_posts|length == 5 %}  {# CASE 1 #}
                            {% include 'patterns/pages/blog/includes/blog_post.html' with post=featured_posts.4 featured=True %}
                        {% elif forloop.counter == 9 and featured_posts|length == 3 %}  {# CASE 3 #}
                            {% include 'patterns/pages/blog/includes/blog_post.html' with post=featured_posts.2 featured=True %}
                        {% endif %}
                        {% include 'patterns/pages/blog/includes/blog_post.html' with post=post %}
                    {% endif %}
                {% else %}
                    {% include 'patterns/pages/blog/includes/blog_post.html' with post=post %}
                {% endif %}
            {% endfor %}
        </section>
    </div>

    <div class="grid">
        <div class="pagination">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}" class="pagination__previous button button--reverse">
                    <p class="button__text">Previous</p>
                    <svg class="arrow" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                </a>
            {% endif %}

            <span class="pagination__page-count mini-meta">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}" class="pagination__next button">
                    <p class="button__text">Next</p>
                    <svg class="arrow" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
