{% extends "patterns/base_page.html" %}

{% block body_class %}template-blog{% endblock %}

{% block content %}

    <div class="container">
    {% include "patterns/components/hero/hero.html" with value=page %}

        <section class="blog-listing">
            {% for post in posts %}
                {% if forloop.first or forloop.counter|divisibleby:6 %}
                    {% include 'patterns/pages/blog/includes/blog_post.html' with post=post featured=True %}
                {% else %}
                    {% include 'patterns/pages/blog/includes/blog_post.html' with post=post %}
                {% endif %}
            {% endfor %}
        </section>

        <div class="pagination">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}" class="pagination__previous button button--reverse">
                    <p class="button__text">Previous</p>
                    <svg class="arrow" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                </a>
            {% endif %}

            <span class="pagination__page-count mini-meta">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}" class="pagination__next button">
                    <p class="button__text">Next</p>
                    <svg class="arrow" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
