<div class="cookie" data-cookie-message>
    <div class="cookie__container">
        <div class="cookie__message">
            <p>We use cookies to measure how you use the website. We want our site to be easy for you to use; understanding how you interact with it helps us know that. <a aria-label="Find out more about how we use cookies" class="cookie__link" href="/cookie-policy/">Find out more</a>.</p>
        </div>
        <div class="cookie__action grid__cookie-message">
            {# ids are needed by GTM #}
            {# Using links not buttons as requested by analytics team #}
            <a class="button" href="#" id="opt-in-wagtail-cookie" data-cookie-opt-in><p class="button__text">Opt in</p><svg class="arrow" aria-hidden="true"><use xlink:href="#arrow"></use></svg></a>
            <a class="button" href="#" id="opt-out-wagtail-cookie" data-cookie-opt-out><p class="button__text">Opt out</p><svg class="arrow" aria-hidden="true"><use xlink:href="#arrow"></use></svg></a>
        </div>
    </div>
</div>
