{% load navigation_tags %}

<footer class="footer">
    {% footer_navigation %}
    <div class="footer__base">
        <div class="grid">
            {# Links #}
            <ul class="footer__links-wrap">
                <li class="footer__link-item">
                    <a class="footer__icon-link footer__icon-link--sponsor" href="/sponsor" aria-label="Sponsor Wagtail">
                        <svg class="footer__icon" aria-hidden="true">
                            <use xlink:href="#money"></use>
                        </svg>
                        <div class="footer__icon-link-content">
                            <p class="footer__icon-link-heading">Sponsor Wagtail</p>
                            <p class="mini-meta">Help build Wagtail enhancements and support the long-term health of the project</p>
                        </div>
                    </a>
                </li>
                <li class="footer__link-item">
                    <a class="footer__icon-link footer__icon-link--contribute" href="https://docs.wagtail.org/en/stable/contributing/index.html#contributing-to-wagtail" aria-label="Contribute code">
                        <svg class="footer__icon" aria-hidden="true">
                            <use xlink:href="#code-file"></use>
                        </svg>
                        <div class="footer__icon-link-content">
                            <p class="footer__icon-link-heading">Contribute code</p>
                            <p class="mini-meta">200+ contributors in 2022!</p>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="footer__sign-up">
                {# Form sign up #}
                <p class="teaser-heading">This Week in Wagtail</p>

                {% comment %}TODO - add sign up form here once created{% endcomment %}

                {# Socials #}
                <div class="footer__socials">
                    <p class="footer__social-heading heading-four">Follow us</p>
                    <ul class="footer__social-list">
                        <li>
                            <a href="https://github.com/wagtail/wagtail" aria-label="Wagtail on Github">
                                <svg class="footer__social-icon footer__social-icon--github" aria-hidden="true">
                                    <use xlink:href="#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/wagtailcms" aria-label="Wagtail on Twitter">
                                <svg class="footer__social-icon" aria-hidden="true">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCXsuEmvisPzuJPaIdpVM0yg" aria-label="Wagtail on YouTube">
                                <svg class="footer__social-icon" aria-hidden="true">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            {# Credit #}
            <p class="footer__credit">Wagtail is an open source project by <a class="footer__link" href="https://torchbox.com/">Torchbox</a>. &copy; {% now "Y" %}</p>
        </div>
    </div>
</footer>
