{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailio_utils %}

<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            {% menu_good_to_go %}
            {% menu_network %}
            {% latest_blog %}
        </div>
        <div class="footer__row">
            {% include "includes/newsletter_signup.html" %}
            {% include "includes/follow.html" %}
        </div>
        <div class="footer__row">
            {% include "includes/copyright.html" %}
        </div>
    </div>
</footer> <!-- /global -->
