{% load wagtailcore_tags %}

<nav class="">
    <ul class="">
        {% for menu_section in menus %}
            <li class="">
                <span>{{ menu_section.name }}</span>
                <ul class="">
                    {% for nav_item in menu_section.nav_items %}
                        <li class="">
                            <a href="{{ nav_item.url }}" title="{{ nav_item.text }}">
                                {% include "patterns/components/icon/icon.html" with icon=nav_item.icon classes="icon-link__svg" %}
                                {{ nav_item.text }} <br/>
                                {{ nav_item.short_description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="">
                    {% with menu_section.call_to_action as cta %}
                        <a href="{{ cta.url }}" title="{{ cta.text }}">
                            {% include "patterns/components/icon/icon.html" with icon=cta.icon classes="icon-link__svg" %}
                            <h3>{{ cta.text }}</h3>
                            <p>{{ cta.sub_heading }}</p>
                            {{ cta.description }}
                        </a>
                    {% endwith %}
                </div>
            </li>
        {% endfor %}
    </ul>
</nav>
