<nav class="footer-menu" aria-label="Main menu">
    <div class="grid">
        {% for menu_section in footer_menu_sections %}
            <div class="footer-menu__column" data-footer-menu-column>
                <div class="footer-menu__column-header">
                    <button class="footer-menu__toggle" aria-label="Open the {{ menu_section.heading }} menu" data-footer-menu-toggle>
                        <svg class="footer-menu__icon footer-menu__icon--open" aria-hidden="true" data-footer-menu-open-icon>
                            <use xlink:href="#plus-in-circle"></use>
                        </svg>
                        <svg class="footer-menu__icon footer-menu__icon--close" aria-hidden="true" data-footer-menu-close-icon>
                            <use xlink:href="#minus-in-circle"></use>
                        </svg>
                    </button>

                    <p class="footer-menu__column-heading">{{ menu_section.heading }}</p>
                </div>

                <ul class="footer-menu__list" data-footer-menu-list>
                    {% for menu_item in menu_section.links %}
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="{{ menu_item.url }}">{{ menu_item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</nav>
