<form class="newsletter-signup" action="https://torchbox.us1.list-manage.com/subscribe/post?u=fa038e191e9c77563d1c3bfa4&amp;id=44fa0c1fe6" method="post">
    <h3 class="newsletter-signup__heading footer__heading">Stay up to date with Wagtail</h3>
    <fieldset class="newsletter-signup__input-container">
        <label for="email" class="newsletter-signup__label">Email address</label>
        <input id="email" name="EMAIL" type="email" placeholder="Enter your email" />
        <button type="submit">Sign up</button>
    </fieldset>
</form>
