{% comment %}
    TODO - populate form action with search url
{% endcomment %}
        <label class="u-sr-only" for="search-page">Enter a search term</label>
        <input class="search__input" id="search-page" type="search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} aria-label="Search the site content">
        <button type="submit" class="button button--dark search__button">
<form action="" method="get" role="search" class="search {% if classes %}{{ classes }}{% endif %}" {% if data_attrs %}{{ data_attrs }}{% endif %} {% if form_id %}id="{{ form_id }}"{% endif %}>
    <fieldset class="search__wrap">
            <p class="button__text">Search</p>
            <svg class="arrow" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
        </button>
    </fieldset>
</form>
