<form action="{% url 'search' %}" method="get" role="search" class="search {% if classes %}{{ classes }}{% endif %}" {% if data_attrs %}{{ data_attrs }}{% endif %} {% if form_id %}id="{{ form_id }}"{% endif %}>
    <div class="search__wrap">
        <label class="u-sr-only" for="{{ input_id }}">Enter a search term</label>
        <input class="search__input" id="{{ input_id }}" type="search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} placeholder="Search...">
        <button type="submit" class="button button--secondary button--form search__button" aria-label="Search the site content">
            <span class="button__text">Search</span>
            <svg class="arrow" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
        </button>
    </div>
</form>
