{% load navigation_tags %}

<header class="app__header header">
    {% include "patterns/components/skip-link/skip-link.html" %}

    <div class="header__identity">
        <a class="header__link" href="/" aria-label="Wagtail.org homepage">
            <svg class="header__logo header__logo--dark" aria-hidden="true">
                <use xlink:href="#wagtail-dark" />
            </svg>
            <svg class="header__logo header__logo--light" aria-hidden="true">
                <use xlink:href="#wagtail-light" />
            </svg>
        </a>
    </div>

    <div class="header__actions">

        <div class="header__nav header__nav--desktop" data-desktop-menu>
            {% space_navigation %}
        </div>

        <div class="header__search">
            {# Desktop Search #}
            <button class="header__button header__button--search u-desktop-only" aria-controls="site-search-modal" aria-label="Open the search" data-site-search-desktop>
                <svg class="header__search-icon" aria-hidden="true">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
            </button>

            {# Mobile Search #}
            <button class="header__button header__button--search u-mobile-only" aria-expanded="false" aria-controls="mobile-search-form" aria-label="Open the search" data-site-search-mobile>
                <svg class="header__search-icon header__search-icon--open" aria-hidden="true">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
                <svg class="header__search-icon header__search-icon--close" aria-hidden="true">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
        </div>

        <div class="header__menu-toggle">
            <button class="burger" data-mobile-menu-toggle aria-haspopup="true" aria-expanded="false" aria-label="Mobile menu toggle">
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
            </button>
        </div>

        <div class="header__nav header__nav--mobile" data-mobile-menu>
            {% space_navigation %}
            {% include "patterns/components/buttons/button.html" with arrow=True url="#" title="Get Tickets" classes="button--space-button-primary" %}
        </div>

        {% include "patterns/components/buttons/button.html" with arrow=True url="#" title="Get Tickets" classes="button--space-button-primary" %}

        {# Mobile search #}
        {% include "patterns/includes/search-form.html" with classes="search--mobile is-hidden u-mobile-only" data_attrs="data-search-mobile" form_id="mobile-search-form" input_id="search-input-mobile" %}

    </div>
</header>

{% get_started_menu %}

{# Desktop search #}
{% include "patterns/includes/search-modal.html" with input_id="search-input-desktop" %}
