<div class="features" id="additional">
    <div class="features__container">
        <h2 class="features__heading">{{ value.title }}</h2>
        {% for group in value.features_groups %}
            <div class="features__section">

                <h3 class="features__sub-heading">{{ group.name }}</h3>

                <div class="features__content">

                    {% for feature in group.features %}

                        <article class="feature-item">
                            <h4 class="feature-item__heading">{{ feature.title }}</h4>
                            <div class="feature-item__description">{{ feature.text }}</div>
                        </article>

                    {% endfor %}

                </div> 

            </div> 
        {% endfor %}
    </div>
</div> 