{% load  wagtailcore_tags wagtailimages_tags wagtailembeds_tags wagtailio_utils %}

<section class="vertical-tabs">

    <div class="vertical-tabs__container">

        <header class="page-heading">

            <h1 class="page-heading__heading">{{ value.title }}</h1>

            <div class="page-heading__introduction">
                <p>{{ value.introduction }}</p>
            </div> <!-- /introduction -->

            {% for link in value.links %}
                {% include_block link with link_classes="view-all view-all--internal button  " %}
            {% endfor %}

        </header> <!-- /text-container -->

        {% if value.features %}

            <nav class="tabs">

                <ul class="js-tabs">
                    {% for feature in value.features %}

                        <li class="feature">
                            <a href="#{{ feature.title|slugify }}">
                                <h3>{{ feature.title }}</h3>
                                <p>{{ feature.introduction }}</p>
                            </a>
                        </li>

                    {% endfor %}
                </ul>
                <!-- TODO: Do we need to add this link dynamically? -->
                <a href="#additional" class="view-all view-all--light view-all--internal">
                    View additional features
                    <svg height="30px" width="30px"><use xlink:href="#arrow"></use></svg>
                </a>
            </nav> <!-- /tabs -->

            <div class="tab-content-container">
                {% for feature in value.features %}


                    <div id="{{ feature.title|slugify }}" class="tab-content current">

                        <div class="content">

                            <header>
                                <h3>{{ feature.title }}</h3>
                                {% if feature.documentation_link %}
                                    <a href="{{ feature.documentation_link }}" class="view-all button  ">
                                        {{ feature.title }} documentation
                                        <svg height="30px" width="30px"><use xlink:href="#arrow"></use></svg>
                                    </a>
                                {% endif %}
                            </header>

                            {% for f in feature.feature_aspects.all %}
                                {% if f.feature_aspect.video and f.feature_aspect.video.type == 'video' %}
                                    <div class="video-embed">
                                        <video autoplay loop muted>
                                            <source type="{{ f.feature_aspect.video.type }}/{{ f.feature_aspect.video.file_extension }}" src="{{ f.feature_aspect.video.url }}">
                                        </video>
                                    </div>
                                {% elif f.feature_aspect.video_url %}
                                    <div class="video-container">
                                        <div class="video-embed">
                                            {% embed f.feature_aspect.video_url 1000 %}
                                        </div>
                                    </div>
                                {% elif f.feature_aspect.screenshot %}
                                    <div class="video-container">
                                        <div class="app-bar">
                                            <span></span><span></span><span></span>
                                        </div>
                                        {% image f.feature_aspect.screenshot width-1000 %}
                                    </div><!-- /image-container -->
                                {% endif %}

                                {% for bullet in f.feature_aspect.bullets.all %}
                                    <h4>{{ bullet.title }}</h4>
                                    {{ bullet.text|richtext }}
                                {% endfor %}
                            {% endfor %}

                        </div> <!-- /content -->

                        <nav class="tab-nav ">

                            {% with prev_feature=value.features|carousel_prev:forloop.counter0 %}

                                <a class="button  view-all js-tabs-proxy-link" href="#{{ prev_feature.title|slugify }}">
                                    {{ prev_feature.title }}
                                    <svg height="30px" width="30px"><use xlink:href="#arrow"></use></svg>
                                </a>

                            {% endwith %}

                            {% with next_feture=value.features|carousel_next:forloop.counter0 %}

                                <a class="button  view-all js-tabs-proxy-link" href="#{{ next_feture.title|slugify }}">
                                    {{ next_feture.title }}
                                    <svg height="30px" width="30px"><use xlink:href="#arrow"></use></svg>
                                </a>

                            {% endwith %}
                        </nav> <!-- /tab-nav -->


                    </div>

                {% endfor %}

            </div> <!-- /tab-content-container -->

        {% endif %}

        </div>


</section> <!-- /features -->
