{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="page-content">
        <header class="page-heading ">
            <h1 class="page-heading__heading">{{ page.title }}</h1>
            {% if page.intro %}
                <div class="page-heading__introduction">
                    {{ page.intro }}
                </div>
            {% endif %}
            <ul>
                {% for section in page.body %}
                    <li><a href="#{{ section.value.title|slugify }}">{{ section.value.title }}</a></li>
                {% endfor %}
            </ul>
        </header>
        <div class="container">
            {% include_block page.body %}
        </div>
    </div>
{% endblock %}
