{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags %}

{% block titletag %}GitHub Roadmap{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title='GitHub Roadmap' icon='crosshairs' %}

    <div class="nice-padding">
        <h2>Import</h2>
        <p>
            Import roadmap data from
            <a href="https://github.com/wagtail/roadmap">wagtail/roadmap</a>.
            Roadmap data is retrieved from the repository's
            <a href="https://github.com/wagtail/roadmap/milestones">Milestones</a>
            (not the Projects feature).
        </p>
        <p>
            The import will copy the milestones as
            <a href="{% url 'wagtailsnippets_roadmap_milestone:list' %}">
                Roadmap Milestone
            </a>
            snippets. If instances of the milestones or issues already exist,
            they will be updated with the latest data from GitHub. Custom data
            such as the publish flag and sponsorship URL will be preserved.
        </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="import-active" class="button button-longrunning">
                Import active milestones
            </button>
            <button type="submit" name="import-all" class="button button-longrunning">
                Import all milestones
            </button>
        </form>
    </div>

{% endblock %}
