.blog-listing {
  display: grid;
  grid-template-columns: 1fr;
  gap: $gutter;

  @include media-query(medium) {
    gap: $gutter-lg;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-query(large) {
    gap: $gutter-xl;
  }
}

// TODO: Separate file and convert font px to rem
.blog-post {
  $root: &;
  display: flex;

  &__title {
    text-decoration: none;
    color: $color--off-black;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }

    > h3 {
      margin-bottom: 0;
    }
  }

  &__image-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 350px;

    @media screen and (prefers-reduced-motion: no-preference) {
      &:hover,
      &:active,
      &:focus {
        #{$root}__image {
          transform: translate(-50%, -50%) scale(1.05);
        }
      }
    }
  }

  &__listing-text {
    color: $color--grey;
    font-size: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    background: $color--white;
    padding: $gutter-sm;
  }

  &__image {
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease;
    max-width: none;
    width: 100%;

    @include media-query(large) {
      width: auto;
    }
  }

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    //font-size: 0.875rem;
  }

  &__icon {
    width: 22px;
    height: 22px;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  &--featured {
    display: grid;

    @include media-query(medium) {
      grid-column: 1 / span 2;

      #{$root}__listing-text {
        font-size: 20px;
      }
    }

    @include media-query(large) {
      grid-template-columns: 1fr 2fr;
    }

    #{$root}__content {
      border-radius: 0 15px 15px 0;
      gap: 20px;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 80%;
        height: 95%;
        border-radius: 15px;
        background: #B3E7E8;
        opacity: 0.75;
        transform: rotate(-2deg) translate3d(10px, 10px, 0);
        z-index: -1;
      }

      @include media-query(medium) {
        padding: $gutter $gutter-lg;

        // stylelint-disable-next-line max-nesting-depth
        &::after {
          transform: rotate(-4deg) translate3d(18px, 18px, 0);
          width: 50%;

        }
      }

      @include media-query(large) {
        padding: $gutter-lg $gutter-xl;
      }
    }

  }
}
