.blog-listing {
    @include sf-spacing(2);
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: $gutter;

    @include media-query(medium) {
        grid-column: 2 / span 3;
        gap: $gutter-lg;
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-query(large) {
        grid-column: 2 / span 5;
        gap: $gutter-xl;
    }
}
