.footer {
    $root: &;

    &__base {
        background-color: var(--color--highlight);
        padding: 60px 0;
        color: $color--white;
    }

    &__links-wrap {
        grid-column: 2 / span 2;
        margin-bottom: 60px;

        @include media-query(medium) {
            grid-column: 2 / span 3;
        }

        @include media-query(large) {
            margin-bottom: 0;
            grid-column: 2 / span 2;
            padding-right: 20%;
        }
    }

    &__link-item {
        list-style: none;
        margin-bottom: 20px;

        @include media-query(medium) {
            margin-bottom: 40px;
        }

        @include media-query(large) {
          margin-bottom: 60px;
      }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__sign-up {
        grid-column: 2 / span 2;

        @include media-query(medium) {
            grid-column: 2 / span 3;
        }

        @include media-query(large) {
            grid-column: 4 / span 3;
        }
    }

    &__credit {
        grid-column: 2 / span 2;
        font-size: 1rem;
        margin-top: 30px;

        @include media-query(medium) {
            grid-column: 2 / span 3;
        }

        @include media-query(large) {
            margin-top: 0;
            font-size: 0.8rem;
            grid-column: 2 / span 3;
        }
    }

    &__icon-link {
        color: $color--white;
        text-decoration: none;
        display: flex;
        gap: 15px;

        &-content {
            transition: color 0.3s; 
             
        }

        &:hover {
            #{$root}__icon-link-content {
                color: $color--teal-100;
            }

            #{$root}__icon {
                stroke: $color--teal-100;
            }
        }

        &--contribute {
            position: relative;

            &::after {
                content: '200+';
                background-color: $color--teal-100;
                border: 2px solid $color--off-black;
                color: $color--off-black;
                font-size: 0.5rem;
                font-weight: $weight--bold;
                border-radius: 50%;
                position: absolute;
                width: 30px;
                height: 30px;
                transform: rotate(-15deg);
                display: flex;
                align-items: center;
                justify-content: center;
                inset: -10px;

            }
        }
    }

    &__icon-link-heading {
        font-weight: $weight--bold;
        line-height: 1.3rem;
        margin-bottom: 4px;
        font-size: 1.25rem;

        @include media-query(large) {
            font-size: 1rem;
        }
    }

    &__icon {
        fill: transparent;
        stroke: $color--white;
        stroke-width: 3px;
        width: 45px;
        height: 50px;
        flex-shrink: 0;
        transition: stroke 0.3s;
    }

    &__link {
        color: $color--teal-100;
        text-decoration: underline;
        transition: color $transition;

        &:hover {
            text-decoration: none;
            color: $color--white;
        }
    }

    &__social-heading {
        font-weight: $weight--bold;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 10px;

        @include media-query(medium) {
            gap: 20px;
        }

    }

    &__social-list {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    &__social-icon {
        fill: $color--white;
        width: 34px;
        height: 34px;
        transition: color 0.3s;

        &:hover {
            fill: $color--teal-100;
            transition: fill  $transition;
        }

    }

    &__survey-link {
        background-color: $color--teal;
        position: fixed;
        bottom: -2px;
        right: 2rem;
        padding: 12px 16px 10px;
        color: $color--white;
        display: flex;
        z-index: 10;
        border-radius: 10px 10px 0 0;
        transition: bottom 0.1s linear;
        font-size: 0.75rem;
        font-family: $font--primary;
        width: 230px;
        justify-content: space-between;
        align-items: center;
        text-decoration: inherit;

        img {
            max-height: 20px;
            width: auto;
            position: relative;
            top: -2px;
        }

        &:hover {
            color: $color--white;
            bottom: 0;
        }
    }

    &__sub-footer {
        margin-bottom: 30px;

        @include media-query(medium) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @include media-query(large) {
            margin-bottom: 40px;
        }
    }
}
