.header {
    max-width: $site-width;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-query(medium) {
        padding: 15px 30px;
    }

    @include media-query(large) {
        padding: 35px 50px;
    }

    &__logo {
        width: 100px;
        height: 40px;

        @include media-query(medium) {
            width: 155px;
            height: 65px;
        }
    }

    &__items-wrap {
        display: flex;
        align-items: center;
        gap: 20px;

        @include media-query(medium) {
            gap: 40px;
        }
    }

    &__button {
        margin: 0;
        width: auto;

        &--get-started {
            display: none;

            @include media-query(medium) {
                padding: 15px 20px;
                display: inline-flex;
                font-weight: $weight--bold;
                font-size: 1rem;
            }

            @include media-query(large) {
                font-size: 0.8rem;
            }

            svg {
                color: $color--teal;
                width: 15px;
                height: 15px;
                transition: color 0.3s;
            }

            &:hover {
                // stylelint-disable-next-line max-nesting-depth
                svg {
                    color: $color--teal-100;
                }
            }
        }

        &--search {
            width: 25px;
            height: 25px;
            padding: 0;

            svg {
                width: inherit;
                height: inherit;
            }
        }

        &:hover {
            svg {
                transform: none;
            }
        }
    }
}
