.header {
    max-width: $site-width;
    margin: 0 auto 70px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media-query(medium) {
        padding: 35px 50px;
        margin: 0 auto;
    }

    &__actions {
        display: flex;
        align-items: center;
        position: relative;
        top: -7px;
    }

    &__logo {
        width: 100px;
        height: 40px;

        @include media-query(medium) {
            width: 153px;
            height: 65px;
        }
    }

    &__link {
        display: block;
    }

    &__identity {
        margin-right: 30px; // ensure logo doesn't bump into github button
    }

    &__nav {
        align-items: center;

        &--desktop {
            display: none;

            @media only screen and (min-width: $header-desktop) {
                display: flex;
            }
        }

        &--mobile {
            @include z-index(nav);
            display: flex;
            flex-direction: column;
            position: fixed;
            inset: $header-mobile-height auto auto 0;
            width: 100%;
            height: 100%;
            background-color: $color--white;
            transform: translate3d(100%,0,0);
            transition: transform $transition;

            @include media-query(medium) {
                inset: $header-tablet-height auto auto 0;
            }

            @media only screen and (min-width: $header-desktop) {
                display: none;
            }

            &.is-visible {
                transform: translateZ(0);
                overflow-y: scroll;
            }
        }
    }

    &__button {
        margin: 0;
        width: auto;

        &--get-started {
            display: none;
            padding: 10px 13px;
            font-weight: $weight--bold;
            font-size: 0.8rem;
            margin-right: 15px;

            @media only screen and (min-width: $header-desktop) {
                display: inline-flex;
                padding: 15px 20px;
                margin-right: 0;
            }

            svg {
                color: $color--teal;
                width: 15px;
                height: 15px;
                transition: color 0.3s;
            }

            &:hover {
                // stylelint-disable-next-line max-nesting-depth
                svg {
                    color: $color--teal-100;
                }
            }

            .header__nav--mobile & {
                display: block; // show get started on mobile
            }
        }

        &--search {
            width: 25px;
            height: 25px;
            padding: 0;

            svg {
                width: inherit;
                height: inherit;
                fill: currentColor;
            }
        }

        &:hover {
            svg {
                transform: none;
            }
        }
    }

    &__github {
        display: none;
        margin-right: 64px;

        @media only screen and (min-width: $header-github) {
            display: block;
        }
    }

    &__search {
        position: relative;
        top: 1px;
        display: flex;
        align-items: center;
        margin-right: 10px;

        @include media-query(medium) {
            margin-right: 20px;
        }

        @include media-query(large) {
            margin-right: 30px;
            top: 3px;
        }

        @media only screen and (min-width: $header-github) {
            margin-right: 40px;

        }

    }

    &__search-icon {
        transition: color $transition;

        &--open {
            color: $color--black;

            .is-expanded & {
                display: none;
            }
        }

        &--close {
            display: none;
            color: $color--white;
            background-color: $color--black;
            padding: 5px;
            border-radius: 50%;

            .is-expanded & {
                display: block;
            }
        }

        &:hover,
        &:focus {
            color: $color--primary;
        }
    }

    &__menu-toggle {

        @media only screen and (min-width: $header-desktop) {
            display: none;
        }
    }

}
