.showcase-page {
    &__hero {
        margin-bottom: 50px;
    }

    &__intro {
        h2 {
            font-weight: 400;
        }
    }

    &__content {
        grid-column: 2 / span 2;

        @include media-query(medium) {
            grid-column-end: span 3;
        }

        @include media-query(large) {
            grid-column-end: span 5;
        }
    }
}

.showcase-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 50px 0;

    @include media-query(medium) {
        grid-template-columns: 1fr 1fr;
    }
}
