// Colors
$color--black: #000;
$color--off-black: #262626;
$color--indigo: #2e1f5e;
$color--teal: #007d7e;
$color--light-teal: #effeff;
$color--teal-100: #80d7d8;
$color--teal-200: #00b0b1;
$color--teal-300: #d9f3f3;
$color--eggshell: #b3e7e8;
$color--grey: #5c5c5c;
$color--light-grey: #edeaf3;
$color--cool-grey: #c8c8c8;
$color--light-grey-100: #f3f5f8;
$color--white:#fff;
$color--pink: #f9cbce;
$color--off-black-30: #2626264d;

// Mapping colours
:root {
    --color--background: #{$color--white};
    --color--highlight: #{$color--indigo};
    --color--text: #{$color--off-black};
    --color--heading: #{$color--black};
    --color--meta: #{$color--grey};
    --color--interaction: #{$color--teal};
    --color--card: #{$color--light-grey-100};
    --color--large-icon: #{$color--teal-200};
    --color--large-icon-border: #{$color--black};
    --color--footer-bg: #{$color--teal-300};
}

.theme-dark {
    --color--background: #{$color--off-black};
    --color--highlight: #{$color--black};
    --color--text: #{$color--white};
    --color--heading: #{$color--white};
    --color--meta: #{$color--cool-grey};
    --color--interaction: #{$color--teal-200};
    --color--card: #{$color--black};
    --color--large-icon: #{$color--teal};
    --color--large-icon-border: #{$color--black};
    --color--footer-bg: #{$color--off-black};
}


$color--primary: $color--teal;
$color--secondary: var(--color--highlight);

// Fonts
$font--primary: 'Kumbh Sans', sans-serif;
$font--code: 'courier new', monospace;

// Font weights
$weight--bold: 700;
$weight--semibold: 600;
$weight--regular: 400;

// Breakpoints
$breakpoints: (
    'medium' '(min-width: 599px)',
    'large' '(min-width: 1023px)',
    'extra-large' '(min-width: 1279px)'
);

// One off breakpoints
$header-desktop: 1200px; // point at which we move to burger menu
$header-github: 1350px; // point at which we show github badge

// Header vars
$header-mobile-height: 76px;
$header-tablet-height: 142px;

// Site grid
$site-width: 1440px;
$gutter-sm: 20px;
$gutter: 30px;
$gutter-lg: 60px;
$gutter-xl: 80px;

// Border Radius
$rounded-sm: 3px;
$rounded-md: 6px;
$rounded-lg: 10px;
$rounded-xl: 15px;

// Animation
$transition: 0.25s ease-out;

// Zindices
$z-index: (
    under: -1,
    base: 10,
    overlap: 20,
    header: 30,
    footer: 40,
    nav: 50,
    cookie-message: 100,
    modal: 110,
    modal-controls: 120,
);
