// Colors
$color--black: #000;
$color--off-black: #262626;
$color--indigo: #2E1F5E;
$color--teal: #007D7E;
$color--teal-100: #80D7D8;
$color--teal-200: #00B0B1;
$color--teal-300: #d9f3f3;
$color--eggshell: #B3E7E8;
$color--grey: #5C5C5C;
$color--light-grey: #EDEAF3;
$color--white:#FFF;
$color--pink: #F9CBCE;
$color--off-black-30: #2626264d;

// Fonts
$font--primary: 'Kumbh Sans', sans-serif;

// Font weights
$weight--bold: 700;
$weight--regular: 400;

// Breakpoints
$breakpoints: ('medium' '(min-width: 599px)', 'large' '(min-width: 1023px)');

// Site grid
$site-width: 1440px;
$gutter: 30px;

// Border Radius
$rounded-sm: 3px;
$rounded-md: 6px;
$rounded-lg: 10px;
$rounded-xl: 15px;
