{% load wagtailcore_tags wagtailembeds_tags %}

<div class="grid">
    <div class="spacegrid">
        <div class="space-video-block">
            {% if value.heading %}
                <h2 class="space-video-block__title">{{ value.heading }}</h2>
            {% endif %}
            <div class="space-video-block__media">
                <div class="space-video-block__embed">
                    {% if value.video %}
                        <video controls>
                            {% for source in value.video.sources %}
                                <source type="{{ source.type }}" src="{{ source.src }}">
                            {% endfor %}
                        </video>
                    {% else %}
                        {% embed value.embed.url %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
